[2017-02-22 19:39] #582 closed

[2017-02-23 13:48] ryanlanciaux commented on #578
I'm going to close this one for now but we will be updating a subgrid plugin soon but it will live here https://github.com/GriddleGriddle/griddle-subgrid-plugin -- This version targets the alpha version of Griddle and it still needs to be updated.

[2017-02-23 13:48] #578 closed

[2017-02-23 22:37] ryanlanciaux commented on #223
I realize it's been quite some time since you asked this but we recently release 1.0 which makes customization a lot more powerful. This is now possible with Griddle through overriding components rather than using a "customRowComponent" -- If this is still applicable for you please [take a look at the customization section on the docs](http://griddlegriddle.github.io/Griddle/docs/customization/) a

[2017-02-23 22:37] #223 closed

[2017-02-23 22:39] ryanlanciaux commented on #224
@legomind is correct -- Right now, we need a height to perform calculations on how the virtual scrolling should work. We have a plugin model in Griddle 1.0 and are trying to think of ways to make our virtual scrolling plugin more powerful and flexible.

I'm going to close this for now but hopefully there will be some updates soon for this plugin :)

[2017-02-23 22:39] #224 closed

[2017-02-23 22:40] #225 closed

[2017-02-23 22:41] kevinhughes27 commented on #223
Congrats on 1.0! I'll have to check it out!

[2017-02-23 22:42] ryanlanciaux commented on #223
Thanks! :)

[2017-02-23 22:43] ryanlanciaux commented on #232
We recently release 1.0 and this should no longer be an issue. Please feel free to open a new issue for any problems that you are seeing. Thanks!

[2017-02-23 22:43] #232 closed

[2017-02-23 22:45] #230 closed

[2017-02-23 22:50] ryanlanciaux commented on #270
I realize this was opened quite some time ago but we've recently release Griddle 1.0 which has a plugin model. We currently ship with a `LocalPlugin` (state management for all data being in the front-end) and `PositionPlugin` (virtual scrolling) but will be adding more plugins as separate npm modules in the near future (and hopefully there will be other community ones as well :+1:)

I'm going to c

[2017-02-23 22:50] #270 closed

[2017-02-24 00:43] tim-field commented on #233
Also seeing this :(

[2017-02-24 00:44] tim-field commented on #579
let alone docs for 0.7 anymore

[2017-02-24 02:17] ryanlanciaux commented on #579
We have a link to the 0.x docs on the home page but maybe we need to call it out a little more. https://griddlegriddle.github.io/v0-docs/

We're still finishing up the 0.x to 1.0 guide and the recommendation would be if 0.x is working for you not to upgrade until this guide is complete. Griddle 1.0 is a bit of a change from the 0.x version but is necessary for the longer term vision of the project

[2017-02-24 02:41] ryanlanciaux commented on #218
See - https://github.com/GriddleGriddle/Griddle/pull/508 :+1:

[2017-02-24 02:41] #218 closed

[2017-02-24 02:56] ryanlanciaux commented on #220
Extremely sorry about the delay and thank you for the fantastic steps to reproduce. This has been fixed in version 1.0

Don't mind the really ugly styles here :)

## Initial State ##
![initial](https://cloud.githubusercontent.com/assets/85041/23288656/b316aec4-fa12-11e6-9750-f4a8b2f31bd1.png)

## Filtered ##
![filtered](https://cloud.githubusercontent.com/assets/85041/23288664/bda1975a-fa12-11e6-8

[2017-02-24 02:56] #220 closed

[2017-02-24 02:58] #234 closed

[2017-02-24 10:32] ryanlanciaux commented on #233
I realize it's been some time since this issue has been opened but we have recently released 1.0 which is quite a bit different. This should be a bit better in the latest version. Please [see this page on a "Controlled Griddle" component](http://griddlegriddle.github.io/Griddle/examples/controlling-griddle/) for more info.

[2017-02-24 10:32] #233 closed

[2017-02-24 10:34] ryanlanciaux commented on #547
I realize this is from a bit ago but wanted to reply that we have released version 1.0 which no longer uses grunt (and should not have this issue any more). Thanks!

[2017-02-24 10:34] #547 closed

[2017-02-24 10:39] ryanlanciaux commented on #246
I realize that it has been some time since this issue was active, however, I wanted to respond here and note that we have recently released 1.0 of Griddle. It is possible to interact with the entire state tree of Griddle at any component (through customization) and I imagine the `npm-install` issues posted above should be a less-common thing.

Please [see here for information on customization in G

[2017-02-24 10:39] #246 closed

[2017-02-24 10:42] ryanlanciaux commented on #213
We've tried to make this a bit nicer in version 1.0. Please [see "Nested data" from the _just released_ Griddle 1.0 documentation](http://griddlegriddle.github.io/Griddle/examples/nestedData/). :+1:

[2017-02-24 10:42] #213 closed

[2017-02-24 10:48] ryanlanciaux commented on #260
This should be a bit better in 1.0. I realize this is from some time ago but wanted to note here. Also, Griddle now supports a nicer way of providing custom filters through [customization](http://griddlegriddle.github.io/Griddle/docs/customization/) and [plugin](http://griddlegriddle.github.io/Griddle/docs/plugins/) options.

Closing this one for now but please feel free to open a new issue if any

[2017-02-24 10:48] #260 closed

[2017-02-24 10:53] ryanlanciaux commented on #272
Hi there -- I realize this conversation is from quite some time ago but wanted to note that we have released Griddle 1.0 that has more events that can be tied into but also provide customization options where we didn't provide a built-in event.

For instance, any component Griddle uses can be passed in as a prop -- I think an option for adding more functionality would be to wrap a default Griddle

[2017-02-24 10:53] #272 closed

[2017-02-24 11:02] ryanlanciaux commented on #269
I realize that quite some time has gone on since this issue but we have recently released Griddle 1.0 and have taken this specific issue into account when designing the new features. Griddle settings are now a bit more composable and [Griddle plugins](http://griddlegriddle.github.io/Griddle/docs/plugins/) can specify what shows up in settings ([more info about the new settings architecture -- code

[2017-02-24 11:02] #269 closed

[2017-02-24 11:05] #221 closed

[2017-02-24 11:08] ryanlanciaux commented on #231
In addition to using refs as described above (or [function for obtaining refs](https://facebook.github.io/react/docs/refs-and-the-dom.html)) we have added additional customization features to Griddle. Any component used in griddle can now be passed in as an override and this functionality could be achieved through passing in custom components. Please [see customization in the latest Griddle docs](

[2017-02-24 11:08] #231 closed

[2017-02-24 11:10] ryanlanciaux commented on #215
Hi there! This should now be possible with the latest [customization options from Griddle 1.0](http://griddlegriddle.github.io/Griddle/docs/customization/). Please feel free to open a new issue if any problems are encountered.

[2017-02-24 11:10] #215 closed

[2017-02-24 11:15] ryanlanciaux commented on #267
I realize this is from some time ago but we recently released Griddle 1.0 that has a bit more features around this scenario. Now a `ColumnDefinition` can be passed in for a column that doesn't exist and a custom component can be supplied. This component can connect to Griddle's state and display the data from any other column.

Please [see customization from the recently released docs](http://grid

[2017-02-24 11:15] #267 closed

[2017-02-24 11:18] ryanlanciaux commented on #271
I realize this is from some time ago but I think arrow functions + custom components may be a good option here. Please feel free to follow-up if that still doesn't seem right and there are some additional options (probably around [plugins in Griddle 1.0](http://griddlegriddle.github.io/Griddle/docs/plugins/)) that may help. :+1:

[2017-02-24 11:18] #271 closed

[2017-02-24 11:19] ryanlanciaux commented on #204
HI there - sorry for an incredibly late response here but we've added more customization options in Griddle 1.0 -- if the built in properties for interacting are not enough, overrides can be provided to just about anything :)

Please see [customization options](http://griddlegriddle.github.io/Griddle/docs/customization/) or [plugin options](http://griddlegriddle.github.io/Griddle/docs/plugins/) fo

[2017-02-24 11:19] #204 closed

[2017-02-24 11:31] ryanlanciaux commented on #250
Sorry about the delay on this one but we have released Griddle 1.0 -- custom sorting methods can be passed in on columnDefinitions now. Please see [customization documentation](http://griddlegriddle.github.io/Griddle/docs/customization/) and the [code here for supplying customSort](https://github.com/GriddleGriddle/Griddle/blob/master/stories/index.js#L119). Closing this one for now but please fee

[2017-02-24 11:31] #250 closed

[2017-02-24 11:36] ryanlanciaux commented on #256
Sorry about the delay on this! We have gone a slightly different route and are going with "virtual" scrolling in Griddle rather than the previous method where we kept appending rows to the table when scrolling. To enable this feature, `import Griddle, {plugins} from 'griddle-react'` and add position plugin to the Griddle plugins prop.

Modifying Griddle scrolling to use the page scrollbar instead

[2017-02-24 11:36] #256 closed

[2017-02-24 11:37] ryanlanciaux commented on #265
I realize this is from quite some time ago but wanted to note that we've released Griddle 1.0 and have tested with browserify before releasing. I'm going to close this one for now but please feel free to open a new issue if any problems are encountered. :+1:

[2017-02-24 11:37] #265 closed

[2017-02-24 11:44] ryanlanciaux commented on #203
Sorry that we have left this open for so long! We've recently released Griddle 1.0 and have changed how styling and customization works.

This should be fixed in the latest version by using the [customization interface](http://griddlegriddle.github.io/Griddle/docs/customization/) (with some assist from the [styling options](http://griddlegriddle.github.io/Griddle/docs/styles/) as well). Please fee

[2017-02-24 11:44] #203 closed

[2017-02-24 11:47] ryanlanciaux commented on #273
Griddle now has [customization options](http://griddlegriddle.github.io/Griddle/docs/customization/) where any component used in Griddle can be passed in as an override. A higher order component around the default filter could wrap the filter event in a debounce as you describe.

Closing this one for now but please feel free to open a new issue if any problems are encountered. :+1:

[2017-02-24 11:47] #273 closed

[2017-02-24 11:50] ryanlanciaux commented on #289
Griddle 1.0 has been released along with the customization options mentioned. Please [see the customization documentation](http://griddlegriddle.github.io/Griddle/docs/customization/) for more info :)

[An example of this customization in use is available here](http://griddlegriddle.github.io/Griddle/examples/asList/). Closing this for now but please feel free to open a new issue if any problems a

[2017-02-24 11:50] #289 closed

[2017-02-24 11:52] ryanlanciaux commented on #316
I realize this issue is from over a year ago but Gridde 1.0 is released along with a change in dependencies. Thank you for this suggestion and offer to help!

I think it's a good time to close this one. Please feel free to open a new issue if any problems are encountered :+1:

[2017-02-24 11:52] #316 closed

[2017-02-24 11:57] ryanlanciaux commented on #309
I realize that quite a bit of time has gone on since this conversation but we just released Griddle 1.0 and I've been trying my best to follow-up on open issues. The plugin API is released and [documentation is available here](http://griddlegriddle.github.io/Griddle/docs/plugins/).

For this specific feature, if there was any interest, I think that the plugin could make an enhancer for the Column

[2017-02-24 11:57] #309 closed

[2017-02-24 12:00] ryanlanciaux commented on #290
Thank you all for the discussion around this and for the noted PR. We have recently released Griddle 1.0 that has a customSort property on ColumnDefintion. Please [see this bit of code](https://github.com/GriddleGriddle/Griddle/blob/master/stories/index.js#L119) in our story definitions for an example of this and [the customization docs](http://griddlegriddle.github.io/Griddle/docs/customization/)

[2017-02-24 12:00] #290 closed

[2017-02-24 12:01] ryanlanciaux commented on #319
Sorry about the delay on this one. We have recently released Griddle 1.0 which has quite a bit more customization features. Please [see the customization docs for more information on how this may be achieved](http://griddlegriddle.github.io/Griddle/docs/customization/).

[2017-02-24 12:01] #319 closed

[2017-02-24 12:05] ryanlanciaux commented on #321
I wanted to follow-up -- thank you for adding these benchmarks. We recently released Griddle 1.0 and really need to do more benchmarking on performance as that's going to be a much bigger focus now that the API is more along the lines of what we'd like it to be. We generally take the approach of make it work with the "right" API and then tune the underlying code to get to the desired performance.

[2017-02-24 12:08] #286 closed

[2017-02-24 12:10] ryanlanciaux commented on #287
Hi there and sorry about the delay! We've recently released Griddle 1.0 and have added quite a bit more options around customization. Please [see the latest customization documentation for more information](http://griddlegriddle.github.io/Griddle/docs/customization/). Closing this one for now but please feel free to open a new issue if any problems are encountered. :+1:

[2017-02-24 12:10] #287 closed

[2017-02-24 22:34] curt-mitch commented on #579
Do you have a rough idea of when the migration guide will be complete?

[2017-02-25 05:44] ryanlanciaux commented on #222
We are no longer using the dataset attribute in Griddle 1.0 -- I am on Mac and Linux mostly but will close this one for now. Please feel free to open a new issue if any problems are encountered. :+1:

[2017-02-25 05:44] #222 closed

[2017-02-25 05:54] ryanlanciaux commented on #326
Sorry about the extreme delay on this one but I think the recommendation would be to use the styles as noted above or the [styling API from Griddle 1.0](http://griddlegriddle.github.io/Griddle/docs/styles/). I'm closing this one for now but please feel free to open a new issue if any problems are encountered. :+1:

[2017-02-25 05:54] #326 closed

[2017-02-25 05:57] ryanlanciaux commented on #324
We've recently released Griddle 1.0 which takes more of a plugin model approach to features such as subgrid rather than shipping with a lot of these features in the core module. Subgrids will be coming as a plugin at some point (or if someone wants to take it on -- this would need to be updated from the alpha style plugins to current, release plugins).

Closing this one for now (since sub grid is

[2017-02-25 05:57] #324 closed

[2017-02-25 06:05] ryanlanciaux commented on #318
Hi and sorry about the extreme delay in getting back with a response on this one! We've recently released Griddle 1.0 -- the [customization options in Griddle 1.0](http://griddlegriddle.github.io/Griddle/docs/customization/) should make this no longer an issue. Please feel free to open a new issue if there are any problems that are encountered. :+1:

[2017-02-25 06:05] #318 closed

[2017-02-25 06:10] ryanlanciaux commented on #315
I'm sorry about the delay -- I'm really not sure what would be causing this and am a bit hesitant to say it's something in Griddle (it very well could be) with the interaction with another component going on here. I realize it's been some time since this issue was opened and we've released Griddle 1.0 since then.

I'm going to close this one for now but please feel free to open a new issue if you'

[2017-02-25 06:10] #315 closed

[2017-02-25 06:13] ryanlanciaux commented on #313
Hi there and sorry about the extreme delay in getting back with you on this one. We've released Griddle 1.0 that has new [customization](http://griddlegriddle.github.io/Griddle/docs/customization/) and (styling)[http://griddlegriddle.github.io/Griddle/docs/styles/] options that should allow for what you're trying to do here.

I'm closing this one for now but please feel free to open a new issue if

[2017-02-25 06:13] #313 closed

[2017-02-25 06:16] ryanlanciaux commented on #303
Sorry about the really long delay here. We have recently shipped Griddle 1.0 and this should no longer be an issue. Please feel free to open a new issue if there are any problems that you encounter. :+1:

[2017-02-25 06:16] #303 closed

[2017-02-25 06:17] ryanlanciaux commented on #298
This should be fixed with Griddle 1.0.

[2017-02-25 06:17] #298 closed

[2017-02-25 15:34] ryanlanciaux commented on #293
Hi there and sorry about the extreme delay on responding to this issue! We've released Griddle 1.0 which has a big focus on customization and plugin support. The new [customization options](http://griddlegriddle.github.io/Griddle/docs/customization/) should be useful in this scenario -- I'm going to close this one for now but please feel free to open another issue if there are any problems that ar

[2017-02-25 15:34] #293 closed

[2017-02-25 15:36] ryanlanciaux commented on #285
I realize this issue is from some time ago but we have recently released Griddle 1.0 that makes this a bit clearer. Now the columns you want to display can be provided via a `<ColumnDefinition />` component whether or not the column has data. Please [see here in the docs](http://griddlegriddle.github.io/Griddle/docs/) for more information on this. :+1:

[2017-02-25 15:36] #285 closed

[2017-02-26 01:51] ryanlanciaux commented on #283
Hi there! I know that this was opened some time ago but we've recently released Griddle 1.0 and this should now be resolved (in that version).

The [controlled Griddle component](http://griddlegriddle.github.io/Griddle/examples/controlling-griddle/) page and [customization page] on the 1.0 docs may be of particular interest here. Closing this one fore now but please feel free to open a new issue i

[2017-02-26 01:51] #283 closed

[2017-02-26 01:59] ryanlanciaux commented on #282
All  -- thank you for the discussion here. We've released Griddle 1.0 and have a new customization model that may make interacting with column widths easier. Please take a look at [the styles section](http://griddlegriddle.github.io/Griddle/docs/styles/) and [customization section](http://griddlegriddle.github.io/Griddle/docs/customization/) from the docs.

Closing this one for now but please feel

[2017-02-26 01:59] #282 closed

[2017-02-26 02:14] ryanlanciaux commented on #132
Thank you for reporting this -- I realize some time has gone on since this issue was filed but we're going to close for now. We recently released Griddle 1.0 and are still trying to determine which version of IE will be the lowest one we support. Thanks! 👍

[2017-02-26 02:14] #132 closed

[2017-02-26 03:29] ryanlanciaux commented on #201
Thanks for this -- we're focusing on our node module for now but will consider some changes for jspm etc as we move forward. Closing this for now 👍

[2017-02-26 03:29] #201 closed

[2017-02-26 03:37] ryanlanciaux commented on #194
This will not work with the virtual scrolling plugin since we need to use spacer rows to get the scrollbars to appear correctly. We're evaluating what to do moving forward and if there's any way around this but I would recommend using the new [styling](http://griddlegriddle.github.io/Griddle/docs/styles/) API and/or [customization](http://griddlegriddle.github.io/Griddle/docs/customization/) optio

[2017-02-26 03:37] #194 closed

[2017-02-26 03:41] ryanlanciaux commented on #207
I realize this is from sometime ago but this should be fixed. Please feel free to open a new issue if any problems are encountered. 👍

[2017-02-26 03:41] #207 closed

[2017-02-26 03:44] ryanlanciaux commented on #171
Sorry -- I realize this is from some time ago but this should no longer be an issue in Griddle 1.0 with the virtual scrolling plugin. Closing for now but please feel free to open an issue if any problems are encountered. 👍

[2017-02-26 03:44] #171 closed

[2017-02-26 03:52] ryanlanciaux commented on #79
I realize this issue is from a really long time ago. There has been some update to the 0.x documentation that has addressed a bit of this. Additionally we just released 1.0 and have documented these types of methods here. http://griddlegriddle.github.io/Griddle/docs/api/

We will be doing a much better job of keeping 1.0 (and beyond) documentation up-to-date. Closing this one for now but please fe

[2017-02-26 03:52] #79 closed

[2017-02-26 03:56] ryanlanciaux commented on #257
For now, this is by design. The infinite scrolling is designed to work for `<tr>` tags. We have recently released 1.0 which has a plugin model. We'd love if someone wanted to try to make a plugin for this sort of interaction. Please [see the plugin documentation for information on creating plugins](http://griddlegriddle.github.io/Griddle/docs/plugins/) if there is any interest in this. We have a [

[2017-02-26 03:56] #257 closed

[2017-02-26 04:03] ryanlanciaux commented on #308
There is not currently a great way to do this. We did introduce additional [customization](http://griddlegriddle.github.io/Griddle/docs/customization/) / [plugin](http://griddlegriddle.github.io/Griddle/docs/plugins/) options if anyone wanted to try to work with this functionality.

I apologize but we're trying to keep the focus of the Griddle core pretty slim right now so I'm going to close this

[2017-02-26 04:03] #308 closed

[2017-02-26 04:07] ryanlanciaux commented on #248
All -- thank you for the discussion here. I realize quite some time has gone on since we have made any updates but we are going a slightly different direction with Griddle 1.0 than we initially stated here. We are trying to _mostly_ keep the core functionality pretty slim and push other features, such as this, out as plugins. We are currently focusing on making the latest version of Griddle more s

[2017-02-26 04:07] #248 closed

[2017-02-26 04:10] ryanlanciaux commented on #389
We have recently released Griddle 1.0 and with it [plugin support](http://griddlegriddle.github.io/Griddle/docs/plugins/). We like the idea of editable cells but this should be accomplished through Griddle's [customization options](http://griddlegriddle.github.io/Griddle/docs/customization/) or through a [plugin](http://griddlegriddle.github.io/Griddle/docs/plugins/).

Closing this one for now but

[2017-02-26 04:10] #389 closed

[2017-02-26 04:42] ryanlanciaux commented on #335
All -- I realize this issue is from some time ago but we recently have released Griddle 1.0 and are trying to make sure we are a bit better about responding to issues.

The following is for Griddle 1.0:

I would recommend creating a component as follows:

[code]
and passing this in as a custom component on the column that contains boolean data.

[code]
Closing this one for now but please feel free

[2017-02-26 04:42] #335 closed

[2017-02-26 04:44] ryanlanciaux commented on #336
This seems to be working as intended in Griddle 1.0. Closing for now but please feel free to open an issue if any problems are encountered. 👍

[2017-02-26 04:44] #336 closed

[2017-02-26 04:48] ryanlanciaux commented on #337
Hi and sorry about the extreme delay in responding to this issue. We now allow custom sorting options in Griddle. Please see [the API documentation](http://griddlegriddle.github.io/Griddle/docs/api/) under "ColumnDefinition" and "sortMethod" for more information on how to achieve this in Griddle 1.0.

Closing this one for now but please feel free to open a new issue if any problems are encountered

[2017-02-26 04:48] #337 closed

[2017-02-26 05:02] ryanlanciaux commented on #338
Hi all -- Griddle 1.0 is released and this may no longer need a plugin but rather using a `connected` customColumn and making a new column that gets the row index from the state. Please take a look at [how to enhance a custom component with row data](https://github.com/GriddleGriddle/Griddle/blob/master/stories/index.js#L67) for more information.

If going down the plugin route, [the latest docs o

[2017-02-26 05:02] #338 closed

[2017-02-26 05:06] ryanlanciaux commented on #310
I realize that quite some time has gone on since this issue has been opened. We no longer console.log in this scenario (in Griddle 1.0). Closing this one for now but please feel free to open a new issue if any problems are encountered. 👍

[2017-02-26 05:06] #310 closed

[2017-02-26 05:07] ryanlanciaux commented on #344
Thanks -- this appears to be fixed in the release version of Griddle 1.0.

[2017-02-26 05:07] #344 closed

[2017-02-26 05:10] ryanlanciaux commented on #348
This should be fixed in the recently release 1.0. Thanks and please feel free to open a new issue if any problems are encountered. 👍

[2017-02-26 05:10] #348 closed

[2017-02-26 05:12] ryanlanciaux commented on #371
We recently release Griddle 1.0 and added quite a bit more functionality -- especially around [customization](http://griddlegriddle.github.io/Griddle/docs/customization/) and [plugins](http://griddlegriddle.github.io/Griddle/docs/plugins/).

Please [see the customization section of the docs] for more information on overriding the filter component. Closing this one for now but please feel free to c

[2017-02-26 05:12] #371 closed

[2017-02-26 05:15] ryanlanciaux commented on #369
We've recently released Griddle 1.0 and removed the 'useGriddleStyles' prop (it's just a very plain table by default now).

That all said, there are still quite a bit of [styling](http://griddlegriddle.github.io/Griddle/docs/styles/) or [customization options](http://griddlegriddle.github.io/Griddle/docs/customization/) that can be performed through Griddle.

Closing this one for now but please fe

[2017-02-26 05:15] #369 closed

[2017-02-26 05:16] ryanlanciaux commented on #355
We've recently released Griddle 1.0 and changed around how the customization works. Please see [the customization documentation](http://griddlegriddle.github.io/Griddle/docs/customization/) for more information on this. 👍

[2017-02-26 05:16] #355 closed

[2017-02-26 05:17] ryanlanciaux commented on #368
This should no longer be an issue. Please feel free to open a new issue if any problems are encountered. 👍

[2017-02-26 05:17] #368 closed

[2017-02-26 05:18] ryanlanciaux commented on #390
Do you mean like draggable resizing columns or through styling / CSS?

[2017-02-26 05:26] ryanlanciaux commented on #395
I know that some time has gone on since we updated any information in this post but we have released Griddle 1.0. Please see the [customization options](http://griddlegriddle.github.io/Griddle/docs/customization/) for information about updating the pagination. Closing this one for now but please feel free to follow-up here or open a new issue if any problems are encountered.

[2017-02-26 05:26] #395 closed

[2017-02-26 05:26] #398 closed

[2017-02-26 05:29] ryanlanciaux commented on #399
This would be good to create as a plugin for Griddle 1.0 -- please [see the plugin documentation for more information](http://griddlegriddle.github.io/Griddle/docs/plugins/). If this is something you'd like to create, I'd be happy to help give any thoughts I have in the gitter channel in the README 👍

[2017-02-26 05:29] #399 closed

[2017-02-26 05:30] ryanlanciaux commented on #413
Griddle 1.0 has been released and this should no longer be an issue due to differences in this component. Closing this one for now 👍

[2017-02-26 05:30] #413 closed

[2017-02-26 05:32] ryanlanciaux commented on #404
A higher order component seems like a nice way to achieve this functionality.

[2017-02-26 05:32] #404 closed

[2017-02-26 05:34] ryanlanciaux commented on #416
Thank you for this suggestion -- we've released Griddle 1.0 that updates a lot of the styling and customization options in Griddle. Please [see the styles section](http://griddlegriddle.github.io/Griddle/docs/styles/) for more information on how to override the class names / icons / styles. Closing this one for now but please feel free to to open an issue if any problems are encountered 👍

[2017-02-26 05:34] #416 closed

[2017-02-26 05:36] ryanlanciaux commented on #419
Griddle 1.0 is out and has quite a bit of new customization options. Please see the [customization documentation](http://griddlegriddle.github.io/Griddle/docs/customization/) for more information.

Closing this one for now but please feel free to open a new issue if any problems are encountered. 👍

[2017-02-26 05:36] #419 closed

[2017-02-26 05:37] ryanlanciaux commented on #431
These should no longer be issues with the Griddle 1.0 release. Thanks! 👍

[2017-02-26 05:37] #431 closed

[2017-02-26 10:56] hiteshsomani opened #583 "griddle is not taking these two properties cssClassName , headerCssClassName in ColumnDefinition component ?"
Hi Team,

This is my code   `<ColumnDefinition  id="name" title="Name" width={400} headerCssClassName="someheaderclass" cssClassName="somecssclass"/>`. I don't see these css classes on  table cloumn and header.

[2017-02-27 02:44] ryanlanciaux commented on #442
We've released Griddle 1.0 and would love to see this feature as a plugin but do not have time to focus on it ourselves. [Please take a look at the plugin documentation](http://griddlegriddle.github.io/Griddle/docs/plugins/) if this is something that you would like to take on.

Closing this one for now.

[2017-02-27 02:44] #442 closed

[2017-02-27 02:47] ryanlanciaux commented on #385
We've recently released Griddle 1.0 and would love to see this functionality exist as a plugin. Please [take a look at Griddle's customization options](http://griddlegriddle.github.io/Griddle/docs/customization/) and [Griddle's plugin guide](http://griddlegriddle.github.io/Griddle/docs/plugins/).

Closing this one for now but please feel free to open a new issue if any problems are encountered. 👍

[2017-02-27 02:47] #385 closed

[2017-02-27 02:50] ryanlanciaux commented on #377
Hi there and sorry about the delay in getting back with you on this. Griddle does not support row grouping based on column value but this sounds like it would be a good candidate for a plugin! Please [take a look at the plugins section of the docs](http://griddlegriddle.github.io/Griddle/docs/plugins/) for more on how this could work.

Closing this for now but please feel free to open a new issue

[2017-02-27 02:50] #377 closed

[2017-02-27 02:56] ryanlanciaux commented on #394
All [the above comment](https://github.com/GriddleGriddle/Griddle/issues/394#issuecomment-228097655) is how I would recommend approaching this with Griddle 1.0. The gist of it is a ColumnDefinition would be created that doesn't correspond to a property in the data for the row but would be provided a custom component that has the actions. The actions would either interact with Griddle's state or in

[2017-02-27 02:56] #394 closed

[2017-02-27 03:06] ryanlanciaux commented on #397
We've release Griddle 1.0 -- This is now much easier but not something we've added out of the box. That said, it should be possible to interact with Griddle's state through [customization options](http://griddlegriddle.github.io/Griddle/docs/customization/) to provide multiple sort functionality.

[See here](https://github.com/GriddleGriddle/Griddle/blob/master/src/selectors/__tests__/dataSelector

[2017-02-27 03:06] #397 closed

[2017-02-27 03:16] ryanlanciaux commented on #396
Hi there -- we've released Griddle 1.0 and it does have the ability to interact with the sort properties. Please [see the API docs](http://griddlegriddle.github.io/Griddle/docs/api/) under `sortProperties` for more information on how to use this.

Closing this one for now but please feel free to open a new issue if there are any problems you run into.

[2017-02-27 03:16] #396 closed

[2017-02-27 03:18] ryanlanciaux commented on #400
Hi there -- we've recently released Griddle 1.0 and have added new customization features. Please [take a look at the customization documentation](http://griddlegriddle.github.io/Griddle/docs/customization/) for more information.

Closing this one for now but please feel free to open a new issue if there are any problems that you encounter.

[2017-02-27 03:18] #400 closed

[2017-02-27 03:27] ryanlanciaux commented on #402
We've released Griddle 1.0, and with it, more customization options.

It is possible to interact programmatically with Griddle's state now. Please see the following:

- [Customization options](http://griddlegriddle.github.io/Griddle/docs/customization/)
- [Plugin options](http://griddlegriddle.github.io/Griddle/docs/plugins/) -- this will most likely be through a plugin
- [Connecting to Griddle st

[2017-02-27 03:27] #402 closed

[2017-02-27 03:29] ryanlanciaux commented on #414
This sounds like a great idea but would likely best be handled as a [Griddle plugin](http://griddlegriddle.github.io/Griddle/docs/plugins/).

I am going to close this one for now but please feel free to open another issue if any problems are encountered. 👍

[2017-02-27 03:29] #414 closed

[2017-02-27 03:31] ryanlanciaux commented on #423
We traditionally have had trouble showing data with nested properties. Griddle 1.0 has been released and supports nested properties. See http://griddlegriddle.github.io/Griddle/examples/nestedData/

I'm going to close this one for now but please feel free to open a new issue if any problems are encountered.

[2017-02-27 03:31] #423 closed

[2017-02-27 03:34] ryanlanciaux commented on #490
This should now be possible with Griddle 1.0. Please [see the customization options for more information](http://griddlegriddle.github.io/Griddle/docs/customization/) on this one.

I'm going to close this one for now but please feel free to open a new issue if any problems are encountered. 👍

[2017-02-27 03:34] #490 closed

[2017-02-27 03:36] ryanlanciaux commented on #482
This is possible through the Griddle 1.0 [Customization](http://griddlegriddle.github.io/Griddle/docs/customization/) and [Plugin](http://griddlegriddle.github.io/Griddle/docs/plugins/) options. This is not something that will be built in functionality, however BUT it will be possible.

Please feel free to open a new issue if any problems are encountered. 👍

[2017-02-27 03:36] #482 closed

[2017-02-27 03:39] ryanlanciaux commented on #480
Hi there and sorry about the delay in response on this! We have released Griddle 1.0 which should address this issue. You can [connect to Griddle's state](https://github.com/GriddleGriddle/Griddle/blob/master/stories/index.js#L67) to get this information.

I'm going to close this one for now but please feel free to open a new issue if any problems are encountered.

[2017-02-27 03:39] #480 closed

[2017-02-27 03:44] ryanlanciaux commented on #479
Thanks for putting this example together! 👍

In addition, we've recently release Griddle 1.0 which allows for defining "fake" columns that can then be provided a custom component. We could define an instance of Griddle as follows:

[code]

The `EditDelete` customComponent could be added to interact with the data and `somethingIJustMadeUp` does not need to exist as a property in the data.

I'm goin

[2017-02-27 03:44] #479 closed

[2017-02-27 03:44] ryanlanciaux commented on #478
Thanks @mlubovac -- that is the file mentioned.

[2017-02-27 03:44] #478 closed

[2017-02-27 03:48] ryanlanciaux commented on #475
This should be a lot nicer in Griddle 1.0 using the provided customization options. Please [see the customization documentation](http://griddlegriddle.github.io/Griddle/docs/customization/) for more information on how this could be achieved. Closing this one for now but please feel free to open a new issue if any problems are encountered. 👍

[2017-02-27 03:48] #475 closed

[2017-02-27 03:51] ryanlanciaux commented on #473
Sorry about the delay in responding to this! We've recently released Griddle 1.0 and we've revamped the customization options. Please [see the customization options documentation](http://griddlegriddle.github.io/Griddle/docs/customization/) for more information.

I'm going to close this one for now but please feel free to open a new issue if any problems are encountered. 👍

[2017-02-27 03:51] #473 closed

[2017-02-27 03:52] ryanlanciaux commented on #472
Sorry about the delay in responding to this! We've recently released Griddle 1.0 and we've revamped the customization options. Please [see the customization options documentation](http://griddlegriddle.github.io/Griddle/docs/customization/) for more information.

I'm going to close this one for now but please feel free to open a new issue if any problems are encountered. 👍

[2017-02-27 03:52] #472 closed

[2017-02-27 03:54] ryanlanciaux commented on #425
I would recommend creating a custom component to display the data as desired. Please see [Customization documentation](http://griddlegriddle.github.io/Griddle/docs/customization/) for more information on this.

I'm going to close this one for now but please feel free to open a new issue if any problems are encountered. 👍

[2017-02-27 03:54] #425 closed

[2017-02-27 03:57] ryanlanciaux commented on #444
Sorry that you are encountering this warning. This should no longer be an issue in Griddle 1.0. Please feel free to comment here or open a new issue if any problems are encountered. 👍

[2017-02-27 03:57] #444 closed

[2017-02-27 03:59] ryanlanciaux commented on #447
This should not be an issue in Griddle 1.0. Please feel free to let us know through commenting here or opening a new issue if any problems are encountered. 👍

[2017-02-27 03:59] #447 closed

[2017-02-27 04:06] ryanlanciaux commented on #445
Thanks for the discussion here! We've released Griddle 1.0 and the ability to set an initial sort is present but the way to achieve this is slightly different. Please see http://griddlegriddle.github.io/Griddle/examples/defaultSort/ for more information.

I'm going to leave this open as we're still planning to release 0.x for a while as we solidify the upgrade path a bit more. That said, [I still

[2017-02-27 04:13] ryanlanciaux commented on #458
We've released Griddle 1.0 along with a new [customization](http://griddlegriddle.github.io/Griddle/docs/customization/) and [plugin](http://griddlegriddle.github.io/Griddle/docs/customization/) model.

The [map](http://griddlegriddle.github.io/Griddle/examples/asMap/) and [list](http://griddlegriddle.github.io/Griddle/examples/asList/) examples could be used as a reference on how to customize thi

[2017-02-27 04:13] #458 closed

[2017-02-27 04:16] ryanlanciaux commented on #531
We've released Griddle 1.0 and are not seeing any issues like this currently. Closing this one for now but please feel free to follow-up with a new issue if any problems are encountered. 👍

[2017-02-27 04:16] #531 closed

[2017-02-27 04:19] ryanlanciaux commented on #526
Hi there - we've recently released Griddle 1.0 and using the [customization options within Griddle 1.0](http://griddlegriddle.github.io/Griddle/docs/customization/) this should allow this sort of thing. If you go this route, you will need to connect / bind to Griddle's action creators for changing this property. Please [see here in our storybook for an example connect](https://github.com/GriddleGr

[2017-02-27 04:19] #526 closed

[2017-02-27 04:23] ryanlanciaux commented on #519
Thank you @babenzele! In addition, we've released Griddle 1.0 that takes a custom sort method on column definitions (so a column can be given a sort function to use).

Please [see the new API docs](http://griddlegriddle.github.io/Griddle/docs/api/) under `ColumnDefinition`.`sortMethod`. and [our Storybook story for manually testing this functionality](https://github.com/GriddleGriddle/Griddle/blob

[2017-02-27 04:23] #519 closed

[2017-02-27 10:22] lucidlemon opened #584 "accessing rowData inside a customComponent in 1.0"
How do we get the rowData again? I'm rendering the title of some data which links to the ID of the row. So earlier I could access the data of the whole row using `data.rowData.id`, this now doesnt seem to get passed. And I also can't just pass a object as data.

So stuff like..

[code]

How do I access the `ID` inside the ColumnDefinition of `title`?

[2017-02-27 11:36] kingOfJavaScript opened #585 "Empty space at the bottom of the table by infinity"
Excuse me, here is a problem when I scroll down the table using infinity scroll I got an empty space.

![image](https://cloud.githubusercontent.com/assets/22355616/23359983/f4ce98f6-fcf9-11e6-8218-1d0a38c9e2a9.png)

[2017-02-27 15:28] blkmutt commented on #584
Sorry you're bumping into this. The recommendation is to connect to Griddle's data store as we're doing here.

https://github.com/GriddleGriddle/Griddle/blob/master/stories/index.js#L67

We need to build this utility into Griddle as it seems pretty useful to folks. We also use redux internally but doesn't require consumers of Griddle to  use Redux (outside of connecting to our state).

[2017-02-27 15:28] #584 closed

[2017-02-27 15:41] ThePainnn commented on #159
Nice nice nice! Great job on the 1.0. Working to port from 0.6 to 1.0 as soon as possible :)

[2017-02-27 15:46] ThePainnn opened #586 "Equivalent to rowData of CustomComponent in 1.0?"
Hi,

I'm currently porting the 0.6 code to the 1.0 version. I've made use of the custom component to display date, and special annotations to the data that people can make to make some row stand out. Those custom component use rowData and metadata.parent from the automatically pass in props for custom components. Do we have an equivalent when using custom component defined in the ColumnDefinition

[2017-02-27 16:14] ashwinimnnit opened #587 "How to override Griddle Css??"
I want to override default griddle css classes like `griddle-cell`, `griddle-row` etc etc .. how to achieve it ??

[2017-02-27 20:01] dmcfarland930 commented on #561
A buddy of mine figured this out. It was solved by editing the css styling of the table.

[2017-02-27 23:19] abologna-r7 commented on #586
props returned only contain value and griddleKey, but what's an equivalent to rowData?

[2017-02-27 23:30] ryanlanciaux commented on #586
Hi there -- we need to add a util to do this in an easier fashion as it seems like it will be useful BUT this can be achieved through connecting to Griddle's state in the custom component. Please see https://github.com/GriddleGriddle/Griddle/blob/master/stories/index.js#L67 for more information on how this can be achieved in the meantime. We will add this as a util in Griddle and document it in a

[2017-02-27 23:30] #586 closed

[2017-02-28 00:14] abologna-r7 commented on #586
Thanks for the info, I ended up extracting the selector from LocalPlugins... idk if this is the best way to achieve this, but for the time being this is what I endup doing :)

[code]

[2017-02-28 01:36] QingkaiLi commented on #191
👍

[2017-02-28 03:31] ryanlanciaux commented on #587
Hi there! Please see [the styling documentation](http://griddlegriddle.github.io/Griddle/docs/styles/) for how to override Griddle's css classNames. Closing this one for now but please feel free to let us know of any problems you encounter. 👍

[2017-02-28 03:31] #587 closed

[2017-02-28 12:37] ashwinimnnit opened #589 "can columnDefinition have common title??"
I want to merge some Columndefintion under a single heading. For this I assign same title to the columndefinition it worked but it is throwing warning .`Warning: flattenChildren(...): Encountered two children with the same key, CommonTitle`. Child keys must be unique; when two children share a key, only the first child will be used`.Because columndefintion is generation key with this title.below i

[2017-03-01 02:18] sangnuce opened #591 "How can I disable sorting for certain columns?"
I've been searching for this for days but I cannot disable sorting for some columns.
Please show me how to do it.
Thank you!

[2017-03-01 11:09] ryanlanciaux commented on #591
Could you please note which version you are using? :+1:

[2017-03-01 18:24] sbanwart opened #592 "Custom component disappears from the settings list when hidden"
I have a column definition that uses a custom component to display a link. If I hit the Settings button and uncheck the box to display that column, it disappears and does not show up in the hidden columns list as expected. I've attached two screenshots that demonstrate the problem. In the before image, there is a column named "edit" that disappears completely in the after image.

The custom column

[2017-03-01 18:40] ryanlanciaux commented on #592
Thank you for posting this -- I'll have to take a look at what's going on (hopefully tonight or tomorrow). I would assume that we perhaps have a bug with columns that have custom components. If you uncheck any of the other columns do you get the behavior you're expecting (especially if they have a title)?

[2017-03-01 18:54] sbanwart commented on #592
Yes, the other columns that are bound to an item in the data property work as expected.

[2017-03-01 19:33] sbanwart opened #593 "Columns do not maintain order when hidden and made visible"
This might be related to #592, but I'm noticing an issue with column ordering if I start changing the column hidden/visible settings. In the attached screenshots, I made all the hidden columns except for griddleKey visible, and then I went back and made the same columns hidden again. Upon doing so, the original four columns that were visible are now in a different order. The Edit column in the scr

[2017-03-01 20:09] ryanlanciaux commented on #593
If you add an order through ColumnDefinitions does it show up correctly? Thank you for these thorough issues.

[2017-03-01 21:40] sbanwart commented on #593
That fixed it. My bad. I didn't even think about trying that first. 😑

Thanks for the help with this one.

[2017-03-01 21:40] #593 closed

[2017-03-01 21:45] ryanlanciaux commented on #593
No worries at all :+1: -- I'm not 100% sure what the default behavior should be when order isn't specified.

I'm wondering if we should say "by default, whatever order a column was received is the order it should be displayed if nothing else is specified" BUT right now it's like you just bumped into :D If you have any thoughts on this on this that would be much appreciated!

[2017-03-01 21:51] sbanwart commented on #593
That's a tough one. My initial expectation was that it would respect the order the columns were defined, but at the same time, some of the hidden items in my data set came before the items displayed in the columns. I guess I would vote for respecting the column definitions by default if it isn't too difficult to implement. My second choice would be to respect the order in the data set.

[2017-03-01 21:52] ryanlanciaux commented on #593
Cool - I _think_ we can say 1) default to defined order 2) fallback to dataset order. We'll try to get that in a future version. Thanks!

[2017-03-02 16:28] bpugh commented on #394
Thanks @ryanlanciaux, your comment is exactly the solution I was looking for but it doesn't look like this is currently implemented as `value` and `griddleKey` are the only props passed to `customComponent`. I poked around in the code and I believe I could add it with minimal effort.
Would you be open to me submitting a PR for this?

[2017-03-03 03:53] sangnuce commented on #591
@ryanlanciaux I'm using version 1.0

[2017-03-03 10:55] #592 closed

[2017-03-03 11:37] #589 closed

[2017-03-03 11:37] ryanlanciaux commented on #589
This should work in the next version (1.0.3) - Please feel free to follow up if there are any problems.

[2017-03-03 12:55] windgaucho opened #597 "Customize Pagination component in 1.0"
Hello I need to customize the Pagination component using Griddle 1.0.
I already read the documentation about customize the component and digging in the source code, but I can't figure out how to customize the component.

In my component I can get the default Pagination props, like getNext, setPage, maxPages, etc.

How can I create a custom component for the Pagination component using griddle 1.0?

[2017-03-03 13:41] ryanlanciaux commented on #394
@bpugh - I really appreciate this. Are you suggesting the whole rowData as well for customComponents? I think we should have an "enhancer" utility for providing row data to custom components.

Something like we're doing here https://github.com/GriddleGriddle/Griddle/blob/master/stories/index.js#L67 -- the thought right now is we mostly are only giving the components the bare minimum of what they n

[2017-03-03 18:40] blunatic commented on #520
Any timeline on a fix for this being merged in? I want to use v0.8.1 for the `onRowMouseEnter` and `onRowMouseLeave` events but numerical sorting seems to also be broken in v0.8.1 too.

[2017-03-03 19:05] ericdouglas commented on #586
@abologna-r7 thanks for show your solution.

Just to make it crystal clear for everyone, you need to:

**1. Import `connect` from `react-redux`**

[code]

**2. Create `rowDataSelector` and `enhancedWithRowData` functions**

[code]

**3. Wrap your custom component with `enhancedWithRowData`**

[code]

**4. Data passed to your custom component**

[code]

**5. Complete solution**

[code]

[2017-03-03 20:38] ryanlanciaux commented on #586
Thanks a ton for documenting this. You definitely have gone above and beyond here but any chance you want to add this to examples on docs? https://github.com/GriddleGriddle/griddle-docs/tree/master/pages/examples :D (how the other pages / components in that directory work would be a a decent example on how to do this but I'd be more than happy to answer anything too)

If not, not a worry at all bu

[2017-03-03 21:45] windgaucho commented on #586
@ericdouglas can you please point me in the right direction in how to customize de Pagination component please?
I need to customize buttons, styles, etc with my own components but I can't figure out how to get the default properties that the Pagination component relies on.
Thank you very much in advance.

[2017-03-03 22:10] ericdouglas commented on #586
@ryanlanciaux yeah for sure! I'll do this tomorrow :smile:

@windgaucho which version are you using?

[2017-03-03 22:19] windgaucho commented on #586
I am using griddle 1.0

I am migrating from the griddle previous version (0.7).

[2017-03-04 15:34] windgaucho commented on #597
Is this possible in griddle 1.0?

[2017-03-04 16:56] ryanlanciaux commented on #597
I'm pretty swamped today so I cannot give a full example right now but this should be possible through a combination of overriding the components (NextButton / PreviousButton /PageSelector / Pagination) or the state management. Interacting with the state management would be similar to the steps that @ericdouglas described here https://github.com/GriddleGriddle/Griddle/issues/586

[2017-03-04 23:17] sangnuce commented on #591
@ryanlanciaux please help me!

[2017-03-05 02:53] windgaucho commented on #597
@ryanlanciaux Thank you for your response.

I am interested in how to override the Pagination component because I want to use react-semantic-ui into the component. So I need to override the entire presentational component.
I already saw the example described in #586 but I can figure out how to access the store in order to get the properties that the Pagination component need, also I don't know how

[2017-03-05 12:22] Kliton opened #599 "Basic css"
Where is the css that contains griddle-cell etc definition?

[2017-03-06 14:16] ericdouglas commented on #586
I'm receiving a warning after `import connect`. In my initial investigation, it's due to 2 copies of react-redux being loaded. After I fix this, I'll improve the answer here and create the PR with the example including the solution and how to overcome this possible side effect. :smile:

[2017-03-06 15:20] alexcurtis commented on #591
I'd also like to know if this is supported. Using Griddle 1.1.0

[2017-03-07 01:30] capouch commented on #276
@babenzele have you figured anything out on that Ref error mentioned in your first post?  I just tried running 1.0.0-alpha.43 and I get the same behavior you describe.

[2017-03-07 01:48] babenzele commented on #276
@capouch I haven't tried `1.0.0` since

[2017-03-08 15:31] jackgeek commented on #452
@giantyellowrobot btw- you can just give a new unique key prop to a component and that will force the component to unmount/remount

[2017-03-09 18:01] bkrall commented on #273
@ryanlanciaux awesome! Is there a more complete example then what's shown in the [customization options](http://griddlegriddle.github.io/Griddle/docs/customization/)?  Trying to figure out what ` this.props.onChange` should look like in the parent component.  Looking to use basic search filtering on external data, i.e.:

Really just trying to get the default `setFilters` functionality, but with ex

[2017-03-09 18:29] ryanlanciaux commented on #273
@bkrall Does it work if you switch your `components` definition in Griddle from

`Filter: () => <Filter />`

to

[code]

[2017-03-09 19:02] bkrall commented on #273
@ryanlanciaux Hmm, nope same message with that example (`n.props.onChange is not a function()`).

Feels like I'm missing something obvious, honestly.

Here's what this.props.onChange looks like when `this.setFilter` is called in the <Filter/> custom component.  Also tried `onChange={this.setFilter.bind(this)}` in the <Filter/> component, but same result.

![griddle](https://cloud.githubusercontent

[2017-03-09 19:03] ryanlanciaux commented on #273
I'm traveling a bit for the next couple of days but I'll try to look into this in more detail this weekend / early next week. Sorry you're bumping into this and thanks so much for all the detail here. 👍

[2017-03-09 19:05] bkrall commented on #273
@ryanlanciaux Really appreciate it!

[2017-03-09 19:11] ryanlanciaux commented on #273
One last thing real fast before I can dive into this in more detail -- if you switch to `this.props.setFilter(e.target.value)` instead of `this.props.onChange(e.target.value)` that doesn't work? I know you mentioned you did something like this and bound to current context but just double checking.

Looks like we're doing that for the component that's rendered in the docs page -- it's totally possi

[2017-03-10 03:12] bkrall commented on #273
Got it working! Looked at your example from the docs and adding `plugins.LocalPlugin` made the filtering work.

Thanks for your help, @ryanlanciaux. 🙏

[2017-03-11 02:20] hkeshani opened #600 "Problem with customization list example"
## Griddle version
V 1.0
## Expected Behavior
I'm trying to follow the customization example to display a list instead of a table, but can't figure out what I'm doing wrong. I get an Uncaught ref error - Component not defined in the var CustomTableComponent section. Any help is appreciated.

## Actual Behavior
no display in browser
## Steps to reproduce
I've attached the jsx code
## Pull request w

[2017-03-12 12:28] Jaikant commented on #504
@ryanlanciaux  I am using bootstrap and trying to make the column responsive, but it doesn't seem to work. I put the style on the Griddle classNames you specified [here](http://griddlegriddle.github.io/Griddle/docs/styles/)
Anyone who has managed to integrate bootstrap with the localPlugin?

[2017-03-12 15:34] 3citrony opened #601 "griddle 1.1 as generic grid, column's model refresh not work properly"
## Griddle version
1.1
## Expected Behavior
Column's model changed, but griddle not render it properly
## Actual Behavior
Look at the source code listed below to see 4 cases
## Steps to reproduce
Grid1, Grid2 and Grid3,Grid4 are the same objects saved as a const with other names (redundant code to see when it works properly or not)
In my opinion "test1failed"  is not working beacause ColumnDefinit

[2017-03-13 02:01] mathetes opened #602 "How can I rename default titles?"
I need rename & change to russian titles of app.
Buttons titles: settings,Visible Columns,  Hidden Columns, previous, next. Input title: filter.
How can I do it?

[2017-03-14 08:22] Sandeep3005 opened #603 "How to make input to Griddle settingIconComponent resusable in Meteor + React App"
## Griddle version - 0.6.1
**Aim** - To replace settings button in griddle with material ui button using Griddle version 0.6.1

## Expected Behavior
**Implementation** - To replace settings button which shows the list of columns to choose from.
I am providing this input to Griddle's settingIconCompoent prop

      getSettings() {
        return (
            <div>
              <RaisedButton

[2017-03-14 13:02] Sandeep3005 commented on #603
For Griddle version 0.x. This is what I did.
Created a ref to Griddle Component

    <Griddle
      ref = {(ref) => {this.mygriddle = ref}}>

Now we can call function toggleColumnChooser which controls opening and closing of panel showing all the columns

`this.mygriddle.toggleColumnChooser();`

and based on this we can open and close and completely hide settings button

create a new component wit

[2017-03-14 13:02] #603 closed

[2017-03-15 04:37] hkeshani commented on #600
This seems to fix the problem.

Change:
`  const CustomTableComponent = OriginalComponent => class CustomTableComponent extends Component {
    static contextTypes = {
      components: React.PropTypes.object
    }`

to:

`const CustomTableComponent = OriginalComponent => class CustomTableComponent extends React.Component {
    static contextTypes = {
      components: React.PropTypes.object
    }

[2017-03-15 04:37] #600 closed

[2017-03-15 08:09] kasperverner opened #604 "onRowClick not working."
## Griddle version
^1.0.0

## Expected Behavior
Was tasked to upgrade from Griddle v0.7 to Griddle v1.1. But I can't seeme to get onRowClick to work.

Since functions didn't work, i tested with a simple console.log on row click, that didn't work either.

[code]

If I look through the issues on here github or other examples, this should work just fine.

Can someone tell me, what im doing wrong?

##

[2017-03-15 09:06] zeusi83 commented on #583
Customization of the column header is not working entirely. I tried with customHeading prop, as in the documentation, and with customHeaderComponent and customHeadingComponent props that I found in the source code.

[2017-03-15 13:51] macrozone opened #605 "can't unset sortProperties"
i try to use `<Griddle>` as a controlled component and want to tie the sortProperties to some react state:

[code]

The idea is that you can set multiple sorts and that a single property toggles between "desc" ▲, "asc" ▼ and "none" (no symbol)

Initially, griddle shows no sort-indicators, when i click on e column it switches to ▲, then ▼ ,
but it does not change back to no symbol, altough `props.s

[2017-03-15 18:04] macrozone opened #606 "how to set pageSize for controlled Griddle?"
There is a settings-component where you can set the page size, but there seems to be no event "onSetPageSize" or whatsoever.

How can i get changes of the page-size settings?

[2017-03-16 11:27] christopher-rain opened #607 "Getting access to all row values in custom component"
Hi,

I am trying to do something trivial. I want to render a list with a first row 'Company Name' I want when the company name is clicked to go to the company view page accessible by the company id.

Here is how a sample of my data look like.
var data = [ { id: 1, name: 'Company Name 1' }, { id: 2, name: 'Company Name 2'} ];

I tried an approach with Custom Component. I have access to the name, bu

[2017-03-16 15:00] reznord opened #608 "Question: How to achieve horizontal scrolling?"
I have been going through the documentation and I have used earlier versions of griddle (eg: 0.x versions). I have a few questions related to griddle.

- Is it possible to achieve horizontal scrolling using griddle? If so, how can I do that.
- Is it possible to fix the first column using griddle?

If anyone has implemented that, a demo (using webpackbin) would be really great.

Any help appreciate

[2017-03-16 15:51] Phips0812 commented on #583
Same issue for me. Is there a workaround for that?

[2017-03-16 15:57] macrozone commented on #607
Tried to do the same and dug in the code, but i could not find a solution.

[2017-03-16 17:06] macrozone opened #609 "can't use same id twice in columndefintion"
## Griddle version

v1.1.0

## Expected Behavior

I can add multiple `<ColumnDefinition />` with the same id, so that i can
have multiple columns accessing the same value

## Actual Behavior

Only the last columndefinition is visible

## Steps to reproduce

add two columnDefinition with same id

[2017-03-16 18:12] ryanlanciaux commented on #607
I think we need to come up with a better way for getting this data BUT please see https://github.com/GriddleGriddle/Griddle/issues/586 for more info on how to get the row data.

I'm going to close this one for now but we will probably provide a "built-in" enhancer for providing rowData to components.

[2017-03-16 18:13] #607 closed

[2017-03-17 14:12] davidpelayo commented on #586
@ericdouglas thanks for documenting this. so helpful. I spent a few hours looking for a good solution on this regard.

[2017-03-17 21:42] dahlbyk commented on #360
@ryanlanciaux just happened to stumble on this issue. I submitted @hodavidhara's 0.7 definitions to [DefinitelyTyped](https://github.com/DefinitelyTyped/DefinitelyTyped/pull/15027) and am now working on a new set of definitions for 1.*. Would you like me to contribute those here?

[2017-03-18 13:31] ryanlanciaux commented on #360
That would be awesome. Sorry about my naivety on this subject -- seems like it could be cool to have them here and then we can keep them up-to-date with the library as things change.

A couple things I want to make sure:
* What is the standard in the typescript ecosystem? Using the types from DefinitelyTyped or having them ship with a library?
* Typings will not add any dependency requirements on

[2017-03-18 15:58] dahlbyk opened #611 "TypeScript Definitions & Maintenance"
Following on from https://github.com/GriddleGriddle/Griddle/issues/360#issuecomment-287478628 discussion with @ryanlanciaux...

TypeScript definitions for Griddle 0.7, based on [griddle-react-typings](https://github.com/hodavidhara/griddle-react-typings) by @hodavidhara, were recently accepted by [DefinitelyTyped](https://github.com/DefinitelyTyped/DefinitelyTyped/pull/15027). I'm working on a set

[2017-03-19 13:44] ryanlanciaux commented on #611
Thank you for opening this and providing these ideas. I would love to get something added that would make using Griddle easier for folks that are using TypeScript.

I do like the thought of validating this through stories but I have some potential concern around converting the storybook over. We are hoping that when bugs are encountered that people will submit a PR with a story that demonstrates t

[2017-03-19 19:53] macrozone opened #612 "RowDefinition can't be used in own component."
While being able to define `<RowDefinition>` in a declarative react-way,
it is awkward if you want to compute the columns:

[code]

In more complex examples, you might therefore want to exclude that in another component:

[code]

and then:

[code]

But this does not work. Also it seems not to update the griddle if the columns change. So it looks like a React-Component, but it does not behave like

[2017-03-19 20:29] macrozone opened #613 "can't display date properties"
## Griddle version

Version 1.1.0

## Expected Behavior

cell that contains a property with Date-type should display property

## Actual Behavior

the cell is empty, also if you specify customComponent `value` is an empty Map object instead of the date,.

## Steps to reproduce

[code]

[2017-03-20 15:32] macrozone commented on #613
I tried to debug this. Problem seems to be the conversion to Immutable.js:

https://github.com/GriddleGriddle/Griddle/blob/22901b3402ac29833ff89983d81e69b9745a67af/src/utils/dataUtils.js#L18

The Map does not preserve things that are not objects or Arrays as it seems, so a date just gets converted to an empty object (!)

can we somehow use BEFORE_REDUCE or so to transform dates to numbers? (timest

[2017-03-20 16:19] macrozone commented on #613
I tried to create a plugin that transforms the data, but i had no luck. I tried GRIDDLE_LOADED_DATA with and without _BEFORE, BEFORE_REDUCE, but I could not find the right hook to transform the data. It's super confusing.

Having Date-objects in the data-grid is such a common scenario that i don't know what i am doing wrong.

[2017-03-20 18:18] ryanlanciaux commented on #613
Sorry you're bumping into this. If you could, please submit a storybook story with the steps you mentioned above. The steps are pretty straightforward and normally I would do this but pretty swamped this week so that would be incredibly helpful.

Thanks!

[2017-03-20 18:31] radziksh commented on #532
Looks like api changed. Instead of:

      this.props.changeFilter(value);

for me works:

      this.props.setFilter(value);

[2017-03-20 18:47] macrozone commented on #613
good idea,
here we are: https://github.com/GriddleGriddle/Griddle/pull/614

[2017-03-20 18:48] ryanlanciaux commented on #613
Thanks a ton!

[2017-03-20 22:44] lruckman opened #615 "When data is empty is it possible to have the table header printed out along with the "No results found." message?"
## Griddle version
1.1.0

## Expected Behavior
When data is empty it would be nice if the component printed an empty table with the column headers and a single row displaying an empty message of some sort (eg. No results found.).

## Actual Behavior
A message of "No results found." is returned.

## Steps to reproduce
Provide an empty collection to the griddle component.

[2017-03-21 07:38] Sandeep3005 commented on #532
Yes @radziksh, :+1:  I also made this change in new implementation

[2017-03-21 19:06] hackhat opened #616 "Broken links in docs"
In this page http://griddlegriddle.github.io/Griddle/docs/ there are 2 links to http://griddlegriddle.github.io/customization/  and http://griddlegriddle.github.io/Griddle/customization which are broken.

[2017-03-21 19:11] hackhat opened #617 "No CSS applied to the grid"
## Griddle version
"version": "1.0.0"

## Expected Behavior
Have some CSS

## Actual Behavior
No CSS applied
![image](https://cloud.githubusercontent.com/assets/11173732/24166126/3a0d979c-0e6a-11e7-8265-a2a044d83b2f.png)

## Steps to reproduce
Follow http://griddlegriddle.github.io/Griddle/docs/

Checked the code in node_modules and can't find any css or js file that contain "border" (to find some

[2017-03-21 19:23] ryanlanciaux commented on #617
We no longer prescribe styling as part of Griddle where we used to with the 0.x version. This will let people use whatever styling they want for tables without having to disable or work-around things in Griddle.

Please [see here for more info on how to style Griddle](http://griddlegriddle.github.io/Griddle/docs/styles/) if you are not using a CSS library. 👍

[2017-03-21 19:23] #617 closed

[2017-03-21 19:23] ryanlanciaux commented on #616
Thanks! I think we may have messed something up in our site generator. We will try to fix this soon.

[2017-03-21 19:25] hackhat commented on #617
Maybe you could provide a template with the styles, so we don't need to reinvent the wheel?

[2017-03-21 21:33] joellanciaux commented on #613
Thanks a ton for putting together this issue + the _very_ helpful story PR :+1:

I've made two updates that should make displaying dates a little easier:
- As you noted, there was an issue in `dataUtil` that was blowing away the `date` values. I've added an additional condition so that `dates` are preserved in the same manner as Immutable's default `fromJS`.
- I've made an update so that one can s

[2017-03-21 21:33] #613 closed

[2017-03-21 23:31] ryanlanciaux commented on #612
Thank you for this detailed issue! We realize there are some deficiencies with how the `RowDefinition` and `ColumnDefinition`'s work. We are considering having these components connect to state management themselves instead of treating them as a just a transport to the areas of the code that wire up the settings.

This would allow RowDefinition and ColumnDefinitions to use React's standard lifecyc

[2017-03-22 13:15] 3citrony commented on #612
This example is exact the same like mine #601. As far as I saw in griddle sources column definitions are not update properly because in componentWillReceiveProps there is no code for update it in state. ColumnDefinitions worked only once, beacause it is bind in griddle contructor. Then if you trying to update, it will fail beacause there is no code what can do this for you
[code]

[2017-03-22 21:48] macrozone commented on #613
you are awesome. Works like a charm <3

[2017-03-22 22:09] macrozone opened #619 "columns get somehow shuffled when there are more than 8 columns in ColumnDefinition"
## Griddle version

1.1.0 / 1.2.0
chrome & safari (others not tested)

## Expected Behavior

Columns should always be in the same order as defined in `<RowDefinition><ColumnDefinition .. /></RowDefinition>`

## Actual Behavior

if there are more than 8 columns, the order is different. It's always the same, but i did not found the logic how it gets shuffled.

## Steps to reproduce

add more than 8

[2017-03-22 22:28] macrozone opened #620 "typo on http://griddlegriddle.github.io/Griddle/docs/customization/"
it mentions a property customHeading, but this should be customHeadingComponent

[2017-03-23 12:25] christopher-rain opened #621 "Best approach to have actions column with buttons. When hit to open a modal outside Griddle."
Hi,

I'm trying to have an Actions column with Edit and View buttons. I am using a customComponent.

[code]

I need to somehow grab the <a> onClick event and open a Modal.

I also tried making this component connected to my Redux store.

[code]
but i got an error when clicking the Edit button:
Uncaught TypeError: Cannot read property 'map' of undefined    dataSelectors.js:246

[code]

at return cu

[2017-03-24 09:37] bristoljon opened #623 "rowData not supplied to cutomComponent in v1.2"
## Griddle version
1.2

## Expected Behavior
CustomComponent receives rowData prop as in v0

## Actual Behavior
customComponent only receives value and griddleKey

## Steps to reproduce
`
const LinkToUser = props => {
  console.log('props', props); // { value: 'Adam Smith', griddleKey: 2 }
  const { value, rowData } = props;
  const url = `/users/${rowData.id}`;
  return <Link to={url}>{value}</Li

[2017-03-24 13:19] alexbaumgertner commented on #586
@ericdouglas Thanks you a lot! You save my day! :)

May be it be useful to add `EnhancedWithRowData` example to https://github.com/GriddleGriddle/griddle-docs?

I could make PR.

[2017-03-24 13:24] ryanlanciaux commented on #586
That would be extremely helpful.

[2017-03-24 13:26] alexbaumgertner commented on #586
@ryanlanciaux

Which page is better to place the example:
- https://github.com/GriddleGriddle/griddle-docs/blob/master/pages/docs/architecture/index.md
- https://github.com/GriddleGriddle/griddle-docs/blob/master/pages/docs/customization/index.jsx
or someone else?

[2017-03-24 13:29] ryanlanciaux commented on #586
What if we added it under `examples` and link to that in customization? Like full example lives in examples/addRowData or something but then the customization section talking about customComponents has something like `[see how to add rowData to customComponents](...) if you need more than the provided props`

[2017-03-24 14:39] alexbaumgertner commented on #586
Good idea, I'll try to make it this weekend.

[2017-03-28 15:40] #580 closed

[2017-03-29 21:20] alexbaumgertner commented on #586
@ryanlanciaux https://github.com/GriddleGriddle/griddle-docs/pull/5
(haven't live example yet — working on it)

[2017-03-30 03:02] sww314 commented on #606
Just set the page size:
[code]

[2017-03-30 03:10] sww314 commented on #604
There is no builtin onRowClick functionality in v1.2.
You may have to override the Row component.

[2017-03-30 03:52] sww314 opened #625 "Filter component override fails"
## Griddle version
1.2
## Expected Behavior
Provide Filter to component prop as described here:
http://griddlegriddle.github.io/Griddle/docs/customization/
Get new widget. This works, but the filter capability is broken.

## Actual Behavior
Implementing, the example you get the error:
TypeError: Cannot read property 'props' of undefined
onChange

## Steps to reproduce
Follow the example in the off

[2017-03-30 06:27] alexbaumgertner commented on #586
@ryanlanciaux done: https://github.com/GriddleGriddle/griddle-docs/pull/5

[2017-03-30 09:55] vozni4iy commented on #582
@ryanlanciaux is Infinite scroll already in Griddle? If yes, could you give me an example how to implement it.

[2017-03-30 11:46] vozni4iy commented on #557
If row heights are different this method doesn't work. Does  anybody know is this bug already fixed in 0.8? Is there infinite scroll implementation in griddle 1.2.0?

[2017-03-30 12:38] sww314 commented on #625
Nevermind. See documentation issues: https://github.com/GriddleGriddle/griddle-docs/issues/6
This can be closed.

[2017-03-30 12:38] #625 closed

[2017-03-31 09:41] jamiecollinson commented on #623
Did you figure out a way around this? I'm currently working around by closing over the containing data in `render`, e.g.

[code]

But this is causing bugs for me as I'm getting undefined errors if the data prop changes - presumably as it's not being passed in as a prop to `CustomColumn` and so can be out of sync.

[2017-03-31 14:06] dahlbyk commented on #623
The Storybook includes an example of enhancing a custom component with `rowData`: https://github.com/GriddleGriddle/Griddle/blob/90a46dbdcdeebca280f4b3d0f8a928f8ad7b9996/stories/index.js#L67-L71

[code]

[2017-03-31 14:10] dahlbyk commented on #615
Didn't notice this before I submitted https://github.com/GriddleGriddle/Griddle/pull/624. Will that work for you?

[2017-03-31 18:00] lruckman commented on #615
Sounds like it would. Looks like a great addition.

[2017-03-31 18:51] ryanlanciaux commented on #623
@dahlbyk is correct. This is a deviation from how we were doing things in 0.x. We are currently taking an opt-in approach to this data for performance reasons. We are hoping to add a helper that is mostly that code provided as a util out of the box -- it seems like a use-case many people are bumping into.

We maybe could additionally make this something driven by a prop on CellDefinition too... so

[2017-03-31 19:55] Isarstyle opened #626 "How to Integrate Griddle into existing Redux Store"
## Griddle version 1.2

## Expected Behavior
connect(props, dispatch)(Button) on customComponent connects to main App Redux Store

## Actual Behavior
i did a connect(props, dispatch)(Button) on a custom component,
but it just connects to the internal griddle redux store, and not to my main Redux store.

## Steps to check
the passed store object i get in my custom rows is just the griddle store obj

[2017-04-01 02:18] Isarstyle opened #627 "PluginWithConfig(config) is not a function"
## Griddle version 1.2

## Expected Behavior
 PluginWithConfig(config) takes the passed config into plugin

## Actual Behavior
Plugin is not a function

[2017-04-01 02:26] dahlbyk commented on #627
Can you provide a bit more code/context? A plugin can be created from config, like `PositionPlugin`, but ultimately a plugin is just an object with various properties.

For example, `<Griddle plugins={[LocalPlugin, PositionPlugin({ tableHeight: 300 })]} ... />` uses both a static plugin (`LocalPlugin`) and a configured plugin from a function call `PositionPlugin(...)`.

[2017-04-01 04:09] Isarstyle commented on #627
hey there,

i copied the localplugin to my app folder, and made some changes, i wanted to pass some props from components higher up the tree..

my code(only the part before the row/column definitions):
[code]
Error message:
TypeError: (0 , _ContactsGriddlePlugin2.default) is not a function

Edit: Thank you for the help, found the Error, tried to pass data to the localplugin, not working :)

[2017-04-01 04:09] #627 closed

[2017-04-02 14:15] ryanlanciaux commented on #626
This is kind of a bug right now. We are working on making it so Griddle doesn't use "store" as it's store key name for this very reason.

There is a kind of hacky work-around right now that is not a great solution where you can add the app store to context as another name. From there, you can wrap your custom component in a component that gets the app store from the context (keyed by the other nam

[2017-04-02 20:43] dahlbyk commented on #609
I can't speak for the maintainers, but reusing `id` seems undesirable since that is how columns are uniquely identified. See https://github.com/GriddleGriddle/Griddle/issues/623 for how to reference data from other columns in a custom component.

[2017-04-02 22:45] dahlbyk commented on #606
The title on this issue seems to disagree with the description, so not sure what you are asking. To change `pageSize`, you want [`actions.setPageSize()`](https://github.com/GriddleGriddle/Griddle/blob/9adf6e2a971c8f294341559fd0dcb267490f7fe8/src/actions/index.js#L59). There does not seem to be a corresponding event, though. Adding events for the built-in actions seems reasonable.

[2017-04-02 23:24] Isarstyle commented on #626
maybe there is a way to add the griddle store to the main provider?
example:  [redux toaster](https://github.com/diegoddox/react-redux-toastr) this package is combining it with the reducers, to add a griddle-reducer to my store would be working for me. I just did not want to change the main griddle file, to be compatible to updates :)

I solved it by passing my redux dispatch actions and the store

[2017-04-03 01:13] #615 closed

[2017-04-03 01:15] ryanlanciaux commented on #609
We were not intending for this sort of behavior. It's definitely possible I'm being short-sighted but can you please explain where this would be necessary? Maybe I can be convinced otherwise :D If not maybe there's another way to solve what you're trying to do -- I'd love to help either way. Thanks!

[2017-04-03 04:31] thearabbit commented on #189
I need too, have any example?

[2017-04-03 04:31] thearabbit commented on #488
Have any example?

[2017-04-03 16:58] objcdeveloper opened #629 "Customize Row"
I need to add click event to the row.

Can someone post example plugin code for Row Customization?

Thank you.

[2017-04-04 00:12] hkeshani opened #630 "Multiple filters for Griddle v1"
Is there a working example showing how to implement multiple filters for Griddle v.1, as was shown in the v. 0.x docs [https://griddlegriddle.github.io/v0-docs/customization.html](url) ?

[2017-04-04 04:04] #611 closed

[2017-04-04 14:51] yoursdearboy opened #631 "Dispatching actions outside of Griddle components tree"
## Griddle version
1.2.0

## Expected Behavior
Be able to easily dispatch an action outside of Griddle's components tree (e.g. toggle settings because of other user action than clicking Settings button).

## Actual Behavior
The only way I see for now (except putting the whole app into Griddle's Layout component) is to use refs chain (from Griddle component to component where you need this/root) an

[2017-04-06 01:21] hkasemir opened #632 "Feature request: checkbox row selection"
## Feature request

Have a column of checkbox components to select rows based on a unique key identifier, with a 'select all' component in the header.

Perhaps this would be best developed as a plugin?

I'm interested in potentially contributing, presenting the idea here as requested in README :)

[2017-04-06 04:07] hkasemir commented on #591
I was able to accomplish this in v1.0.0 by doing the following:

[code]

would be interested to know if there is a method that's more built-in, though!

[2017-04-06 09:32] alexbaumgertner commented on #632
It might be useful for the row selector plugin — documentation how to get row data from Cell: https://github.com/GriddleGriddle/griddle-docs/pull/5

[2017-04-06 09:35] alexbaumgertner commented on #632
And as I know, you can redefine any Griddle component from plugin, for example `local plugin` `RowContainer.js`:
https://github.com/GriddleGriddle/Griddle/blob/master/src/plugins/local/components/RowContainer.js

[2017-04-06 11:25] kvolkovich-sc opened #634 "New examples page proposal"
Hi! =)

![showroom-demo](https://raw.githubusercontent.com/OpusCapitaBES/js-react-showroom-client/93f035a18e6c35de46bfca299a32708ce9e52c1e/docs/demo.gif)

https://github.com/OpusCapitaBES/js-react-showroom-client

It allows to write documentation in markdown and run all docs in sandbox with code examples.
It often useful to have possibility to play with components at web page before use it in proj

[2017-04-06 21:08] babenzele commented on #632
@ryanlanciaux What is the state of (griddle-selection-plugin)[https://github.com/GriddleGriddle/griddle-selection-plugin]? It says deprecated but then again the point about `1.0-combined` is moot now that we're on `1.3.0`.

[2017-04-06 23:23] danielstecki commented on #629
I would love to see this as well.

[2017-04-07 15:44] objcdeveloper commented on #629
@danielstecki I've given up using this table. I am using react-bootstrap-table now and it is fully customization. Hope you like it as well.

[2017-04-07 18:24] ryanlanciaux commented on #629
http://griddlegriddle.github.io/Griddle/docs/customization/

You can import Row from Griddle and override it with the functionality you need and pass that in to Griddle `<Griddle components={{ Row: MyVeryOwnRow }} data={...} ... />`. Additionally, we'd love it if someone wanted to add an onClick to RowDefinition that would get handled in Griddle. 👍

[2017-04-07 18:24] #629 closed

[2017-04-09 19:57] hackhat opened #635 "Columns don't update"
## Griddle version

1.2.0

## Expected Behavior

I should see the column b and hide column a.

## Actual Behavior

Column a is visible, but column b is not.

## Steps to reproduce

 - Set data `[{a:5}]` and column defs `[{id:'a'}]`;
 - Set data `[{b:5}]` and column defs `[{id:'b'}]`;

[2017-04-09 20:12] dahlbyk commented on #635
AFAIK, column defs are only processed when the component is initialized. Try using `actions.toggleColumn` on 'a' and 'b' instead?

[2017-04-09 20:28] hackhat commented on #635
So every time you need a different set of data you need to re init the component? Ok, I will try your suggestion.

[2017-04-09 20:34] hackhat commented on #635
Thanks anyway for you help. I can't figure out how to use `actions.toggleColumn` but changing the key property on the `<Griddle/>` is enough to refresh the columns. Strange way of handling data changes. I didn't expected that it caches the column definitions, at least not from a react component.

[2017-04-09 23:33] dahlbyk commented on #635
Can you provide a more complete example of the code you expect to work? The row/col definitions are processed into `renderProperties` of the initial state for the Redux store ([code](https://github.com/GriddleGriddle/Griddle/blob/6bb688a4921bcdde7616432b2e255379f12c14cf/src/index.js#L94-L117)). This seems a reasonable optimization to me, given that grids are typically used to render data with cons

[2017-04-10 08:55] razazaidisd opened #636 "Nested Props not woking properly while using it with CustomComponent rowData"
## Griddle version
version0

## Expected Behavior
Using CustomComponent to display Nested Properties and when I unchecked all the properties from the Settings panel,
It should display all the default values

## Actual Behavior
Using CustomComponent to display Nested Properties and when I unchecked all the properties from the Settings panel,
It squeezed all the columns as you can see in the screens

[2017-04-10 08:56] razazaidisd commented on #636
![products selection id 123](https://cloud.githubusercontent.com/assets/6624130/24853752/66cbf61c-1ddc-11e7-9939-88b23eb37a1b.png)

[2017-04-10 12:25] razazaidisd commented on #107
I am still having this issue? Any resolution for this?

[2017-04-10 16:33] hackhat commented on #635
@dahlbyk I guess you could check whenever the column definitions are the same? That would be a simple array check.

[2017-04-10 17:44] hackhat commented on #617
By the way the css required is here:

    :global {
      .griddle-table {
        margin-left: 0;
        margin-right: 0;
        margin-top: 0;
        padding-bottom: 0;
        padding-left: 0;
        padding-right: 0;
        padding-top: 0;
        margin-bottom: 1.5rem;
        font-size: 1rem;
        line-height: 1.5rem;
        border-collapse: collapse;
        width: 100%;
      }

[2017-04-10 18:35] hackhat opened #637 "Migration to 1.2.0?"
## Griddle version
1.2.0

I've checked the docs yesterday and I saw `<RowDefinition>`, today is all gone. Are there any migration guides?

**Changes:**

 - `data` to `results`;
 - `<ColumnDefinition>` to `columnMetadata` (some keys also changed)

[2017-04-10 18:53] hackhat commented on #637
Actually I was in the wrong docs 0... somehow google find the v0 docs before the v1...  and the only way to figure out is if you look at the url...

[2017-04-10 18:53] #637 closed

[2017-04-10 18:58] hackhat opened #638 "Put a big red note on the old docs"
I've just wasted some time thinking you guys changed everything because I found the old docs in google.

[2017-04-12 07:45] bristoljon commented on #623
Sorry, I was away and missed the responses until now.

I was looking into upgrading a project to 1.x but in the end we decided to leave things as they are so never got round to solving this.

I think the opt-in approach makes sense generally but it wasn't obvious how to go about this, even with the examples. Although I must have missed the example @dahlbyk pointed out, perhaps this would make a go

[2017-04-12 18:09] jovanni-hernandez commented on #630
This is also of great interest to me, I've been trying to figure out how to add multiple filters from a plugin I've made, but I don't see any obvious ways of doing so. It appears that the core functionality only allows one filter at a time.

[2017-04-12 19:22] jovanni-hernandez opened #640 "Lag when loading chunked data via an external API"
## Griddle version
1.2
## Expected Behavior
No lag when loading data in chunks from an API
## Actual Behavior
When loading data in chunks from an external service, Griddle momentarily locks up and freezes the page. For example, assume I have an API that has 2,000 data points that will be displayed in my table, but only 500 results can be retrieved from the API at a time. For each 500 data point ch

[2017-04-13 03:01] dahlbyk commented on #623
This seems reasonable, but down the road there may be additional data that only certain columns need. How about `include={['rowData']}` with an extensibility point to specify how a given `include` key should be selected?

[2017-04-13 18:30] ryanlanciaux commented on #623
That sounds like a good idea. My initial 2 second thought on this is that we'll make a bunch of enhancers for pulling things out of the store. The string passed into the array could refer to the key in the enhancer object. I'm thinking something like this..

[code]

Then you could do something like `<Griddle data={...} include={['rowData', 'settings']} />` and the code internally would say compose

[2017-04-13 19:43] dahlbyk commented on #623
:+1:

To clarify, do you mean `include` on `ColumnDefinition` rather than `Griddle`? I suppose both could be supported.

Bonus points if there's a mechanism for plugins to inject additional enhancers.

[2017-04-14 10:54] liorbentov opened #641 "set className to a specific column"
I just don't understand from the documentation nor from the code - how can I set the className for a specific column?

[2017-04-16 06:28] zeusi83 commented on #641
In the section API of the docs, ColumnDefinition component, a "cssClassName" prop is mentioned, but it doesn't work, like "customHeadingComponent", "headerCssClassName" and "width" (it sets style on body's td, but not in header's td) props.

[2017-04-18 04:04] #583 closed

[2017-04-18 04:31] #641 closed

[2017-04-18 04:33] dahlbyk commented on #641
Once a new version ships, set `cssClassName` and `headerCssClassName` on your `<ColumnDefinition />` elements, e.g. [this story](https://github.com/zeusi83/Griddle/blob/a54322548f059fdc465f4d6934770b4ebdd8b158/stories/index.tsx#L174).

[2017-04-18 13:45] ryanlanciaux commented on #583
This is fixed in griddle-react@1.3.1 -- thanks everyone and @zeusi83 really appreciate the PR!

[2017-04-18 14:52] wizhippo opened #643 "Row cssFunction not working"
## Griddle version
1.3.1

## Expected Behavior
Row should have class name applied

## Actual Behavior
Class name not applied

## Steps to reproduce
            <RowDefinition
                cssFunction={(rowData) => rowData.active === "A" ? "active" : "inactive"}>
            </RowDefinition>

[2017-04-19 01:12] dahlbyk commented on #641
griddle-react@1.3.1 includes this fix

[2017-04-19 02:02] dahlbyk commented on #643
@ryanlanciaux thoughts on how this relates to #623? `rowData` isn't currently available to implement this function call. It's easy enough to add (including moving `rowDataSelector` out of `LocalPlugin`), but you had mentioned performance implications.

[2017-04-19 12:38] ryanlanciaux commented on #643
This is a good question. I thinking moving rowDataSelector out of local plugin would work well. The main thing is I currently think that columns should still only receive the column value and need to "opt-in" to receiving rowData (currently through the rowDataSelector but hopefully through the option on ColumnDefinitions in the future)

The performance problems I was having is more from columns th

[2017-04-19 14:21] dahlbyk commented on #643
I took a shot implementing this in https://github.com/GriddleGriddle/Griddle/pull/644.

@wizhippo note that your example would need to change slightly with my implementation:

[code]

[2017-04-19 15:25] wizhippo commented on #643
@dahlbyk works well here thank you.

[2017-04-20 06:57] davidpelayo commented on #630
I think this is a must have and looking forward to see how to plug-in into my griddle table. Anyone with some working example?

[2017-04-20 08:05] alexKwonIsAwesome opened #645 "Documentation typo : customHeading => customHeadingComponent"
## Griddle version
v1.3.1
## Expected Behavior
When I pass custom component to `ColumnDefinition` as props in the name of `customHeading`, the given custom component has to be rendered. This is exactly how the document is explaining at http://griddlegriddle.github.io/Griddle/docs/customization/.

example
[code]

## Actual Behavior
The custom component is not rendered.

So I checked your source cod

[2017-04-20 10:49] davidpelayo commented on #630
I've added by the way [a modification](https://github.com/davidpelayo/Griddle/commit/a0c91fc8945500413065fd45cb82d591b66aed0b) in my forked repo in a way I can provide to a custom `<Filter />` component an object to the `setFilter` action hook, being then responsibility of the `plugins.Local`'s `dataFilteredSelector` to consider whether the `filter` is a plain string or an object.

Please any sugg

[2017-04-20 13:29] liorbentov opened #646 "Custom paginator don't get current page"
When I'm using my custom pagination, the current page does not update...

[2017-04-20 20:02] dahlbyk commented on #646
Can you provide an example of code you're expecting to work?

[2017-04-20 21:55] dahlbyk commented on #645
This was fixed in https://github.com/GriddleGriddle/griddle-docs/pull/10, which I imagine will be deployed soon.

[2017-04-20 21:55] #645 closed

[2017-04-21 14:38] #643 closed

[2017-04-21 14:44] ryanlanciaux opened #647 "[Discussion] Change Griddle's internal store name"
We should consider changing the Griddle store name to be 'griddle' (as a default -- this name should be a prop) instead of using the default 'store'. This store is for griddle's internal state management but causes trouble when people are building custom components and want to `connect` to their app's store. There is a work around right now that I'm using in some of my apps where I build an HoC to

[2017-04-21 14:45] ryanlanciaux commented on #645
Yea - there will be a deploy of docs this weekend (if not sooner). Thanks!

[2017-04-21 16:55] hkeshani commented on #630
Thanks so much for this! I'll give it a try and report back.

[2017-04-22 03:27] dahlbyk commented on #647
Could the store name prop be introduced now, defaulting to 'store', to give folks a chance to update their plugins and custom components to not depend on a hard-coded value?

[2017-04-22 09:38] liorbentov commented on #646
Well, I have the object pageProperties object where I set the currentPage to be the state's current page.
When I press the 'Next' button, I change the state's currentPage variable to currentPage + 1, and expects the new value to send to my pagination component.

My pagination component has currentPage Property (and next, previous and set page functions as properties as well)

[2017-04-22 10:02] liorbentov commented on #646
OK, never mind...
I've connected my custom pagination component to the store and fetched the current page from there...
Not closing the issue yet because I'm thinking of posting the final code of the component

[2017-04-22 15:47] ryanlanciaux commented on #647
This sounds like a better path here.

[2017-04-24 06:47] liorbentov opened #648 "Control ColumnHeadingComponent"
Hey,
I'm trying to pass two arguments to a custom column heading component:
1. A boolean - whether a checkbox is checked
2. A function - toggles the checkbox

But I cannot seem to pass the new boolean every time it changes...

I'm doing something like this:
In the Griddle render, I have a map function to map the columns definitions, and i'm doing this:
[code]

[code]

and in my component:
[code]

[2017-04-24 16:20] dahlbyk commented on #648
Can you share what `onToggle`?

[2017-04-24 16:57] liorbentov commented on #648
[code]

[2017-04-24 18:37] dahlbyk commented on #648
And how does the `checked` property in `state` turn into an `isChecked` property in `metadata`?

Or more generally, could you post a Gist (or PR with a story!) that's self-contained? It feels like the problem is how state is propagating through.

[2017-04-25 05:53] liorbentov commented on #648
I'll try to do my best to describe it here -
I have 3 components:
1. Users table container - where I have the defs of the columns (columnMetadata for griddle V0.x)
2. CustomGriddle - where I just pass the columnMetadata as a param
3. CustomHeaderComponent (the one I pasted earlier)

The users table container builds the columnMetadata according to it's state -
In one certain column (call it 'enable

[2017-05-01 23:22] followbl opened #649 "Storybook wont start with given startup instructions"
## Griddle version
1.4.0

## Expected Behavior
Storybook server starts

## Actual Behavior
[code]

## Steps to reproduce

- Fork Repo
- npm install
- npm run storybook

## Pull request with failing test or storybook story with issue

While this step is not necessary, a failing test(s) and/or a [storybook story](https://github.com/storybooks/react-storybook) will help us resolve the issue much more

[2017-05-02 11:26] umgupta commented on #626
@ryanlanciaux : Any ETA on this, or thoughts on this ? I need to griddle states to be maintained in global store. I would really like if I could in some way integrate global store to griddle.

If you have any implementation idea, I can take this up too :)

[2017-05-02 14:23] dahlbyk commented on #649
This might be an issue with TypeScript 2.3. Try applying this patch and doing another `npm install`:

[code]

[2017-05-02 14:55] followbl commented on #649
progress.

[code]

haven't used typescript before...and just dipping my toes in to flow in a couple projects, sorry I couldn't be more help

[2017-05-02 14:56] ryanlanciaux commented on #649
Thank you for this error log -- that does illuminate things a bit more.

[2017-05-02 15:06] dahlbyk commented on #649
That's interesting... I could never reproduce your apparent [JS]SX error, but got "Type '{}' is not assignable to type 'void'." using TypeScript 2.3.2. That error went away when I downgraded to TypeScript 2.2.3.

The "not assignable" issue _seems_ to be a TypeScript regression, which can be fixed by changing `void` on those two lines to `{}` or `any`.

[2017-05-02 15:12] dahlbyk commented on #649
Ah, the change is by design: https://github.com/Microsoft/TypeScript/issues/15409#issuecomment-297765710. PR incoming with that fix.

[2017-05-02 15:19] dahlbyk commented on #649
@followbl are you able to run the Storybook with those fixes? What did you change, if anything, to get past your initial error?

[2017-05-02 16:47] followbl commented on #649
well, this was 100% my fault...I didn't have a NODE_ENV set so it wasn't picking up the right babel config set by env. idk, maybe something to note...but to be honest totally my fault.

I also incorrectly read your fix this morning (I'm 0-2 on the day if you're keeping track)...and bumped the typescript package and then posted the above error. Anyways, your fix works [thanks]...and you can actuall

[2017-05-02 16:53] followbl opened #651 "Warning: Accessing PropTypes via the main React package"
@ryanlanciaux I'd be happy to tackle this however you like/recommend...the common approach for now seems to be swapping out for the prop-types package...like so...

https://github.com/gaearon/redux-devtools/pull/358

## Griddle version
1.4.0

## Expected Behavior
console is clean of warnings

## Actual Behavior
warning.js:36 Warning: Accessing PropTypes via the main React package is deprecated. Us

[2017-05-02 17:10] ryanlanciaux commented on #651
That would be amazing if you wanted to take this on! I think that sounds like a good approach

[2017-05-02 19:05] followbl commented on #651
will do @ryanlanciaux ...will try and get to it tonight 👍

[2017-05-02 19:54] dahlbyk commented on #649
That's curious... I don't believe I have explicitly set `NODE_ENV`, so I'm not sure why you would need one.

[2017-05-03 12:23] andreme opened #652 "Default header click handler sorts columns where sortable = false"
## Griddle version
1.3.1

## Expected Behavior
If a column has sortable=false, it should not change the sort order when clicking on that column.

## Actual Behavior
It changes the sort order.

https://github.com/GriddleGriddle/Griddle/blob/master/src/plugins/local/components/TableHeadingCellContainer.js#L45

[2017-05-03 18:25] followbl commented on #649
@dahlbyk thanks for the fix!

[2017-05-03 18:25] #649 closed

[2017-05-03 22:39] sww314 opened #655 "Map example does not have access to rowdata"
## Griddle version
1.3.1
## Expected Behavior
Cell data not available in a custom component as documented here:
http://griddlegriddle.github.io/Griddle/examples/asMap/
I am not sure this is a bug in the code or if it is problem with documentation that does not conform to new API.

## Actual Behavior
The rows are rendered MarkerBlips on the map, but name and company do not appear.

## Steps to repr

[2017-05-03 23:25] dahlbyk commented on #591
Once #653 is shipped, you will be able to set `sortable={false}` on any `ColumnDefinition`.

[2017-05-03 23:28] andreme commented on #619
I have the same problem, here is a test case:

	<Griddle
		data={[{x: 1}]}

		<RowDefinition rowKey="x">
			<ColumnDefinition id="s" title="First" />
			<ColumnDefinition id="r" title="2" />
			<ColumnDefinition id="h" title="3" />
			<ColumnDefinition id="e" title="4" />
			<ColumnDefinition id="d" title="5" />
			<ColumnDefinition id="d2" title="6" />
			<ColumnDefinition id="r2" title="7" />

[2017-05-03 23:46] andreme opened #656 "Conditional Columns"
## Griddle version
1.3.1

## Expected Behavior
I would like to have some some columns only available conditionally.

## Actual Behavior
Render fails with error.

## Steps to reproduce
	var showB = false;

	<Griddle data={[{x: 1}]}>
		<RowDefinition rowKey="x">
			<ColumnDefinition id="a" title="A" />
			{showB && <ColumnDefinition id="b" title="b" />}
		</RowDefinition>
	</Griddle>

https://github

[2017-05-04 04:45] dahlbyk commented on #656
This seems reasonable to me. Care to submit a PR with that change?

[2017-05-04 06:44] andreme commented on #656
I'll have a go at it when I have some time.

[2017-05-04 08:42] davidpelayo commented on #356
+1 here. I would love to have this feature working.

[2017-05-04 12:16] #591 closed

[2017-05-04 12:16] #652 closed

[2017-05-05 12:56] #619 closed

[2017-05-06 09:09] jamesskyoung opened #661 "Is it supposed to look like this?"
## Griddle version
"griddle-react": "^1.0.0",
(Also tried current version)

## Expected Behavior
LIke the site --> https://griddlegriddle.github.io/Griddle/docs/

## Actual Behavior
See screenshot

## Steps to reproduce
Use code from https://griddlegriddle.github.io/Griddle/docs/

Also cloned the current repo... all examples look like there's a missing css etc...

![screen shot 2017-05-06 at 10 04

[2017-05-06 09:38] Uthpala commented on #597
Need an example on how to customize the pagination component. Or use my own custom component.

[2017-05-06 11:37] jamesskyoung commented on #661
Edit: Tried
[code]
That works.. (after changing data= to results of course.

So something's either missing in the dependencies.. or..?

fyi example is this simple.. v1 does not work with this... see screenshot above.  v0.x does. (after simple change)

[code]

[2017-05-06 11:38] jamesskyoung commented on #661
v0 result.
![screen shot 2017-05-06 at 12 37 52](https://cloud.githubusercontent.com/assets/13589738/25772026/e3bb0dbc-3258-11e7-8eea-2d1b1e4091f5.png)

[2017-05-06 18:45] Uthpala commented on #646
@liorbentov Can you please post your code here.

[2017-05-07 17:06] #656 closed

[2017-05-08 07:16] bharadwajag commented on #661
Hi ,
 we are also facing same issue for the beta version - "griddle-react": "^1.0.0".

[2017-05-08 09:32] bharadwajag opened #662 "Grid not rendering - Cannot read property 'headerCssClassName' of null"
## Griddle version
"griddle-react": "^1.3.1",
## Expected Behavior
Should render proper table
## Actual Behavior
Not rendering table, getting error
![griddle](https://cloud.githubusercontent.com/assets/7804894/25798234/f83bb84e-33fd-11e7-8a9b-f24c787124f4.png)

## Steps to reproduce
Follow this documentation  - http://griddlegriddle.github.io/Griddle/docs/
Install griddle
`npm install --save gridd

[2017-05-08 12:57] bharadwajag commented on #661
@jamesskyoung
Any idea why it didn't work in the latest version.

[2017-05-08 13:41] jamesskyoung commented on #661
None sorry....

[2017-05-08 13:41] jamesskyoung commented on #661
I've been using pre V1... but wanted to try the latest version...

[2017-05-08 18:08] sww314 commented on #661
In version 1+, all the default styling is removed. You have to add your own.
I use bootstrap styles, so this works for me.
[code]

[2017-05-08 18:50] ryanlanciaux commented on #661
Thanks @sww314 -- This is the intent with Griddle 1.0 is that we are not forcing / shipping styles to other folks in the community (especially if they are going to not be used). It's really tough to determine the right level of features to ship as part of a project and ultimately we landed on styling should be handled outside of Griddle.

If someone wants to make a default style and submit it as a

[2017-05-08 18:50] #661 closed

[2017-05-08 19:31] jamesskyoung commented on #661
ok thanks folks... appreciate the responses...

[2017-05-09 04:49] bharadwajag commented on #662
@ryanlanciaux
Could you please help on this issue, am I doing something wrong here?
I've followed the documents - http://griddlegriddle.github.io/Griddle/docs/ but no use.
Note : Its working fine in - "griddle-react": "^0.8.1".

[2017-05-09 06:15] bharadwajag commented on #532
@Sandeep3005
As I noticed, you are familiar with Griddle + Material UI.
Me also trying to integrated Griddle with Material UI, could you please provide me any demo or source code how you integrate which might helpful me alot.

[2017-05-09 16:45] jamesskyoung commented on #661
@sww314 . Forgot to add tx!

I would add though that some level of rudimentary styling is desirable out of the box.. otherwise... you'll end up with what I showed above.  Granted...  I didn't use styleConfig like I should have. If I hadn't used Griddle before, I would have quickly moved on.

[2017-05-09 23:31] dahlbyk commented on #662
Try installing the latest version? I'm not able to reproduce this, and I can't see how `cellProperties` on the [failing line](https://github.com/GriddleGriddle/Griddle/blob/e9ecd87e8b6c3ee9c4df1346517f5e211b78e703/src/plugins/local/components/TableHeadingCellContainer.js#L55) could be `null` given [its implementation](https://github.com/GriddleGriddle/Griddle/blob/e9ecd87e8b6c3ee9c4df1346517f5e211

[2017-05-10 05:09] bharadwajag commented on #662
@dahlbyk
Thanks for the reply will try to install the latest version as you suggested.
Right now I'm using - "griddle-react": "^1.3.1", is not the latest?

[2017-05-10 13:55] dahlbyk commented on #662
`"griddle-react": "^1.5.0"` is available, but not marked `@latest` yet.

[2017-05-10 13:58] dahlbyk commented on #662
(I'm 99% certain what you're seeing will have been fixed by https://github.com/GriddleGriddle/Griddle/commit/dbcff1d2b0fb80ffa3db02523f08a29bb69b2a8c.)

[2017-05-11 11:52] bharadwajag commented on #662
@dahlbyk
This issue has been fixed in the latest version - "griddle-react": "^1.5.0".
Thanks @dahlbyk.
But styles are not rendering - found the reason here - https://github.com/GriddleGriddle/Griddle/issues/661#issuecomment-299944751

[2017-05-11 11:53] #662 closed

[2017-05-13 13:58] ieow commented on #623
It would be also great if can support passing down props to cell such as props from react-router  "match.url"

[2017-05-14 12:47] dahlbyk commented on #623
`ColumnDefinition` does have `extraData` stubbed in, but it's not wired up yet. Would that be sufficient?

[2017-05-14 14:18] ieow commented on #623
Yupe, I think that would do.

[2017-05-15 02:20] joellanciaux commented on #647
I think that having a dynamic store context name would be a pretty slick, but I think I'm a little concerned that with would introduce an unfamiliar API into what we're currently using (heavy use of `recompose`, HoCs, etc.) -- I don't know if it's going to be as simple as swapping our current `connect` with a dynamic, context-driven one.

I was playing around with this a little earlier and it look

[2017-05-15 12:25] ryanlanciaux commented on #647
Would it work with something like https://www.npmjs.com/package/react-redux-custom-store ?

[2017-05-15 21:16] dahlbyk commented on #647
Merged a few days ago: https://github.com/reactjs/react-redux/pull/695

[2017-05-16 01:19] joellanciaux commented on #647
`react-redux-custom-store` looks pretty great and is what I'm using, but that's where I'm running into composition issues.

I wonder if that `react-redux` update will make things move a little smoother?

[2017-05-16 01:26] joellanciaux commented on #647
I put together [feature/custom-store-name](https://github.com/joellanciaux/Griddle/tree/feature/custom-store-name), which includes a hard-coded custom store name + some other updates that should likely live in another PR that I think would be nice (no longer re-keying data on every property update, which is pretty expensive + adding a bucket for extra properties on Griddle).

I'm fine holding off

[2017-05-16 09:24] MounikaPoddaturi opened #663 "Display only the desired columns"
## Griddle version:
"griddle-react": "^1.5.0"

## Expected Behavior:
To display only the desired columns

## Actual Behavior:
Showing all the columns from the API response.

[2017-05-16 09:31] MounikaPoddaturi commented on #663
Hello,
The Griddle version I am using is: 1.5
I have many columns getting as a response from the API. I want to show only a few columns to the user.
How do I do that?

` <Griddle
                data={statistics ? statistics : []}
                plugins={[plugins.LocalPlugin]}>
                <RowDefinition>
                  <ColumnDefinition id="company" title="Company" order={1} />

[2017-05-16 15:01] dahlbyk commented on #663
Your code sample looks correct for limiting the grid to only the `company` column (with Company as its header). There are many examples of this in the [Storybook](https://github.com/GriddleGriddle/Griddle/blob/830275136907a8dbf26b688a484b136ffb33a740/stories/index.tsx#L627-L634).

[2017-05-16 16:35] dahlbyk commented on #466
@ryanlanciaux @joellanciaux sort is case-sensitive again with `LocalPlugin` in 1.x. Overriding with `sortMethod` works, but needing this on every column is less than ideal. Glad to submit a patch, but curious if you have any thoughts on where a global default `sortMethod` should live?

[2017-05-16 19:15] bjoe87 commented on #557
Any progress on this?

[2017-05-18 19:23] Ashwin2488 commented on #646
@Uthpala I did something similar to the solution mentioned [#586](https://github.com/GriddleGriddle/Griddle/issues/586).
[code]
Not sure if this is the simplest way but it helped achieve. The final output is below
<img width="1104" alt="screen shot 2017-05-19 at 12 52 28 am" src="https://cloud.githubusercontent.com/assets/5536154/26219696/8938407e-3c2d-11e7-9ba9-0ba4f99ec726.png">

[2017-05-18 19:36] Ashwin2488 commented on #646
@liorbentov One issue with above solution was that every time I search through filter and the rows gets updated, how do I get the updated row count? I have seen  `state.getIn(['pageProperties', 'recordCount'])` used in dataSelector but actual pageProperties is not having the recordCount .

[2017-05-23 14:24] prashantkhode opened #665 "filterPlaceholderText prop doesn't apply placeholder to filter component"
## Griddle version

## Expected Behavior

## Actual Behavior

## Steps to reproduce

## Pull request with failing test or storybook story with issue

While this step is not necessary, a failing test(s) and/or a [storybook story](https://github.com/storybooks/react-storybook) will help us resolve the issue much more easily. Please see the README for more information.

[2017-05-24 02:14] dahlbyk commented on #665
What Griddle version? This property is supported in 0.x but not for 1.x.

[2017-05-24 05:20] prashantkhode commented on #665
i am using v0.6.1

[2017-05-24 14:56] dahlbyk commented on #651
Can this be closed now?

[2017-05-24 14:57] followbl commented on #651
Of course. Thanks

[2017-05-24 14:57] #651 closed

[2017-05-25 16:04] nclancy-r7 commented on #390
I am interested in draggable resizing column headers, is this supported? Or indeed possible through customization?

[2017-05-31 07:37] cdupont opened #667 "Doc: gallery of themes"
With version 1.0.0, unfortunately no styling is applied by default (#661).
The documentation is not so helpful in helping applying quick styles...
Why not making a gallery of themes/quick styles, to help the user pick a styleConfig?

[2017-05-31 07:44] Donnzh commented on #526
Hi ryanlanciaux, the example link you post is invalid, can you update it? thanks.

[2017-05-31 12:22] sgedda commented on #209
I cannot see any example in the new docs of how to retrieve the filtered rows?

[2017-05-31 12:42] sgedda commented on #209
I cannot see any example in the new docs of how to retrieve the filtered rows?

[2017-06-06 16:05] sww314 opened #668 "CustomRowComponent does NOT get handed state"
## Griddle version
1.5 and 1.3 (works in 1.0.3)

## Expected Behavior
Customize row to make it look like a list. The rowDataSelector is not getting handed the state objects (I think).
Follow the code here in the documentation:
https://github.com/GriddleGriddle/griddle-docs/blob/master/components/GriddleList.js

## Actual Behavior
    const CustomRowComponent = connect((state, props) => ({
      ro

[2017-06-07 06:45] hafizio opened #669 "How to pass props to Row component"
## Griddle version
1.3.1

## Steps to reproduce

I'm upgrading our app from 0.6.1 to 1.3.1. Prev, I can directly pass the props from the parent that contain the griddle component to the row. I'm trying to pass a function as a prop to the row. Is there a direct way to do this? without creating my own plugin or enhance the row component?

[2017-06-07 07:24] sstauross opened #670 "Sort columns using a dropdown select [Griddle v1.3.1]"
Hello, i am trying to achieve sorting in a variety of ways using a dropdown select with the following options for example:
- Date
- Price [asc]
- Price [desc]

How can i connect the selected way of sorting with the column sorting and remove the arrows next to the column headings? Thanks in advance!

[2017-06-08 09:42] jackgeek opened #671 "Cannot dynamically show or hide columns"
## Griddle version
1.3.1
## Expected Behavior
Changing the visible prop on ColumnDefinition should cause columns to be hidden or shown appropriately.
## Actual Behavior
The column is only shown/hidden
## Steps to reproduce
        <Griddle
          data={data}
          plugins={[plugins.LocalPlugin]}

          <RowDefinition>
            <ColumnDefinition id="name" title="Name" />
            <

[2017-06-08 10:02] jackgeek commented on #671
Just tried this on 1.6.0 and the same behaviour is experienced

[2017-06-08 21:37] dahlbyk commented on #671
Try setting `<Griddle key={...}>` based on `companyVisible`, e.g.

[code]

[2017-06-09 09:01] jackgeek commented on #671
Yes this works and is what I am presently doing.  However there are potentially a lot of things I have to monitor the changes of and maintaining this is cumbersome.  I have worked around this for now using key but it would be nice if the library responded to prop changes.

[2017-06-09 11:47] aftabnaveed opened #672 "OnGetPage Event not working"
## 1.3.1

## onGetPage event not getting triggered

I have my own wrapper for Griddle component. The reason for having a wrapper is to apply styles and common events across all my grids in the application (Not sure if this is a best practice). Everything seems to be working fine, but my onGetPage handler is not working. Below is the code.

[code]

[2017-06-09 12:01] aftabnaveed commented on #667
Something I am using at the moment with Bootstrap theme.

[code]

[2017-06-09 13:46] dahlbyk commented on #671
Currently the row/column definitions are only parsed on initial load. I wonder if we should refresh them on `componentWillReceiveProps`?

[2017-06-09 15:42] dahlbyk commented on #667
@aftabnaveed Thanks for sharing this! Can you share the source for `BootstrapFilter` as well?

For theme-creation purposes, it seems like it would be helpful to teach Griddle to merge in `styleConfig` from plugins.

[2017-06-09 16:12] jackgeek commented on #671
Sounds like a good idea to me

[2017-06-09 16:32] jackgeek opened #673 "versions are not tagged and releases are not showing on github"
I'm currently upgrading from v0.x to v1 and the new API is marvelous.  Thanks for all your efforts!

I'm trying to find the source code for the current stable version 1.3.1 but it doesn't appear to be branched or tagged.  How can I find the 1.3.1 source code?

[2017-06-09 18:58] aftabnaveed commented on #667
@dahlbyk there is nothing much in my BootstrapFilter I just added a label to it. Please see the updated version of my answer. I just trying out griddle yesterday therefore, I am not sure what is the best practice of doing it here :-)

[2017-06-10 05:27] dahlbyk commented on #673
We should definitely try to tag releases. You can get close with [history of `package.json`](https://github.com/GriddleGriddle/Griddle/commits/master/package.json). 1.3.1 seems to be [here](https://github.com/GriddleGriddle/Griddle/tree/2c272ef3e9cbc028fddc9be2f0d0d8dbe0b20503).

[2017-06-10 11:14] jackgeek commented on #647
I not sure you need a library other than react-redux to achieve this.

First: create your Provider using the createProvider function exported by react-redux. You can specify a storeKey.

Second: create your own connect function to use when you want to connect to griddle's store. This is dead easy, just callthe existing connect function and pass the store Key in the options parameter.

Done!

But I

[2017-06-10 11:59] jackgeek commented on #647
Here is the griddle connect I have described above, taken from my own project:

[code]

[2017-06-10 18:05] jackgeek commented on #647
Here is a couple of higher order components I use to ensure my cell contents have access to my app store.

[code]
[code]

[2017-06-12 02:37] thelittleblacksmith commented on #668
We're getting this error as well. For now, removing `plugins.LocalPlugin` from the plugins prop renders the data as a card list but obviously removes the filtering feature.

(It's really strange because one person has managed to get everything working -- card list and filtering -- but anyone else who clones the repo gets this error.)

[2017-06-12 14:28] dan3721 commented on #626
+ 1 for ETA?

[2017-06-12 14:49] dan3721 opened #674 "ColumnDefinition extraData"
## Griddle version
1.5

## Expected Behavior
extraData passed into the custom component on the column definition.

## Actual Behavior
Property present on [ColumnDefinition](https://github.com/GriddleGriddle/Griddle/blob/340b3af09ece4c92c98ce5cb4448701ccdf975f1/src/components/ColumnDefinition.js) but, dosen't look to be actually used internally.

## Steps to reproduce

## Pull request with failing

[2017-06-12 15:12] sww314 commented on #668
I had to downgrade to 1.0.3 to get this work again. Looks like it is broken in 1.3 and 1.5 (atleast for my use case.)

[2017-06-13 10:51] #674 closed

[2017-06-13 15:23] dahlbyk commented on #626
`extraData` has been implemented in https://github.com/GriddleGriddle/Griddle/pull/675.

[2017-06-13 15:25] dahlbyk commented on #623
@ieow `extraData` has been implemented in https://github.com/GriddleGriddle/Griddle/pull/675.

[2017-06-13 16:16] archy-bold commented on #626
Is there a version of Griddle >1.0 that isn't affected by this bug? I really don't like the idea of updating my components to work around this.

[2017-06-13 16:41] dahlbyk commented on #668
@sww314 @thelittleblacksmith I'm not sure what to tell you. I tried to reproduce this in https://github.com/GriddleGriddle/Griddle/pull/676, but everything seems to be working as expected. I wonder if it's related to other dependencies?

[code]

[2017-06-13 16:44] dahlbyk commented on #626
Check out https://github.com/GriddleGriddle/Griddle/issues/647 for additional discussion related to this issue.

[2017-06-13 16:50] archy-bold commented on #668
I think it's related to https://github.com/GriddleGriddle/Griddle/issues/626.

[2017-06-13 17:02] thelittleblacksmith commented on #668
@dahlbyk

So we kind of figured out what was happening with us (even though it doesn't really make sense?). When we incorporated Griddle, I started with `1.0.3` then upgraded it to `1.5` because I needed access to `cssClassName`. My teammate did an npm install from that package.json (which had version `1.5`) and got that `set.get()` error. We downgraded to `1.0.3` as per @sww314 and my teammate di

[2017-06-13 17:51] archy-bold commented on #647
@jackgeek Thanks, this worked really well and meant I don't need to update my components to access the store from the context directly. It will do as a quick fix before the more major changes are made.

For anyone wondering how to get it to work, you can do the following:

[code]

[2017-06-13 23:53] aftabnaveed commented on #672
Removing plugins={[plugins.LocalPlugin]}  fixed the issue. My bad.

[2017-06-14 01:04] dahlbyk commented on #668
If `@latest` is working I'm not sure how much effort we should spend on it.

[2017-06-14 09:28] aftabnaveed commented on #91
@ryanlanciaux that page no longer exists. Is that question still relevant?

[2017-06-14 15:09] sww314 commented on #668
I removed griddle and the read added it. What is weird is that only 1.3.1 appears available now...
<img width="402" alt="screen shot 2017-06-14 at 10 07 25 am" src="https://user-images.githubusercontent.com/1430264/27139709-58a641c4-50e9-11e7-9972-a7c926da4727.png">

However, 1.3.1 works when on a clean install.  My guess is the issue was related to a dependency or build problem in the 1.5 package

[2017-06-14 16:31] sww314 commented on #668
Ugh. This is some type of problem with the webpack bundling that causes the problem. It is back now and I have not changed any Griddle code.

[2017-06-15 02:03] ryanlanciaux commented on #668
Hmm - sorry you're running into this :| I was running into some weirdness on docs project as described in the issue so latest is @1.3.1 until that gets resolved (I'm using 1.5.0 in some of my projects, though without any trouble).

I will try to dig into this a bit more by this weekend if not sooner.

[2017-06-15 02:03] ryanlanciaux commented on #668
If anyone gets there first, though, that's cool :)

[2017-06-15 05:20] dahlbyk commented on #672
I'm pretty sure this is a bug in [`LocalPlugin`'s `PageDropdownContainer`](https://github.com/GriddleGriddle/Griddle/blob/2988f42dd4b3db027587694028783f6507e7848d/src/plugins/local/components/PageDropdownContainer.js): it grabs `setPage` directly from `actions` instead of from `events` like the [default `PageDropdownContainer`](https://github.com/GriddleGriddle/Griddle/blob/794064ed95d2a45dbff4553

[2017-06-15 05:33] dahlbyk commented on #91
The correct customizztion link, for Griddle v0, is https://griddlegriddle.github.io/v0-docs/customization.html#custom-paging-component

For v1, you would override `components.Pagination`: http://griddlegriddle.github.io/Griddle/docs/customization/.

[2017-06-15 14:08] ryanlanciaux commented on #671
The other thing I was thinking is that we could make the column definitions update the store for their own properties instead of Griddle top component managing the column settings (it just passes them to the store anyhow).

What I'm envisioning this looking like is the column definitions would also connect and have an action that fires off it's properties. Right now it's Griddle that does all that

[2017-06-19 04:37] dahlbyk commented on #661
As of #677, it would now be feasible to include a basic default style plugin, and to fix up the [`LegacyStylePlugin`](https://github.com/GriddleGriddle/Griddle/blob/15a07f23be32f1fbdde0534fbad0dd2188d1008b/src/plugins/legacyStyle/index.js) to look/act like Griddle v0 by default. If anyone cares to contribute, we could use your help!

[2017-06-19 04:40] dahlbyk commented on #667
As of #677, it should now be possible to represent themes as Griddle plugins. We wouldn't want to take on the dependency in this project, but a `griddle-react-bootstrap` plugin would be great to have available. Not sure if it would make more sense to have a `griddle-themes` project in this org, to collect and maintain those projects, or if that should be left to the community. We can certainly cre

[2017-06-23 21:07] mkayton opened #678 "where to apply cell events?"
It's really unclear from the documentation how/where in the code to apply events to cells. Can you please clarify how to implement onClick/onMouseEnter/etc. ?

[2017-06-25 05:28] dahlbyk commented on #678
The easiest way is with a `CellEnhancer`: check out a [new example story](https://github.com/dahlbyk/Griddle/blob/d4572faa07b0ef010887b412f86f161a82b565fe/stories/index.tsx#L112-L131) from #679.

[2017-06-25 13:58] Mastergalen commented on #599
Looks like they're using the npm module [typography](http://kyleamathews.github.io/typography.js/) to generate the CSS.

[2017-06-25 14:42] Mastergalen commented on #394
For those arriving from Google:

Solution is in the docs: http://griddlegriddle.github.io/Griddle/examples/getDataFromRowIntoCell/

[2017-06-25 18:27] dahlbyk commented on #599
Styles were omitted in 1.x by design, but it has been a recent topic of discussion—start here: https://github.com/GriddleGriddle/Griddle/pull/677.

[2017-06-25 18:30] dahlbyk commented on #394
Additional reading: https://github.com/GriddleGriddle/Griddle/issues/623#issuecomment-290721423

[2017-06-26 12:32] #678 closed

[2017-06-26 15:23] mohit-github opened #680 "Trying to open a modal from a custom row component using dispatch (Redux), throws an error."
I am trying to open a modal by clicking a button inside a custom row component. This button is connected to the store and has state and dispatch mapped to it's props. But whenever I click on the button the onClick function executes correctly until it trys to dispatch an action (Redux) to open a modal. It throws an error saying _Uncaught TypeError: Cannot read property 'filter' of undefined_. This

[2017-06-27 11:55] Sandeep3005 opened #681 "How to filter with Griddle column contain different value that value in results?"
Using Griddle Version 0.6.1<br>

From database, I am getting value associated to users-role.<br><br>

**Scene**<br>
By using customComponet in columnMetaData I am converting userId to the username using data from the prop in the method getUser

**Problem**<br>
When I am trying to filter it based on username, unable to filter cause data contain userId and not the username.

I am getting this from t

[2017-06-28 10:28] ieow commented on #623
Sorry for late reply.
I tried it, it works perfectly.
Just may be the keyword 'cellProperties' is a bit long. :)

[2017-06-28 18:01] gidili commented on #557
@ryanlanciaux thinking to attempt an upgrade to 1.x to resolve this (and other infinite scrolling issues with loads of data and/or variable row heights) - can I ask if you have any indication that in more recent version infinite scrolling is more robust? Using pagination right now to get around some issues but would really like to use this feature.

[2017-06-28 19:30] dahlbyk commented on #623
To clarify: after we have a release in `npm` with #675, values from `extraData` will be available directly in `props`. As you note, until then (and on older releases), you can pull `extraData` out of `cellProperties`.

[2017-06-28 20:16] bjoe87 commented on #557
check the fork I have; this may have been fixed in mine. Let me know if it works for you

[2017-06-30 07:30] mathetes opened #682 "How to appoint default visible columns?"
I need to show not all columns with start app.
How to appoint default visible columns?
Give me sample of code, please.

[2017-06-30 16:34] dahlbyk commented on #682
See https://github.com/GriddleGriddle/Griddle/pull/683 for sample code, but short version is that you'll need to add `<ColumnDefinition visible={…} />` for your columns.

[2017-07-01 06:40] mathetes commented on #682
Yes, I did it!

[2017-07-01 11:42] #682 closed

[2017-07-02 05:33] sudhiryadav commented on #586
after following the workaround i am getting following error:

connect.js:58 Uncaught TypeError: Cannot read property 'displayName' of undefined

[2017-07-02 14:10] ieow commented on #623
Cool.That is great.
Can't wait for that.

[2017-07-02 21:38] alexbaumgertner commented on #586
@sudhiryadav could you please provide a bit more information: call stack trace from devtools console?

[2017-07-03 05:58] sudhiryadav commented on #586
Hi @alexbaumgertner, here is the complete stack trace 👍

connect.js:58 Uncaught TypeError: Cannot read property 'displayName' of undefined
    at getDisplayName (http://localhost:8080/bundle.js:24297:27)
    at wrapWithConnect (http://localhost:8080/bundle.js:24340:44)
    at http://localhost:8080/bundle.js:160079:156
    at Array.forEach (native)
    at ItemList.render (http://localhost:8080/bund

[2017-07-03 06:53] mathetes opened #684 "How move setting block to sidebar?"
I would like to separate setting & table blocks in col-md-9 & col-md-3.
How to do it without changing sourse code?

[2017-07-03 13:58] dahlbyk commented on #684
Specify a custom [`Layout`](https://github.com/GriddleGriddle/Griddle/blob/9126332ef5a03189c0606a4305b2aa3c3a77b378/src/components/Layout.js).

[2017-07-03 13:58] #684 closed

[2017-07-03 15:28] skipjack commented on #559
I ran into this as well, although I'm planning to migrate to v1.x.x soon so hopefully this isn't an issue there. I did resolve by using the `customCompareFn` for the broken column which is documented [here](https://griddlegriddle.github.io/v0-docs/customization.html), but obviously it would be nice if numbers were sorted correctly by default.

[2017-07-03 20:04] dahlbyk commented on #559
Griddle v1.x should correctly sort numeric values numerically.

[2017-07-05 14:57] jackgeek commented on #670
I have tried to do this also.  My implementation works by calling the onSort event, which I have because I implemented [external control](http://griddlegriddle.github.io/Griddle/examples/controlling-griddle/).  However when I am using the Local plugin I do not use my onSort implementation.  I have no idea how to get my custom Sort component to work with the Local plugin.

[2017-07-05 15:39] jackgeek commented on #670
I just figured it out.  If I am using the local plugin I dispatch a GRIDDLE_SET_SORT action.

[code]
The sortProperties looks like this:

[code]

[2017-07-05 16:19] sww314 commented on #680
I accomplished this by add buttons to custom cell.
    const Toolbar = ({ value }) => (
      <ButtonToolbar>
        <Button name="Edit" bsStyle="primary" data-item={value} onClick={this.showEvent}>
          <i className="fa fa-pencil fa-lg" />
        </Button>
        <Button name="Remove" bsStyle="danger" data-item={value} onClick={this.removeEvent}>
          <i className="fa fa-trash-o fa-l

[2017-07-07 08:39] sgedda opened #686 "Error while running "npm start" after cloned source-code."
1.5.0

cloning source then npm install, npm run. Recieves errors.

ERROR in ./stories/index.tsx
(197,16): error TS2322: Type '{ data: FakeData[]; plugins: (GriddlePlugin | { events: { setSortProperties: (sortProperties: any...' is not assignable to type 'IntrinsicAttributes & Intrin
sicClassAttributes<Griddle<FakeData>> & Readonly<{ children?: ReactNo...'.
  Type '{ data: FakeData[]; plugins: (Gri

[2017-07-07 14:16] dahlbyk commented on #686
I stumbled on this over the weekend, just hadn't opened a PR yet. Try pulling down #687 and `npm i`?

[2017-07-07 17:01] vavanv opened #688 "test"
## Griddle version

## Expected Behavior

## Actual Behavior

## Steps to reproduce

## Pull request with failing test or storybook story with issue

While this step is not necessary, a failing test(s) and/or a [storybook story](https://github.com/storybooks/react-storybook) will help us resolve the issue much more easily. Please see the README for more information.
``
<render()/>
``

[2017-07-08 01:08] dahlbyk commented on #466
Bump, before I just spike something out!

[2017-07-11 15:18] sww314 commented on #688
@vavanv It is better to ask questions on [StackOverflow](https://stackoverflow.com/questions/tagged/griddle). The issues section is for bugs or new features.

[2017-07-11 15:30] vavanv commented on #688
to me it looks like a bug.
I tried to use bootstrap-react-table instead of Griddle (just changed the control) and it works perfectly fine,
also it works with html table :(

[2017-07-11 15:49] sww314 commented on #688
If it is bug, you need to add some detail. What are seeing? Debug logs etc.
I am using Griddle v1.3.1 in quite a few places and it works when I hand it an Array of data.

I typically use it like this:

[code]

[2017-07-12 16:30] hackhat commented on #359
Any news on this?

[2017-07-13 09:45] hackhat opened #690 "What version should I use?"
In my project I have version 1.4, on npm last version is 1.3 and in github last version is 1.5

What is the last recommended version to use? Also the docs (https://griddlegriddle.github.io/Griddle/docs/api/) are for which version?

[2017-07-13 11:56] hackhat commented on #647
Here is my workaround:

  // Import the Provider
  import {Provider} from 'react-redux';
  class Comp extends React.Component {
    static contextTypes = {
      // Request for the store
      store: PropTypes.object.isRequired,
    };
    render() {
      const HomeworkHeadingComponent = (publicProps) => {
        // Use provider with custom store from `this.context.store`
        return (

[2017-07-13 15:09] #686 closed

[2017-07-13 17:13] skipjack commented on #651
Just a heads up on v1.6.0 this warning is thrown again due to the `react-redux-custom-store` package which seems to be a dependency of this package.

[2017-07-14 09:48] saravanannnallasamy commented on #86
[https://griddlegriddle.github.io/v0-docs/customization.html#speakers/Hawaii/Mayer Leonard](url)

[2017-07-14 21:33] sww314 commented on #690
I am using 1.3.1.
I had problems with anything past that and waiting for a new build.

[2017-07-15 07:25] dahlbyk commented on #690
@sww314 are there open issues for the problem(s) you had with builds newer than 1.3.1?

[2017-07-15 15:57] sww314 commented on #690
@dahlbyk
1.3.1 is the latest on npm. Briefly, there were other versions available on npm. I had problems with those -> #668

[2017-07-15 18:50] sww314 commented on #673
@ryanlanciaux I would be happy to help with cleaning up some of the issues (labeling, closing old ones etc) + pull requests and look at this problem as well.

[2017-07-16 10:34] ryanlanciaux commented on #673
That would be awesome @sww314.

[2017-07-16 12:48] sww314 commented on #680
@mohit-github did you figure this out or is it still an open issue?

[2017-07-16 12:54] sww314 commented on #665
This feature is not in the current release. There is not enough help to support v0 at this time.

[2017-07-16 12:54] #665 closed

[2017-07-16 13:02] sww314 commented on #681
@Sandeep3005 I am closing this issue since it is an old version. There is not enough support to support v0 + current release.

[2017-07-16 13:02] #681 closed

[2017-07-16 13:04] sww314 commented on #635
Duplicate of #671

[2017-07-16 13:04] #635 closed

[2017-07-16 13:08] #634 closed

[2017-07-16 13:15] sww314 commented on #621
Also related: #680

[2017-07-16 13:17] #670 closed

[2017-07-16 13:18] sww314 commented on #663
Currently, columns are static. See the discussion on #671 for dynamic columns.

[2017-07-16 13:18] #663 closed

[2017-07-16 18:19] mohit-github commented on #680
Hi @sww314
I was on bit of a deadline so I moved away from griddle and do not have enough bandwidth rigth now to test this.
But will come back to griddle after the launch of my product, because I like the customizable approach a lot.
Thanks for replying btw.
You can close the issue if you made it work.
Cheers and good luck.

[2017-07-17 07:29] serkyen opened #691 "Column that fetches data from another Meteor collection"
## Griddle version
"griddle-react": "^1.3.1",

## Expected Behavior
I have a table that shows contacts. One of the columns is 'category' which is the _id of another mongo collection called 'categories'. I want it to display a different field (name) other than _id, from the relevant document in the categories collection.
![image](https://user-images.githubusercontent.com/16330002/28258447-94634672-

[2017-07-18 01:52] hackhat commented on #690
I'm using 1.5 because the column order is broken with +8 columns in prev versions. Seems that is working ok for now, but I only use a few features.

[2017-07-18 14:42] sww314 commented on #691
@serkyen I had a similar problem. I just hacked around it by flattening the data in the render method. Not an ideal fix, but works in 1.3.1.

I would be interested to hear if you figure out a better way.

[code]

[2017-07-19 16:27] DannyTakeuchi opened #692 "Issue with instantly rerendering table with setState and dynamic Columns"
## Griddle version
"griddle-react": "^1.3.1",
## Expected Behavior
Assume that a .csv has been imported, converted to JSON, and contains data composed of six columns: App Icon, App Store, App Title, Detected, Client, and Keyword. Columns Temp1 through Temp4 for are not included and thus they are not populated.

Columns temp1 through temp4 should be hidden, leaving the table with only 6 columns.
![

[2017-07-19 21:44] moraleslos opened #693 "PositionPlugin doesn't work"
Trying out Griddle and am using the PositionPlugin so it would do virtual scrolling instead of pagination.  I also removed pagination from my custom layout.  However this plugin doesn't seem to do anything and I'm not able to scroll.  Records still limited to the default 10.  Any ideas?  Below is a code snippet:

[code]

Griddle 1.5.0, React 15.6.1

[2017-07-19 22:32] serkyen commented on #691
Thanks for that @sww314 !
This totally worked for me but when you say it is not an _ideal_ fix, do you just mean aesthetics or is there some other limitation to doing it this way?
Thanks

[2017-07-19 23:37] sww314 commented on #691
@serkyen - depending on how much data you have, it could have performance effects by doing the data manipulation in the render call.

Since this works for you, I am going to close the issue for now.

[2017-07-19 23:37] #691 closed

[2017-07-19 23:40] sww314 commented on #692
@DannyTakeuchi Column Definitions are set *only* when the component mounts currently.
See #671.

[2017-07-19 23:40] #692 closed

[2017-07-20 01:48] sww314 commented on #648
@liorbentov Did you ever figure this out?

[2017-07-20 01:55] #609 closed

[2017-07-20 02:00] #599 closed

[2017-07-20 02:04] sww314 commented on #608
@reznord I am going to close this issue.
You may have better luck on [Stackoverflow](https://stackoverflow.com/questions/tagged/griddle).

[2017-07-20 02:04] #608 closed

[2017-07-20 02:06] #604 closed

[2017-07-20 02:17] sww314 commented on #602
@mathetes for questions please use [Stackoverflow](https://stackoverflow.com/questions/tagged/griddle).

Those values are set here: https://github.com/GriddleGriddle/Griddle/blob/a9f23d0499f085e20a6bade780059f6f1a3f60a7/src/settingsComponentObjects/ColumnChooser.js

[2017-07-20 02:17] #602 closed

[2017-07-20 02:17] #561 closed

[2017-07-20 02:19] #556 closed

[2017-07-20 02:20] #510 closed

[2017-07-20 02:23] sww314 commented on #548
This is not implemented in new version. Closing.

[2017-07-20 02:23] #548 closed

[2017-07-20 02:27] sww314 commented on #554
Nested data can be handled like this:
http://griddlegriddle.github.io/Griddle/examples/nestedData/

Otherwise, you can create a custom component or reformat the data before you hand it to Griddle. I found reformating the data easier.

[2017-07-20 02:27] #554 closed

[2017-07-20 02:28] #552 closed

[2017-07-20 02:30] sww314 commented on #545
defaultColumnFilter is no longer in v1+.

[2017-07-20 02:30] #545 closed

[2017-07-20 02:32] sww314 commented on #514
Not an issue in v1+.

[2017-07-20 02:32] #514 closed

[2017-07-20 02:34] sww314 commented on #529
Closing old issue. Please reopen if a bug or feature request.

[2017-07-20 02:34] #529 closed

[2017-07-20 02:35] sww314 commented on #226
Griddle does not handle scrolling current versions (v1+).

[2017-07-20 02:35] #226 closed

[2017-07-20 02:37] sww314 commented on #66
Closed by #436

[2017-07-20 02:37] #66 closed

[2017-07-20 02:39] sww314 commented on #107
@razazaidisd what version of Griddle are seeing this problem on?

[2017-07-20 02:48] sww314 commented on #199
Fix in v1.

[2017-07-20 02:48] #199 closed

[2017-07-20 04:29] dahlbyk commented on #604
You can also use a `RowEnhancer` to specify `onClick`.  See https://github.com/GriddleGriddle/Griddle/pull/679/files#diff-0c202c416b4ecee142c729a00e6912d8

[2017-07-20 04:32] #680 closed

[2017-07-20 09:39] razazaidisd commented on #107
"griddle-react": "0.8.1"

[2017-07-20 15:18] moraleslos opened #694 "Style overriding via external stylesheet"
I'm trying to style my griddle table from an external stylesheet using the default griddle classnames, e.g. 'griddle-table', but seems like they get overridden and hence never applied.  When I used the styleConfig property on <Griddle> instead, it works.  I would like to create the styles in the external stylesheet rather than through the styleConfig.  Can this be done?

[2017-07-20 17:12] moraleslos commented on #693
After playing around with this, it actually seems like including the LocalPlugin either overrides or disables the PositionPlugin functionality.  When I removed LocalPlugin from the plugins list, i.e.:

[code]

Griddle shows all records (although not sure if virtual scrolling actually works-- seems like all rows were rendered).  Was this intended to be exclusive?  I would like to have both non-pagi

[2017-07-20 19:02] moraleslos commented on #694
Actually figured this out from the v0 old docs.  For reference, there is a "useGriddleStyles" property on Griddle which defaults to true.  Set this to false and then you can define your own styles.

[2017-07-20 19:02] #694 closed

[2017-07-20 19:09] moraleslos commented on #693
Update: PositionPlugin doesn't seem to do anything for me.  Adding it in all by itself (no other plugins) or leaving the plugins property out altogether does the same thing for me.

[2017-07-20 21:30] DannyTakeuchi opened #695 "How to apply Custom Column Filters"
## Griddle version
1.3.1

## Expected Behavior
I have a datable that works with external data and has the default filter option. I want to be able to specify columns to search instead of the entire data-table. Perhaps this could be done with a dropdown menu of columns? How should I go about this. I looked through #320 and #357 but I'm still a bit lost. A little more instruction on where I can find

[2017-07-21 16:03] moraleslos commented on #693
Finally got it to work (to a certain point).  However could not get the header to stay fixed.  Also the width/height settings don't seem to conform to my flex layout.  Going to pass on this plugin and stick with the local plugin.

[2017-07-21 16:03] #693 closed

[2017-07-21 16:10] moraleslos opened #696 "Griddle pagination does not keep track of current page"
I'm using the local plugin with pagination but griddle does not keep track of the page # if a user presses the back button.  For example, say I have 10 pages in my pagination and the user is currently on page 5.  That user then clicks on a link which directs to another page.  When the user finishes with that page, he/she clicks the back button to go back to the griddle grid.  However griddle start

[2017-07-21 17:22] sww314 commented on #696
@moraleslos the Griddle state is saved in a local store. You would need to persist this somewhere else in the app if you want the current page to be saved.

Sounds like a good feature though!

[2017-07-21 17:25] Julusian opened #697 "sortProperties override users sorting on data change"
## Griddle version
1.6.0

## Expected Behavior
When changing the data prop on the data, the users sorting selection should remain

## Actual Behavior
From the docs: "The sortProperties prop defines the default sort options for Griddle. " implying that the sortProperties should not get reapplied when changing other props.

## Steps to reproduce
* Specify the following on a table sortProperties:[ {

[2017-07-21 17:26] ryanlanciaux commented on #696
I think when we are approaching a version 2, we want to make it way more accessible than saying "take a peek in Griddle's redux store to change things". I think the store is a good way for Griddle to manage stuff internally and for plugins but it would be nice as a consumer to not have to think about such things :D

[2017-07-21 18:15] moraleslos commented on #696
@sww314 I could try what you said later on (at the moment I don't know how to retrieve Griddle's local store) but I'd figure this should already be implemented since if Griddle already has the current state for the page, why not use it by default?

@ryanlanciaux Yes, that would be great if this could be implemented down the road, maybe by the next release?  ;-)    I'd figured this should already b

[2017-07-21 18:20] ryanlanciaux commented on #696
We have the information but would prefer not to dictate that sort of behavior for everyone. This would be an awesome feature but would prefer if the consuming application pushed the current page in or this lived as a griddle plugin that kept track of history.

One of the main principles behind Griddle 1.x is to push functionality to plugins to avoid sending the kitchen sink down when someone inclu

[2017-07-21 18:30] moraleslos opened #698 "Griddle heading ascending/descending classnames not generated"
I'm using Griddle with pagination, filter and local plugin, with _useGriddleStyles = false_ so that I can use custom styles defined externally.  I'm trying to style the ascending/descending icons of the header to those from _fontawesome_.  I'm doing this by overriding the _griddle-heading-ascending_ and _griddle-heading-descending_ classes like this:

[code]

However griddle just uses the built-in

[2017-07-21 22:13] dahlbyk commented on #698
Not sure about "supposed to be", but you rightly observe that there are not ([code](https://github.com/GriddleGriddle/Griddle/blob/eadf509c4f270a50d98d009020cfcee99b441eff/src/components/TableHeadingCellContainer.js#L11-L25)). However, you can replace those icons with `styleConfig`:

[code]

[2017-07-22 00:21] moraleslos commented on #698
@dahlbyk In the docs the ascending/descending classnames were listed as supposed to be there--well, at least from my own understanding =)  This is what is described in the styles section: [https://griddlegriddle.github.io/Griddle/docs/styles/](url)

I could use styleConfig but I would prefer styling to be externalized in it's own css (actually we use sass).  Every other classname in that link abov

[2017-07-22 14:40] dahlbyk commented on #698
@moraleslos interesting... the [`classNames` entries exist](https://github.com/GriddleGriddle/Griddle/blob/af3c1dccbc693080c019e2780d1e4971c7fea91b/src/index.js#L50-L51), we just don't use them. I'll see if I can get that fixed.

[2017-07-22 14:44] moraleslos commented on #698
@dahlbyk thanks!

[2017-07-22 16:41] dahlbyk commented on #696
It seems like it would be really difficult to solve this in a generic way, since there are lots of ways that one could store the current grid state (Local Storage, history, etc). I would be curious if any other React grid components try.

It would definitely be possible to write a plugin that adds support for react-router or react-router-redux.

[2017-07-22 16:41] dahlbyk commented on #693
I'm curious what you needed to do to make it work?

[2017-07-23 11:22] #698 closed

[2017-07-23 12:57] sww314 commented on #216
#671 Closed.

[2017-07-23 12:57] #216 closed

[2017-07-24 08:35] saravanannnallasamy commented on #690
I'm using 1.5. When i add plugins[`plugins.LocalPlugin`] it shows error `Uncaught TypeError: Cannot read property 'filter' of undefined`.

[2017-07-24 09:18] saravanannnallasamy opened #700 "Uncaught TypeError: Cannot read property 'filter' of undefined"
I'm using v1.6. When i add plugins[`plugins.LocalPlugin`] it shows error `Uncaught TypeError: Cannot read property 'filter' of undefined`. without plugins default filter is not working.

[2017-07-24 12:40] #700 closed

[2017-07-24 19:17] moraleslos commented on #651
@skipjack +1

Was just about to post a new issue.  I too have that warning using 1.6.0.

[2017-07-24 19:51] moraleslos opened #701 "Warning: Accessing PropTypes via the main React package"
This warning message occurs with v 1.6.0 of Griddle.  Looks to be from react-redux-custom-store package which seems to be a dependency of Griddle.  Currently using React 15.6.1.

Has been referenced here as well: #651

[2017-07-24 21:37] DannyTakeuchi opened #702 "How to incorporate dropdown-menu column filter in built-in textfield filter"
## Griddle version
1.3.1
## Expected Behavior
How can I modify the built-in filter to specify which columns I can filter out? Is there a certain function I need to call or a certain custom component I need to create? Any direction would be immensely appreciated.

[2017-07-24 21:49] skipjack commented on #651
@moraleslos yeah that's a good idea -- not sure if the issue should go here or on the dependency (`react-redux-custom-store`). Maybe both.

[2017-07-26 09:19] kalpanaideas2it commented on #551
Did everything that @aberkow told but still couldn't access props in my customComponent

[2017-07-26 12:09] aberkow commented on #551
@kalpanaideas2it at the time I wrote that gist, griddle was around v0.7. Are you using v1? Perhaps that's the difference. I haven't had an opportunity to use v1 yet though. Do you have a repo or some code to share?

[2017-07-26 12:26] yasserzubair commented on #586
But how to pass props to the custom component?

[2017-07-26 12:29] yasserzubair commented on #623
@ieow can you provide an example?

[2017-07-26 17:13] YosefMac opened #703 "recordCount why ignore it using localPlugin?"
Hi there!! this is really a question rather than issue, I was wondering why `recordCount` from the `pageProperties ` is ignored using `localPlugin` ? I take a look in the code and it seems that in the `maxPageSelector ` from[ **dataSelectors.js**](https://github.com/GriddleGriddle/Griddle/blob/0b52a4f2e12b6720ca9753d4364b0f8eb05cf340/src/selectors/dataSelectors.js#L31) are using indeed `recordCoun

[2017-07-26 19:10] phanindra23 opened #704 "Column filters along with default filters don't work as expected"
## Griddle version
1.3.1

## Expected Behavior
When a column filter is applied and search is made through the text box of default filter. The filter should be applied on the filtered results.

## Actual Behavior
When a column filter is applied and search is made through the text box of default filter. The filter should is applied on the original results set, this pattern doesn't respect the column

[2017-07-27 05:47] dahlbyk commented on #586
If you mean passing extra props to the custom component, see https://github.com/GriddleGriddle/Griddle/pull/675 (not available yet on NPM).

[2017-07-27 14:41] ieow commented on #623
@yasserzubair , I don't get what you need.
What example you mean?

[2017-07-27 21:34] frostpuppet commented on #693
plugins.PositionPlugin({ tableHeight: 500})

I had to specify the props to get it to be somewhat working. However I havent done any real debugging

[2017-07-28 12:37] serkyen opened #705 "sortable and locked properties not working on ColumnDefinition"
## Griddle version
"griddle-react": "^1.3.1",

## Expected Behavior
If I include sortable={false} as one of the properties for ColumnDefinition, I expect that if I click the header, I do not see an arrow appear and the sorting does not happen in the table.

If I include the locked={false} as one of the properties for ColumnDefinition, I expect that in the settings, I do not see a checkbox to be ab

[2017-07-28 13:43] sww314 commented on #705
I agree these are broken in 1.3.1.
Looks like "locked" is not even implemented at all in the code.

Sortable has some implementation on master, but I did not test newest version.

[2017-07-28 13:44] sww314 commented on #704
@phanindra23  can you provide some example code? I am not sure I understand the problem.

[2017-07-28 14:10] sww314 commented on #702
@DannyTakeuchi Right now there is now way to filter out certain columns from the filter.
The localplugin handles the filter right now.
https://github.com/GriddleGriddle/Griddle/blob/679614c1724e84bc625fdaea045b1fb665cd54cd/src/plugins/local/selectors/localSelectors.js#L36

My suggestion would be to look at making an Enhanced plug that updates the filter code and excludes the columns.
The ability t

[2017-07-28 15:07] DannyTakeuchi opened #706 "Normal(Not Infinite) Scrolling with Pagination"
## Griddle version
1.3.1

I imported external data into my datatable and I am showing 25 rows at a time. This involves scrolling through the entire page which makes it harder to keep track or table elements. Is it possible to just scroll through the rows in the table field and yet maintain a limited number or rows that I can paginate through?

[2017-07-28 15:42] DannyTakeuchi opened #707 "Filter PlaceHolder Text not updating"
## Griddle version
1.3.1
## Expected Behavior
Placeholder text for filter is "Search"
## Actual Behavior
Placeholder text for filter is "Filter"

## Steps to reproduce
The StyleConfig that I upload to my table affects the fontsize but not the place holder text:

const styleConfig = {
    styles: {
        Filter: {
            fontSize: 16,
            placeholder: "Search"
        },
    }
};

[2017-07-28 18:31] jrmartin opened #708 "ResultsperPage not working"
## Griddle version
1.3.1

## Expected Behavior
Expect to see only 5 results per page when using :
pageProperties={{
      pageSize: 5
    }}

## Actual Behavior
I see all the results loaded in the Griddle table

## Steps to reproduce
Here's a codepen https://codepen.io/anon/pen/BdoGzG with a demo.  I'm giving griddle an array of 100 elements, but I only want to render 5 results and use inifiteScro

[2017-07-29 00:27] serkyen commented on #705
That's unfortunate. Ok thanks.

[2017-07-31 04:41] serkyen commented on #597
I need a simple example on this too. I have searched everywhere to no avail.

[2017-08-01 11:39] janpauldahlke commented on #623
I reqest an exmaple as well. Scenario is something like:
[code]
and usage in render is:
[code]

[2017-08-01 15:36] jrmartin commented on #582
Is there an example of how the infinite scroll works for Griddle 1.0 and above? The link for https://github.com/GriddleGriddle/Griddle/blob/master/stories/index.js#L260  it's broken now

[2017-08-01 16:32] dahlbyk commented on #623
@janpauldahlke did you try something like this?

[code]

[2017-08-04 01:33] #708 closed

[2017-08-04 01:48] jrmartin opened #709 "PositionPlugin not working"
## Griddle version
1.3.1

## Expected Behavior
I'm using the Position Plugin from this repository https://github.com/GriddleGriddle/griddle-position-plugin, the expected behavior is to include it in the plugins setting of the Griddle and set the Griddle's table height.

## Actual Behavior
The actual behavior is that once I add the Position Plugin, the Griddle component fails to render with the fol

[2017-08-04 02:22] dahlbyk commented on #709
That repo seems to be obsolete. The [`plugins.PositionPlugin`](https://github.com/GriddleGriddle/Griddle/tree/992f9c2a22529055dc00e3fb0c5491433eb7e1cb/src/plugins/position) is now included and exported from the module, with an [example story](https://github.com/GriddleGriddle/Griddle/blob/992f9c2a22529055dc00e3fb0c5491433eb7e1cb/stories/index.tsx#L561-L570).

[2017-08-07 12:35] serkyen opened #710 "Customising settings component"
## Griddle version
"griddle-react": "^1.3.1",

## What I want to do
I want to get rid of the section in the settings that allows the user to hide and show columns.

## What I have tried
I understand that we can replace components like this...

[code]

And I have done it successfully for SettingsToggle like this...

[code]

But this doesn't seem to work for the main Settings component. Here is the

[2017-08-07 13:25] dahlbyk commented on #710
I'm not certain which version introduced the `Settings`/`SettingsComponents` changes, but there are a [handful of stories](https://github.com/GriddleGriddle/Griddle/blob/992f9c2a22529055dc00e3fb0c5491433eb7e1cb/stories/index.tsx#L1196-L1327) that demonstrate various settings scenarios, including adding and removing settings components.

[2017-08-07 18:00] jrmartin commented on #709
Cool, using the plugins from plugins.PositionPlugin works. I can now set the table height to be whatever I want and the scroll bar is there. One issue I'm still having, is that if I'm rendering 200 rows, all these rows are shown at once in the table. Is there a way to only load/show say 10 rows first and then keep loading the rest of the rows only until the user starts scrolling down the page?

[2017-08-08 12:18] serkyen commented on #710
Thank you for your reply @dahlbyk
Can you please explain the concept of "stories" to me and how I can use those 'storiesOf' examples?

[2017-08-08 15:44] dahlbyk commented on #710
This project uses [React Storybook](https://storybook.js.org/) ([GitHub](https://github.com/storybooks/storybook)) as an interactive test/demo platform. If you clone the project, `npm install` and `npm run storybook` it will tell you what local URL to open in a browser to try out the library.

The stories themselves are defined using `add(name, () => { /* story code */ }`. So the actual example fo

[2017-08-08 16:08] DannyTakeuchi opened #711 "How to setPage to 1 after event is fired."
## Griddle version
1.3.1
## Expected Behavior
The table reverts back to page 1

## Actual Behavior
The table stays on the same page as the previous search.

## Steps to reproduce
1. Add customized column filters that filters the data before it is imported into the table.
2. Go to any page other than the first.
3. Apply any column filter

[2017-08-08 23:44] theirishpenguin opened #712 "Should be a way to not match the html markup of a link component in row"
## Griddle version
 "griddle-react": "1.0.0"

## Expected Behavior
Should be a way to not match the html markup of a link component in row

## Actual Behavior
No way to not avoiding match the html markup of a link component in row

## Steps to reproduce
Creating a griddle table with a <a /> link in it.
Filter on the table using a numeric id in the URL.
The url is matched. This is undesirable.

Per

[2017-08-09 13:06] serkyen commented on #710
@dahlbyk Thank you for that info. I did some research into React Storybook...pretty cool.
I managed to get it all working using the example from the storybook code.
Thanks again for your help.

[2017-08-09 13:48] #710 closed

[2017-08-09 16:07] dahlbyk commented on #712
`filterable` was never ported forward from 0.x (https://github.com/GriddleGriddle/Griddle/pull/436), but should be available soon: https://github.com/GriddleGriddle/Griddle/pull/713.

[2017-08-09 16:41] dahlbyk commented on #711
You can add a `GRIDDLE_SET_FILTER` reducer, via a plugin, that does a `state.setIn(['pageProperties', 'currentPage'], 1)`.

I wonder if the [default `GRIDDLE_SET_FILTER` reducer](https://github.com/GriddleGriddle/Griddle/blob/22901b3402ac29833ff89983d81e69b9745a67af/src/reducers/dataReducer.js#L97-L99) should mimic the [local `GRIDDLE_SET_FILTER` reducer](https://github.com/GriddleGriddle/Griddle/

[2017-08-09 17:01] theirishpenguin commented on #712
Okay, thanks!

On Wed, Aug 9, 2017, 17:07 Keith Dahlby <notifications@github.com> wrote:

[2017-08-09 17:59] #712 closed

[2017-08-09 18:06] ryanlanciaux commented on #711
I think that's a good idea. I _think_ if a plugin doesn't want that behavior it could override that behavior but that would be the exception instead of defaulting to doing nothing.

[2017-08-09 21:51] dahlbyk commented on #711
Opting out of a reducer is harder than opting in, AFAIK.

[2017-08-10 04:42] serkyen opened #714 "Change & relocate the pageSizeSettings field"
## Griddle version
"griddle-react": "^1.3.1",

## Expected Behavior
I want to be able to create a component to replace the pageSizeSetting field.

## Actual Behavior
I have managed to change the field into a drop down using one of the examples from the stories however, it is not really a component, but more like a function. Here is the code for the customized field...

[code]

I use it like this..

[2017-08-10 22:34] dahlbyk commented on #714
Completely understandable. Honestly, I've started helping with this project to force myself to learn these better. Griddle heavily leverages [recompose](https://github.com/acdlite/recompose):

In this case, your "base component" is `({ pageSize, onChange }) => { ... }`) and the "additional functionality" is that it doesn't need any external `props` to work (i.e. when we're done we can call `<PageS

[2017-08-10 22:34] #714 closed

[2017-08-11 02:41] dahlbyk commented on #631
If I'm reading this right, it seems related to https://github.com/GriddleGriddle/Griddle/issues/647?

[2017-08-11 03:58] serkyen commented on #714
@dahlbyk Thank you for that. Explains a lot.

I managed to get it to work :)

Can you please explain this in a little more detail?

So I changed `const PageSizeSettings = () =>` to `const PageSizeSettings =` and it worked.

Where does 'configuration' come into it?
Do you just mean passing arguments in?

Thanks

[2017-08-11 11:07] ryanlanciaux commented on #647
Started working on this here https://github.com/GriddleGriddle/Griddle/pull/715

[2017-08-11 14:25] dahlbyk commented on #714
Yes, I just mean passing arguments in, both to the plugin and through to `pageSizeSettings`:

[code]

[2017-08-12 04:36] serkyen commented on #714
@dahlbyk Ok I understand :) Thanks again!

[2017-08-12 08:02] jariwalabhavesh opened #716 "onSort event not giving sortAscending ascending property"
## Griddle version : 1.3.1

## Expected Behavior
We can also pass custom events in order to controlling paging, sorting etc...
I am facing issue with onSort event, It will return sortProperty with **id** and **sortAscending** property. like
If i am clicking on **name** column then onSort should return:
`{ id: 'name', sortAscending: true }`
and if i again click on **name** column then onSort should

[2017-08-12 11:17] jariwalabhavesh commented on #91
@dahlbyk
i am not able to find actually how to implement custom design for paging in griddle v1.

[2017-08-13 12:53] vukdavid commented on #172
I'm sorry but even with latest version I still don't know hot to stop loosing focus with my custom filter component. I need custom filter component because I need custom filter function.

[2017-08-14 06:00] jariwalabhavesh commented on #586
@windgaucho  @ericdouglas
Any clue or example on customize the Pagination component. I want to controls with semantic-ui components.

I am using griddle v1.3.1

[2017-08-14 21:51] gagarski opened #719 "yarn/npm/this repo: Versions mess"
Hi.

I am a bit confused about the last actual version of `griddle-react` package.

[npmjs](https://www.npmjs.com/package/griddle-react) says that 1.3.1 is the latest release.
[yarnpkg](https://yarnpkg.com/en/package/griddle-react) also says so, but it also knows about newer releases:
[code]

The most sad thing is `yarn` behaviour with this package.

`yarn add` installs `griddle-react` 1.3.1 and c

[2017-08-14 22:24] ryanlanciaux commented on #719
![image](https://user-images.githubusercontent.com/85041/29294366-09057c7a-811d-11e7-84b5-322f919e7802.png)

1.3.1 is the recommended version to use. Not sure why 1.6.0 would be coming up as the version in yarn -- it does not do this for me on my projects.

![image](https://user-images.githubusercontent.com/85041/29294522-c760ce18-811d-11e7-9592-f402f68ed289.png)

[2017-08-14 22:24] #719 closed

[2017-08-14 23:20] gagarski commented on #719
@ryanlanciaux

As I said `yarn add` installs and adds version 1.3.1.

But if you run `yarn install` in a clean directory containing `package.json`, produced by `yarn add`, you get version 1.6.0.

[2017-08-14 23:25] sww314 commented on #719
+1 I see same problem. I set version explicitly in package.json to avoid.

[2017-08-15 12:19] ryanlanciaux commented on #719
Hmm - very odd. I'm planning on releasing a new release version very soon. Maybe this problem will go away then? I wonder if yarn is going off whatever version is most recent and not necessarily the latest tag?

[2017-08-15 15:40] windgaucho commented on #586
@jariwalabhavesh No success with this component. I moved to react-table

[2017-08-15 15:53] ericdouglas commented on #586
@jariwalabhavesh sorry, I didn't change that component.

[2017-08-15 19:28] anshumanf commented on #579
I'm currently on 0.5.1 and want to upgrade to React 16 which deprecates `React.createClass()`. I considered the following routes to make this work:

- migrate to a 1.x release: This is very hard because there is no migration guide yet
- help create a new 0.x release that uses create-react-class from `npm`: Most 0.x releases including the latest (0.8.1) are not tagged here on Github. There does not

[2017-08-15 19:57] anshumanf opened #720 "Use with React 15.5 or React 16"
## Griddle version
0.8.1

## Expected Behavior
No warnings or errors with React versions above 15.5

## Actual Behavior
With React 15.5, the following warnings:

- Warning: Accessing createClass via the main React package is deprecated, and will be removed in React v16.0. Use a plain JavaScript class instead. If you're not yet ready to migrate, create-react-class v15.* is available on npm as a tem

[2017-08-15 21:31] dahlbyk commented on #597
@jariwalabhavesh @serkyen @Uthpala anything specific you're not able to do, or an example you'd like to see? The default [`Pagination`](https://github.com/GriddleGriddle/Griddle/blob/master/src/components/Pagination.js) component is constructed from three children, extracted from `context` by [`PaginationContainer`](https://github.com/GriddleGriddle/Griddle/blob/master/src/components/PaginationCon

[2017-08-16 02:18] AveVlad commented on #719
![image](https://user-images.githubusercontent.com/2889662/29344634-e6513946-8241-11e7-9dcd-ba6e6fc10c99.png)

![image](https://user-images.githubusercontent.com/2889662/29344672-338572f4-8242-11e7-94b2-446c3aa17ab5.png)

[2017-08-16 04:10] dahlbyk commented on #719
`npm view griddle-react@1.6.0 gitHead` and `yarn info griddle-react@1.6.0 gitHead` show 96722acfcf1bc6bb086a6991baf4936e378e5bc7.

This does seem to be a yarn (0.27.5) bug:
![image](https://user-images.githubusercontent.com/133987/29346882-13890788-820e-11e7-8ffa-795c76645597.png)

However, if the `yarn.lock` file from the original install is kept ([it should be](https://yarnpkg.com/lang/en/docs/y

[2017-08-17 09:37] AnthoniG commented on #720
I have this problem as well. Very annoying to see it splashed all over my console. Freaked me out at first lol

[2017-08-17 10:08] jariwalabhavesh commented on #597
@dahlbyk
Thanks for response,
Actually i am not getting idea how can i customize the ui component of next button, previous button and dropdown.

For example If i want to replace filter component with custom one then just need to pass to
[code]

[code]
in case of filter component it is providing only
![screen shot 2017-08-17 at 3 23 57 pm](https://user-images.githubusercontent.com/10993666/29406902

[2017-08-17 12:52] jariwalabhavesh commented on #597
@dahlbyk
Finally i am able to do it and here is a code,

I had used semantic component to replace with original one.
[code]

[2017-08-21 20:11] dahlbyk commented on #695
`Settings` is a rough edge in the component extensibility model, but there are several [custom settings examples](https://github.com/GriddleGriddle/Griddle/blob/91ed2d507079c54b0de60040af414380ca12e57c/stories/index.tsx#L1312-L1436). In short, the individual [settings components](https://github.com/GriddleGriddle/Griddle/tree/91ed2d507079c54b0de60040af414380ca12e57c/src/settingsComponentObjects) e

[2017-08-22 09:02] jariwalabhavesh commented on #716
@ryanlanciaux @dahlbyk
I had tried **onSort** event with latest version (1.8.0) and it is working fine when we provide `plugins={[plugins.LocalPlugin]}` with it.

But i am feed data to grid using external api and don't using localplugin because if i externally controlling grid with then paging not working as expected.

But without localplugin, external controlled grid works fine but i am not getti

[2017-08-22 09:43] jariwalabhavesh opened #725 "how to stop filtering on not visible field?"
## 1.8.0

## Expected Behavior
"filterable" is working as expected on visible field.

## Actual Behavior
But In actually filtering is also filtering data from hidden field as well. so if we something type in search filter and it will return result as well still it is not matching in visible filterable columns.

## Steps to reproduce
1.You can see this in storybook example page given in griddle
It

[2017-08-22 13:23] #647 closed

[2017-08-22 19:40] dahlbyk commented on #716
@jariwalabhavesh are you ever calling [`setSortProperties`](https://github.com/GriddleGriddle/Griddle/blob/f57e594f230393717fed579fa97e89effb45242f/src/plugins/local/components/TableHeadingCellContainer.js#L39-L42)?

[2017-08-23 06:23] jariwalabhavesh commented on #716
@dahlbyk
No i am not calling setSortProperties, where can i get method setSortProperties?
[code]
I am only getting sortProperties in onSort event, no any function.

[2017-08-23 12:01] andreme opened #728 "Inline editing - performance issues"
I was looking at using Immutable records to improve performance and while digging into it I was wondering why the rowDataSelector uses a find instead of the lookup array?

Original
[code]
Updated
[code]

[2017-08-23 13:16] andreme commented on #728
I'm also fairly sure that there is a bug in GRIDDLE_UPDATE_STATE,

[code]
should be
[code]
?

[2017-08-23 14:42] ryanlanciaux commented on #728
Thanks a ton for looking into this! Everything should be using the lookup where possible so maybe that was something that was missed in the transition.

There very well could be a bug with the _.omit and update state.

[2017-08-23 22:28] andreme commented on #728
I've fixed these things in #729

[2017-08-23 22:40] andreme commented on #728
One reason that Rows and Cells get re-rendered is the use of Immutable.toJSON() in rowDataSelector, rowPropertiesSelector, cellPropertiesSelector.
.toJSON() generates a new JS object every time it's called, breaking reacts shallow compare for props.

[2017-08-23 23:38] dahlbyk commented on #716
The Griddle module exports [`utils.sortUtils.setSortProperties`](https://github.com/GriddleGriddle/Griddle/blob/992f9c2a22529055dc00e3fb0c5491433eb7e1cb/src/utils/sortUtils.js#L27-L41), which would typically be used with [`actions.setSortColumn`](https://github.com/GriddleGriddle/Griddle/blob/2988f42dd4b3db027587694028783f6507e7848d/src/actions/index.js#L39-L44).

[2017-08-24 03:47] dahlbyk commented on #673
Procrastinating, so I scraped `gitHead` and `time` data from `npm view` and scripted out tags for nearly every version. Tags are annotated, attributed to @ryanlanciaux and dated with the `npm publish` timestamp.

https://gist.github.com/dahlbyk/48a66574f753eaa2c04d76bd37aac4f6

Let me know if you'd like me to push them.

[2017-08-24 13:05] jariwalabhavesh commented on #716
@dahlbyk

i had tried this as you said, Still not receiving **sortAscending**

[code]
utils.sortUtils.setSortProperties is calling but no success on it.
I had right or is there any mistake.

I had one confusion also( not able to know what is in griddle state at a perticular time):
Is there any way to see you griddle state in redux-devtools?? should i inject griddle reducer in my project. because i

[2017-08-28 13:43] mreishus commented on #720
I believe the branch is 'v0'.  https://github.com/GriddleGriddle/Griddle/commits/v0

[2017-08-28 21:39] tim-field commented on #586
This is such a common use case for when customising a table, seems a real oversight that it's this hard to do currently.

[2017-08-29 05:04] jariwalabhavesh commented on #586
@tim-field
Finally i had tried and it start working form me, You can find code here #597

[2017-09-01 01:29] dahlbyk opened #733 "[Discussion] Plugin Composition"
## Griddle version

1.x and/or 2.x

## Expected Behavior

Plugins and components compose well.

## Actual Behavior

- Roles/relationships for `ContainerEnhancer`, `Container` and `Enhancer` are unclear
- Plugins can only replace individual components, so multiple plugins don't compose well
  - "One of the big issues I'm facing right now is composing a grid with multiple plugins." https://github.co

[2017-09-01 04:31] dahlbyk commented on #733
For starters, we could accept plugins as functions (reducers, basically). The result of the function, called with the initial/current config, would be treated the same as a static plugin.

This may be sufficient to allow enhancer/container components to be composed instead of replaced.

[2017-09-06 13:15] jongaveli opened #734 "cannot render griddle as a map"
## Griddle version

## Expected Behavior

## Actual Behavior

## Steps to reproduce

## Pull request with failing test or storybook story with issue

While this step is not necessary, a failing test(s) and/or a [storybook story](https://github.com/storybooks/react-storybook) will help us resolve the issue much more easily. Please see the README for more information.

[2017-09-06 13:15] jongaveli commented on #734
@ryanlanciaux Hi ryan, I am Ousainou Jonga a react developer in The Gambia West Africa. I am having troubles with implementing griddle react to render as a map, can you please help me on the specific files to modifiy so that in will render as a map. your help will really be appreciated, thank you

[2017-09-06 13:29] sww314 commented on #734
@jongaveli  The map customization works in Griddle 1.3.1. I had some problems with newer versions and have not figured out what the issues are.
See here:
http://griddlegriddle.github.io/Griddle/examples/asMap/

Please post questions on [Stackoverflow.](https://stackoverflow.com/questions/tagged/griddle)

[2017-09-06 13:30] jongaveli commented on #734
I am a react developer from The Gambia, West Africa. First I must commend you for such an impressive work. However I am having troubles with implementing react griddle to render as a map. I tried to go by the tutorial you specified on the docs to no avail. Can kindly you point me to a repo or someplace where this is implement? Any help you can accord will be highly appreciate.
Jonga

[2017-09-07 14:29] ryanlanciaux opened #736 "React 16"
## Griddle version
1.x

## Expected Behavior
Griddle's storybook works with React 16

## Actual Behavior
Griddle may be working but may have some things in some of the stories that are using deprecated features (this very well could be Griddle also).

## Steps to reproduce
[code]

## Pull request with failing test or storybook story with issue
No failing test.

[2017-09-08 22:40] ckollars opened #737 "Basic example is causing a redux console error"
## Griddle version
1.8.1

## Expected Behavior
Show an example of Griddle based off [quick start example ](http://griddlegriddle.github.io/Griddle/)
## Actual Behavior
Shows an error in the console
[code]
<img width="665" alt="console" src="https://user-images.githubusercontent.com/599651/30233273-4d7d66ca-94a9-11e7-8046-ef27dab05d42.png">

## Steps to reproduce
Create a component data.grid.js and

[2017-09-09 00:30] dahlbyk commented on #737
This seems like an installation issue. What does `npm ls` show?

[2017-09-10 20:56] ckollars commented on #737
Here is a snippet of the print out.
[code]

[2017-09-11 18:34] ckollars commented on #737
Digging into this more I found that the issue is that the app I'm working in uses the dependency `"react-redux": "^5.0.2"` and Griddle uses `"react-redux": "^5.0.6"` Once I updated my my app to the latest minor version it fixed the issue.

I seen this referenced in an issue on `react-redux` when documentation was updated. https://github.com/reactjs/react-redux/issues/738

[2017-09-14 00:20] shorja opened #738 "Overriden delectors from plugins not being applied as expected"
## Griddle version
1.8.1

## Expected Behavior
Selectors defined in plugins overwrite the "base" ones.

## Actual Behavior
Due to most if not all of the base components hard referencing the selectors in the dataSelectors.js, the overwrite does nothing. My suggestion is to reference the selectors off context all the time so that the overriding behaviour works as expected. I will try this out and pu

[2017-09-14 02:04] ryanlanciaux commented on #738
Context would be a good path for this. I've kind of been playing around with a generic "plugin" registration module and that's kind of how it works. You register every part on an object on context and request it back out.

The initial intent with Griddle 1.0 was to override any container that needed to change a selector that was used but totally understand that's a lot more overhead and not as sta

[2017-09-14 19:02] shorja commented on #738
Also, I wonder if it would make sense to move the baseline table code into a plugin, since it feels like at its core Griddle is a means of creating a component with overridable and composable features, it doesn't even really need to be a table per se.

[2017-09-14 19:14] ryanlanciaux commented on #738
I think we're getting into maybe some of the thoughts that I was looking to address as part of a 2.0 or 3.0 release. I've been working on a different module that is the reusable component library and Griddle would be a distinct implementation of this (still having extension points and what not).

[2017-09-14 19:29] peroperje commented on #647
Could you explain how to use this, please?
I try to dispatch custom own action from ColumnDefinition->customComponent
but I got an error

(anonymous function)
node_modules/griddle-react/dist/module/plugins/local/selectors/localSelectors.js:152
  149 | /** Gets the current page of data
  150 |  */
  151 | var currentPageDataSelector = exports.currentPageDataSelector = (0, _reselect.createSelector)(

[2017-09-20 17:17] sel129 opened #741 "Enhancers are overridden when mutiple plugins with the same enhancer exist"
## Griddle version
1.8.1
## Expected Behavior
I have a situation where I have created 2 plugins.  Both have a RowEnhancer.  I expect that the RowEnhancer from both plugins will be applied to the Row Component.
## Actual Behavior
What i'm seeing is that the RowEnhancer from the last plugin in the plugin list is applied, but not the others.

## Steps to reproduce

I have a grid that looks like this:

[2017-09-20 20:44] dahlbyk commented on #733
@sel129 ran into this in https://github.com/GriddleGriddle/Griddle/issues/741:

It's reasonable to expect enhancers to build on each other, rather than be replaced, but changing that in 1.x would be a breaking change. Two ways occur to me to implement this without a breaking change:

1. Implement the plugin function idea above, which would allow a plugin to wrap the existing enhancer:

[code]

2.

[2017-09-20 20:46] dahlbyk commented on #741
I'm going to close this in favor of #733. I have replied over there.

[2017-09-20 20:46] #741 closed

[2017-09-21 15:54] bpugh commented on #701
Looks like this can be closed now thanks to this change: https://github.com/GriddleGriddle/Griddle/commit/fba8f1aa16d3ddcb1d901f4c2d60104ff474e9cf

[2017-09-21 15:56] #701 closed

[2017-09-24 20:26] dahlbyk commented on #733
FYI, I am hacking around this weekend on implementing support for plugins as functions.

[2017-09-27 15:24] jtlindsey commented on #630
Any update on being able to filter by column? I'm catching the `events ..onFilter` but i'm not sure what to do with it when i get it. I passed it the value onChange with `this.props.events.onFilter(e.target.value)`. Any ideas?

[2017-09-30 19:37] katacarbix commented on #390
+1

[2017-10-03 17:39] archy-bold commented on #647
I see this got merged. I upgraded to v 1.9.0 but I seem to be running into some problems with the store. Sometimes the griddle store seems to be getting passed to my own components. Is there something I should be doing to get this to work?

[2017-10-04 19:17] benoj opened #746 "Advanced Filtering"
Hey,

Like the project, jut wondering if it is possible to do more advanced filtering across multiple fields e.g. say with row data
`{ name: "Bob", age: 20, categories: ["male","young"] }, { name: "Alice", age: 49: categories: ["female", "middle-age"]`

Would it be possible to search by:

a) age between x and y
b) which categories a person is in
c) text search on name

From docs it looks like its

[2017-10-04 22:24] dahlbyk commented on #746
Nothing about the component implementation requires that `filter` be limited to a simple string, but that's how  [`Filter`](https://github.com/GriddleGriddle/Griddle/blob/e8151462e43571300ff17d634688d2e06fa8b7cf/src/components/Filter.js#L12) and [`LocalPlugin`](https://github.com/GriddleGriddle/Griddle/blob/e8151462e43571300ff17d634688d2e06fa8b7cf/src/plugins/local/selectors/localSelectors.js#L42-

[2017-10-04 23:14] benoj commented on #746
I need this functionality for what I'm doing so will make a PR against this hopefully in the next few days.

Cheers,

Ben

[2017-10-05 08:18] chitraParihar commented on #447
Pagination control still displaying on using showPager = {false} in griddle
showPager is not workinhg

[2017-10-08 19:40] benoj opened #748 "Pagination - hide pagination if only one page"
Is it possible to know how many pages are present from the layout? The reason this will be useful to me is so that I can not display the pagination component if there is only one page?

[2017-10-09 03:10] dahlbyk commented on #748
[`PageDropdownContainer`](https://github.com/GriddleGriddle/Griddle/blob/e8151462e43571300ff17d634688d2e06fa8b7cf/src/components/PageDropdownContainer.js#L14) and [`LocalPlugin.PageDropdownContainer`](https://github.com/GriddleGriddle/Griddle/blob/e8151462e43571300ff17d634688d2e06fa8b7cf/src/plugins/local/components/PageDropdownContainer.js) get `maxPages` from their corresponding `maxPageSelector

[2017-10-09 22:47] ibrahima commented on #716
Hmm, I don't know if this is related, but it seems like the sortAscending value I get is the opposite of what I'm seeing in terms of the actual sort. Eg. I'll click on a column and get the ascending sort indicator (verified by using these custom classNames `TableHeadingCellDescending: 'sortIndicator-desc', TableHeadingCellAscending: 'sortIndicator-asc'` and seeing `sortIndicator-asc`) but the sort

[2017-10-10 04:56] dahlbyk commented on #716
You're right, `onSort` being called before `onClick`, means it's called with the old value.

Correct. The `sortProperties` value that `onSort` is using is from `sortPropertyByIdSelector`, which finds by `id`. So if you click on a column other than what's currently sorted, `sortProperties` is `null` and `onSort` is called with just the (correct) `id`. Apparently I didn't adequately test #717.

[2017-10-10 05:25] ibrahima commented on #716
Ah okay, thanks for confirming that! Luckily I think I can get away without using `sortAscending` for now so it doesn't affect me, but I was trying to test my sorting handler and got very confused by what I was logging.

[2017-10-10 21:15] rdavidwu opened #750 "Using customComponent: the component unmounts and re-mounts in every Griddle re-render"
Hi, I have a table with two columns that are using custom components. One of them has a progress bar, whose intended purpose is to show the progress of an upload. When a file is being uploaded, Griddle re-renders accordingly every time there is a new progress and the progress bar updates. Now, I have a second column with a second custom component that is supposed to cancel the upload when an eleme

[2017-10-10 22:20] dahlbyk commented on #750
There are almost certainly opportunities to reduce Griddle rerenders, but my first instinct is that you're going to have better luck keeping progress state internal to that component.

[2017-10-10 22:38] dahlbyk commented on #716
@ibrahima this should be more adequately fixed by https://github.com/GriddleGriddle/Griddle/pull/749.

[2017-10-10 23:23] ibrahima commented on #716
Cool, thanks!

[2017-10-11 05:22] hewrin opened #752 "Passing function props to customRowComponent in 1.0"
Hi everyone
For reference I'm using version 1.8.

I'm trying to do something like in #286, specifically what I'm trying to do is add a checkbox to every Row of the table, and when a checkboxed is checked, it will update the state in the component that contains the Griddle component.

Any advice on how to do this?

Thanks in advance! 😄

[2017-10-11 08:35] harishmohanani commented on #250
@ryanlanciaux custom sort link is broken

[2017-10-11 13:47] dahlbyk commented on #250
@harishmohanani [custom sort](https://github.com/GriddleGriddle/Griddle/blob/e8151462e43571300ff17d634688d2e06fa8b7cf/stories/index.tsx#L209-L261) link has been fixed.

GitHub tip: to turn any link into a permanent link (with SHA instead of branch/tag name), press <kbd>y</kbd>.

![image](https://user-images.githubusercontent.com/133987/31444063-b87bb8f2-ae60-11e7-9505-93e10ad78fad.png)

[2017-10-11 13:50] dahlbyk commented on #752
Check out [`extraData`](https://github.com/GriddleGriddle/Griddle/blob/e8151462e43571300ff17d634688d2e06fa8b7cf/stories/index.tsx#L455-L483), which allows you to specify additional props that are available to custom cell components.

[2017-10-11 20:41] ibrahima opened #754 "Columns with dots in their property names will be empty"
## Griddle version

v1.9.0

## Expected Behavior

Columns with dots in their ids should show their contents.

## Actual Behavior

Columns with dots in their names have no data.

This is the same issue as before, but the code is all different.

https://github.com/GriddleGriddle/Griddle/issues/228

I tracked it down to this line:

https://github.com/griddlegriddle/griddle/blob/master/src/selectors/d

[2017-10-11 20:45] ibrahima commented on #754
Looking at the git blame, it seems like it's intended that you should be able to use dots to access nested values? If so, how should one use columns that have dots in the names? I think for now I'll just work around this in my app by filtering the data before passing it to Griddle.

[2017-10-11 20:51] dahlbyk commented on #754
Nested data support was introduced in https://github.com/GriddleGriddle/Griddle/pull/572.

I wonder if it would make sense to support `nestedData={false}` or similar? Or we could update `cellValueSelector` to (essentially) `get(columnId) || getIn(columnId.split('.'))`.

As you note, the work-around would be to map the data to objects with simple column names.

[2017-10-11 20:53] ibrahima commented on #754
Ah okay, so it's totally intentional new behavior. Thanks!

A prop would be nice, or changing the behavior to `get(columnId) || getIn(columnId.split('.'))` would probably be even better because it seems like it's not necessarily something that you expect, especially if your application is rendering user-submitted data.

[2017-10-12 04:39] joellanciaux commented on #750
Agreeing with @dahlbyk, I think what would be required in the case that you're mentioning would be some extra data diffing to discern which values in which rows are updating, which we're not really doing at the moment.

Something that might allow you to bypass updates _immediately_ would be something similar to:
[code]

Extra diffing between `data` updates could be a cool opt-in feature if we do s

[2017-10-12 18:03] dahlbyk commented on #750
I have no idea what it would look like, but better lifecycle hooks couldn't hurt.

That said, mutating a full data set will almost certainly be harder to reason about than keeping mutation compartmentalized.

[2017-10-13 02:30] joellanciaux commented on #750
After diving in a little bit, I don't a specific `mutable` flag or anything of the like would be necessary. It looks like there are only a handful of things that needed to change for this behavior to be better supported.

This behavior should be A-OK with #755

[2017-10-13 06:15] hewrin commented on #752
Thanks for the reply!

I'm not sure how extraData works though,  we pass the props to <ColumnDefinition> and the Cell component can access the prop we pass in?

Can other Components (ie Row) access it too?

Thanks again!

[2017-10-13 15:04] dahlbyk commented on #752
You can access the props from `Cell` or from an individual column's `customComponent`/`headingCustomComponent`.

For your situation, I would try adding a "fake" `ColumnDefinition` with your checkbox as its `customComponent`.

[2017-10-16 00:33] #697 closed

[2017-10-16 03:29] hewrin commented on #752
Thanks for the reply, my setup now is something like this.

This is my file with Griddle in it

[code]

Row looks like this

[code]

And my CheckboxCell looks like this

[code]
However the checkbox doesn't seem to appear on the table that is rendered

Thanks in advance!

[2017-10-16 04:22] dahlbyk commented on #752
Unless I'm missing something, your `Row` isn't actually rendering any of the `Cell`s. As far as I can tell, you shouldn't need a custom `Row`:

[code]

(Note: `customComponent={CheckboxCell}` instead of `customComponent={{CheckboxCell}}`; the latter creates an object.)

[2017-10-16 09:35] hewrin commented on #752
the data I'm passing into Griddle is kind of nested, is there a way to pass it in via ColumnDefinition id when its nested?

Though when I tried to pass in some dummy data like this

[code]
I only got an undefined header
![screen shot 2017-10-16 at 5 34 33 pm](https://user-images.githubusercontent.com/7257561/31605251-5a458b96-b298-11e7-9374-d2b82e20b9b1.png)

Thanks in advance!

[2017-10-16 09:57] hewrin commented on #752
Oh, it seems I can do pass in nested data, the syntax should look like this right?

[code]

though I still get like in the screenshot above

[2017-10-16 11:06] #750 closed

[2017-10-16 11:07] dahlbyk commented on #752
Everything in the last example seems correct at a glance...

[2017-10-16 16:15] hewrin commented on #752
I'm sorry, it was a typo on my part. I typed RowDefinition twice.
Its now working well now, I can now pass a function to my custom props. Thank you so much for your help  :D

[2017-10-16 16:18] dahlbyk commented on #752
Feeling pretty silly to have overlooked that myself. Glad you got it working!

[2017-10-16 16:18] #752 closed

[2017-10-16 16:30] benoj commented on #748
Thanks! Got that working with the following code - pasting for anyone in the future looking for this:

LayoutContainer:
[code]

Layout:
[code]

Cheers,

Ben

[2017-10-16 16:30] #748 closed

[2017-10-16 17:53] dahlbyk commented on #748
For reference, you can simplify a bit:

[code]

[2017-10-17 15:13] benoj opened #758 "When filter returns empty list then filter is unmounted and remounted"
Hey,

When my filter returns false for all entries the filter is being unmounted. This is causing issues as i am losing my search fields as I have a custom filter which stores it in state.

Any ideas why this is happening?

[2017-10-17 16:09] bpugh commented on #671
@ryanlanciaux I'd be happy to take a shot at this. Your approach sounds like it might be the correct. Would you be able to point me in the right direction?

[2017-10-17 16:36] dahlbyk commented on #758
Are you able to produce a minimal repro of this? The project's Storybook is a good mechanism for proving defects.

[2017-10-17 17:18] dahlbyk commented on #671
Another thing to consider related to dynamic Row/Column definitions: I've run into a situation where it would have been nice to `connect()` a custom `ColumnDefinition` to an external store, specifically to load in a column visibility preference. I wasn't able to get it to work, though.

[2017-10-18 10:33] MichaelDeBoey commented on #736
Please update also to [`recompose ^0.25.1`](https://github.com/acdlite/recompose/releases/tag/v0.25.1), which supports `React ^16.0.0` 🙂

[2017-10-23 18:22] shorja commented on #733
@dahlbyk I've been thinking about the idea of plugins as reducers and I'm starting to like it. My initial concern is that it allows plugins to do ... like anything at all since they are getting the full Griddle configuration up to that point when they are run, though I suppose it doesn't really matter since its up to devs to decide what is appropriate.

On a basic level, each plugin would pretty m

[2017-10-23 21:39] dahlbyk commented on #733
That's exactly the idea. And if a plugin is provided as a plain object, we will continue to merge it into the configuration using current semantics (components get replaced, reducers get combined, etc).

Does the `composeSelectors` logic actually need to change, other moving the step to flatten the core/plugin selectors up into the plugin reducer? Ultimately applying plugins results in a final nam

[2017-10-23 21:58] shorja commented on #733
Not explicitly, however I am adding some more features to the selectors and they way I'm doing it should make it very easy for reduceable plugins to add their own selectors onto the pile. It also may in the future enable fancier intermediate changes to the selectors by each plugin. I'll share it when its done.

[2017-10-24 10:37] MichaelDeBoey opened #761 "Is it possible to get the data by 'griddleKey'?"
## Griddle version
`^1.10.0`

## Problem
So I'm using my own `RowEnhancer`, so I can implement my own `onClick`, like this:

[code]

When I click on the row, I get the following log:
[code]
[code]
The `griddleKey` here would be useful to get al the row-data back I guess, but I can't seem to find out how this should be done. 😕

Can somebody help me please?

[2017-10-24 10:44] MichaelDeBoey commented on #736
@ryanlanciaux Any news on this one? 🙂

[2017-10-24 10:45] MichaelDeBoey commented on #720
Will be fixed in #753

[2017-10-24 14:01] MichaelDeBoey commented on #390
@ryanlanciaux I'm interested in setting a fixed width for a certain column through styling (as props), is this currently possible on any way?

[2017-10-24 15:41] dahlbyk commented on #390
You can specify `width` on any `<ColumnDefinition />`.

[2017-10-24 18:35] MichaelDeBoey commented on #390
Doh, didn't see that one 😓😕
Thanks @dahlbyk! 🙂

[2017-10-26 13:27] Cremz opened #762 "Double rendering of all rows"
Hi,
I'm using an older version of Griddle (0.2.4) with some custom tweaks therefore i cannot update to newer versions. We are rendering a large number of rows (sometimes up to 200K) and i've noticed that scrolling is really bad. After checking out the code, it seems that each time we do any action, griddle renders twice. the main react component that has Griddle only renders once. I'm not sure wha

[2017-10-27 00:45] ZachPerkitny commented on #758
Hello @dahlbyk ,

I put together a [small project on codepen.](https://codepen.io/zperkitny/project/editor/APwVjJ) To reproduce this:

1. Type Anything into Filter
2. Open the Test Dropdown and Click Action
3. Filter is empty (because the Layout Component unmounts)

I added a componentWillUnmount method to Layout's prototype to show that it unmounts. This behavior isn't particularly desirable.

[2017-10-27 09:18] shemansh opened #763 "customHeaderComponent not getting rendered"
## Griddle version=^0.2.13

## Expected Behavior
I am using customHeaderComponent to render columns wise filter on the table that I am displaying but when i run the code nothis is getting rendered.

## Actual Behavior
Should have rendered a column level filter.

my code

App.jsx
import React, { Component } from 'react';
import Griddle from 'griddle-react';

import HeaderComponent from 'components/

[2017-10-27 10:07] shemansh commented on #763
@ryanlanciaux  please if you can help me out ?

[2017-10-27 22:01] cycomachead opened #764 "Question: Passing Additional HTML attributes to <td> and <th> elements"
Forgive me if I missed this, but I can't seem to find a way to pass additional attributes to the `td` and `th` elements that are rendered. I'd like to be able to pass ARIA attributes to improve accessibility of tables.

[2017-10-28 13:37] dahlbyk commented on #764
Keys from the `extraData` `<ColumnDefinition>` prop are passed through to [`Cell`](https://github.com/GriddleGriddle/Griddle/blob/30ba7c43c2315e7892a062144133d12f0f68594a/src/components/Cell.js) and [`TableHeadingCell`](https://github.com/GriddleGriddle/Griddle/blob/30ba7c43c2315e7892a062144133d12f0f68594a/src/components/TableHeadingCell.js) ([example](https://github.com/GriddleGriddle/Griddle/blo

[2017-10-30 15:05] bristoljon commented on #647
Me too, I have (want) a custom `connect`'ed RowComponent that is receiving the griddle state rather than my store state. On version `1.9.0`

I'm not sure having a different store name is really the right way to go either. Redux is supposed to be the sole source of truth for the app after all. Wouldn't it make more sense to allow a configurable location in the existing redux store for storing the g

[2017-10-31 03:18] dahlbyk commented on #647
There are two parts to using the current implementation:

1. Direct Griddle to avoid hiding the default store: either specify a `storeKey` for each `<Griddle>` instance, or set `Griddle.storeKey` globally (c.f. https://github.com/GriddleGriddle/Griddle/pull/751)
2. Use the appropriate `connect`:
   * To have a component access your app's default store:
[code]
   * To have a custom Griddle componen

[2017-10-31 09:28] bristoljon commented on #647
Cheers for quick and detailed explanation, @dahlbyk. I was thinking the redux integration could be optional i.e. use built in Provider if no key specified but can see how that would lead to more complications. I hadn't thought about the benefits of per instance stores regarding plugins etc. either so totally see the reasoning. And pleased to see the solution is pretty straight forward.

[2017-11-02 03:51] narensprinter commented on #748
can you help on this? not able to hide pagination if only one page @benoj  @dahlbyk

[2017-11-06 21:06] dahlbyk commented on #736
https://github.com/GriddleGriddle/Griddle/pull/765/commits/c8b6d16ebd3fcaa71aeac97014a2ce5e0f3d7e4e pinned to `typescript@2.5`. Apparently there's a fix for v15 (https://github.com/DefinitelyTyped/DefinitelyTyped/pull/21233), or we can address this only for v16.

[2017-11-07 10:31] shemansh commented on #763
Still no reply on this.

[2017-11-07 13:12] dahlbyk commented on #763
You might have better luck asking on StackOverflow. 0.x isn't under active development.

[2017-11-07 16:30] miguelsaldivar opened #766 "Setting a tableWidth in pluginsPositionPlugin({tableHeight: 300, tableWidth: 300}) breaks virtual scrolling"
## Griddle version
1.10.1

## Expected Behavior
Allowed to set both the height and width of the table, without virtual scrolling breaking.

## Actual Behavior
Virtual scrolling is completely unusable when setting a width of any size.

## Steps to reproduce
[code]

[2017-11-09 14:33] radziksh commented on #761
Hi, @MichaelDeBoey, I did like this (I use typescript):
[code]

[2017-11-09 15:38] radziksh opened #767 "inputbox in customFilterComponent lose focus"
in fact this is a repetition of another issue, which was closed without a solution:
https://github.com/GriddleGriddle/Griddle/issues/475

## Griddle version
1.9.0
## Expected Behavior
input should not lose focus.

## Actual Behavior
input loses focus

## Steps to reproduce

[code]
I use my own redux store and every time I send a new searchString to onChange event. But unfortunately the focus of th

[2017-11-09 16:42] dahlbyk commented on #761
You'll get better performance using the [`rowDataSelector`](https://github.com/GriddleGriddle/Griddle/blob/3466e7cc19f0f5fba591dcf487ec7d5abec39e86/src/selectors/dataSelectors.js#L282-L285) that's exported from Griddle ([via our Storybook](https://github.com/GriddleGriddle/Griddle/blob/3466e7cc19f0f5fba591dcf487ec7d5abec39e86/stories/index.tsx#L70-L72)). You can also simplify your enhancer using `

[2017-11-09 16:59] dahlbyk commented on #767
As you note, losing focus usually means the `input` re-rendered. Your `SearchStringFilter` seems fine, but would depend on `searchString` and `onChange`. You mention your own Redux store - can you provide a more complete repro that includes that interaction? Our Storybook provides a great environment for repros, and includes an [example of connecting to another store](https://github.com/GriddleGri

[2017-11-09 17:21] radziksh commented on #767
@dahlbyk
[code]

I did not want to publish all the code right away to localize the problem. I pass this function and object through `components` (I did this to eliminate the problem with HOC in render) - but that did not help me.

my own redux store is very simple, every time I click on any key in the search filter, I send a request to the server (to be sure that this data is the latest). It would