[2016-01-07 10:10] ragebiswas commented on #250
One way in which I was able to workaround this problem - noting if it helps someone else. I added some meta information to the column text so that sorting by ascending/descending order works. I also added a custom formatter for that column so that I show just the stuff I want.

[2016-01-07 14:02] hiitsu commented on #213
any quickies for this one?

[2016-01-08 15:32] dlong500 commented on #286
The #302 PR has been merged, but there is not a new release yet so I'm leaving this issue open for reference until then.  I supposed the docs probably need to be updated too so it's probably good to keep this open until that happens as well.  I could give it a go at updating the docs at some point soon.

[2016-01-08 16:37] tpianta opened #306 "Allow a defaultSort parameter on columns[]"
There is no way to give columns a default sort, so everything defaults to ASC.  You can only control the initial sort direction.

[2016-01-09 00:26] tony-kerz commented on #106
just noticed this today as well :+1:

[2016-01-09 00:31] tony-kerz commented on #66
i would love to see a variation of this where a `filterable` property set to `true` for a column would provide a column specific filter input, something similar to this: http://allenfang.github.io/react-bootstrap-table/example.html#filter

[2016-01-09 01:34] ryanlanciaux commented on #66
Cool - we are planning on supporting this type of functional as a plugin after 1.0 ships :) If anyone wants to try their hand at it beforehand, please ping me and I'll help you get setup on that :)

[2016-01-09 04:31] legomind commented on #171
No, that is not the case from what I can see. I think for some reason just modifying the dom elements is all it take to interrupt the scrolling in some browsers.

Here are the browsers that scroll just fine for me:
[code]

[2016-01-09 04:38] legomind commented on #224
Not without a little extra work. In order to optimize rendering, Griddle must have a fixed height in order to calculate the number of rows to show in the list.

I wrap my component with [react-measue](https://www.npmjs.com/package/react-dimensions) and pass `this.props.componentHeight` to griddles `bodyHeight` prop.

[2016-01-09 04:41] legomind opened #308 "Any way to get / set scroll position?"
I am looking for a way to preserve scroll position between renders / component mounts.

[2016-01-09 04:45] legomind commented on #171
Now I am not so sure about my last comment. I just noticed that positioning the cursor directly over the scrollbar in safari allows for smooth scrolling. :confused:

[2016-01-09 04:47] legomind commented on #303
@ryanlanciaux Should I work from master? I am inclined to work on v1 alpha, even though its not really ready just yet.

[2016-01-09 04:50] legomind commented on #290
The ability to add a custom sorting function to the columnMetadata prop would be really great, but I took a quick glance and didn't see anything like that in griddles source.

[2016-01-09 04:51] legomind commented on #289
You would need to pass in a custom grid component that handles rendering the table body to accomplish that.

[2016-01-09 04:51] ryanlanciaux commented on #303
Based off of master would be best for this -- the codebase for 1.0 will need to handle it in a different way (I would love help on that though too at some point if any availability :smile:)

[2016-01-09 04:53] legomind commented on #286
@dlong500 Thanks for this.

[2016-01-09 04:58] legomind commented on #260
@RyanAtViceSoftware I solved this issue by filtering the data outside of griddle. Not only did it give me more flexibility with the UI, I gained a rather significant performance boost.

[2016-01-09 05:01] legomind commented on #257
@taxigy Try setting an absolute height to your row style and setting the `rowHeight` prop on your griddle instance.

[2016-01-09 05:36] ryanlanciaux commented on #289
Sorry about this confusion! It's poor naming on our part. Can you try using `useCustomTableRow` and `customTableRow` instead and see if that is better? We should have called customRow something else earlier on as it's a repeated div rather than a table row (which is really helpful in some scenarios -- but not this one :smile:). We've tried to make this a lot clearer in the customization in 1.0 ..

[2016-01-09 05:38] ryanlanciaux commented on #290
There was a PR for starting similar functionality (date rather than numbers) but it's not in the source right now.

https://github.com/GriddleGriddle/Griddle/pull/149/files

[2016-01-09 23:39] tony-kerz commented on #271
hey, i'm new to griddle, and was just looking for this same feature.

cool about "functional components", the above ref is the first time i had encountered the idea.

looks like `master` is currently referring to react `0.14.3`, is there a pending p/r somewhere in the pipeline around this?

regards,
tony.

[2016-01-10 04:24] tony-kerz opened #309 "enhancement: default cssClassName?"
any interest in setting up a default class name for columns?

whenever i specify class-name (so far for things like width or whitespace),
i'm pretty much just typing in what the result of `_.kebabCase(columnName)` would be...

could just be an opportunity for some convention-over-configuration code thinning...

[2016-01-10 05:02] tony-kerz opened #310 "enhancement: selectively throw exceptions on missing methods with 'useExternal'"
i flipped on `useExternal` and saw a series of exceptions around missing methods which is generally great, but for instance, i don't have filtering enabled and still am being required to provide an `externalSetFilter` function. i guess same would go for sorting, if i don't have sorting enabled, i shouldn't have to provide external sort related properties, etc.

**edit**:

i guess it's [only `conso

[2016-01-10 05:03] ryanlanciaux commented on #309
That sounds like a good idea. So, to confirm if i had a column called firstName it would automatically apply the css class name 'first-name' to the column?

[2016-01-10 22:38] tony-kerz commented on #309
yep, `columnName: 'firstName'` results in `cssClassName: 'first-name'`, but without the typing.
or maybe just allow for a function to be provided at a high level (either by passing a prop to a `Griddle` element, or some other one time setup like `Griddle.setOptions()`)
something like:

[code]

i'm a sass user, so i can take that and do something like:
[code]

[2016-01-10 22:39] ryanlanciaux commented on #309
This sounds like something that would be an awesome plugin in 1.0. Trying to think of the best way to go about doing this.

[2016-01-10 23:29] tony-kerz commented on #309
i love the plugin concept for 1.x.

thanks ryan. feel free to shoot me any ideas around how this particular guy may manifest as a plugin,
i would be happy to try my hand at one.

[2016-01-11 21:56] ruchigoyal2005 commented on #159
any update on this issue? I also want to add the pager on top.

[2016-01-13 01:33] yorchv commented on #276
@ryanlanciaux awesome!

[2016-01-13 08:58] lukasjsk commented on #249
@brownieboy @SylarRuby
We hit the same issue and we were able to get rid of the warning by wrapping rows without children inside <tbody> in gridRowContainter.jsx (last line of render method).

So instead:
[code]
we do
[code]

This was just a quick fix and I still need to check if it's not breaking anything else...

[2016-01-14 13:01] jsdmc commented on #274
Hello there!
@ryanlanciaux I've added fix in this PR https://github.com/GriddleGriddle/Griddle/pull/312
Also changed the way how uniquie keys is assigned to rows. Before I got error https://github.com/facebook/react/issues/2410 that was caused because react was not able to find unmounted rows (with new keys each time)

[2016-01-14 14:53] int13h opened #313 "Icons in column headings"
I am trying to find an example but not having much luck. Is it possible to replace column headings with an i tag?

[2016-01-14 21:30] tmartensen commented on #185
+1. This is still happening on version 0.3.0

[2016-01-14 23:43] aaronucsd opened #315 "react-tab index rest on a click event"
Hi. I have an onclick event fire from one of my tabs, but on fire, it somehow reset the tab index to go back to the first tab. Say i have  2 tabs, and i'm on the second page of the tab 2, which has Griddle table, when i click on something in one of the griddle's table column it triggers the react tab to go back to the first tab vs staying put. Any ideas?

[code]

[2016-01-16 02:10] joellanciaux commented on #274
Hey @jsdmc - everything should be merged in. Thanks for making the update :+1:

[2016-01-16 02:10] #274 closed

[2016-01-16 15:13] mlucool opened #316 "peerDependency: underscore"
Hi,

I see this project has taken the route that all dependencies are peer. I would like to put forward either underscore is moved to a regular "dependency" (newer versions of npm flatten anyway) and/or moving underscore to [lodash](https://lodash.com/) for [performance and flexibility reasons](http://benmccormick.org/2014/11/12/underscore-vs-lodash/). What are your thoughts? I would be happy to m

[2016-01-16 17:39] yorchv commented on #316
Griddle is working on the next major version that does rely on lodash. So, in the mean time, I am not sure if they want to put an effort on breaking this for other users. I say this to you, because I proposed it in other thread ;)

[2016-01-16 19:32] ryanlanciaux commented on #316
As @yorchv said we are in the process of an upgrade and we are switching to just use individual modules in lodash.

I would love if there were a really nice way to say include lodash OR underscore and that would be a change that would be great for the 0.x versions of Griddle. As far as totally moving away from underscore, I'm a little concerned about doing that before the 1.0 release. If anyone ha

[2016-01-18 14:41] igogo5yo opened #317 "Grid not works =("
#### Hi!
I try use grid from this [example] (https://github.com/GriddleGriddle/Griddle/blob/master/examples/externalData/external-swapi.html).

#### I take 1 Warning -
Warning: React.createElement: type should not be null, undefined, boolean, or number. It should be a string (for DOM elements) or a ReactClass (for composite components). Check the render method of `Main`.

#### And 1 error -
Uncaug

[2016-01-18 15:13] #317 closed

[2016-01-18 15:41] ryanlanciaux commented on #317
Were you able to get this sorted out?

[2016-01-18 18:36] igogo5yo commented on #317
Yes! Sorry!
This was my mistake in this place -
[code]

[2016-01-18 19:31] Jeffoss opened #318 "enhancement: update noDataComponent, and fix colspan for the externalLoadingComponent"
I would want that when there is no data to display, the table will still show with a custom component inside just like the `externalLoadingComponent`.
Also theres a wierd thing with the `externalLoadingComponent` colspan, it only spans the entire table when `useGriddleStyles={true}`, i think the `defaulsColSpan` should be the same even if i dont use griddle styles.

These are some easy additions t

[2016-01-18 19:52] yocmen opened #319 "a few questions..."
Please i need help, can i set a object as tfoot?????? i read a lot and cant find how, how can i tell the grid show all rows, i hide the pager but i need show all rows too.... please help i read and try to find a solution, but i cant find it.

[2016-01-18 20:51] qosmy-michael commented on #269
Same question - did you find a solution?

[2016-01-18 21:59] qosmy-michael commented on #269
Not elegant - but if you remove "setPageSize, toggleCustom: from the last (return React.createElement) line in gridSettings.jsx you can kill it.

You may want to do additional tweaking.

return React.createElement('div', { className: 'griddle-settings', style: this.props.useGriddleStyles ? { backgroundColor: "#FFF", border: "1px solid #DDD", color: "#222", padding: "10px", marginBottom: "10px" } :

[2016-01-19 05:18] ryanlanciaux commented on #317
No worries wanted to make sure it was all working for you.

I've done that same thing before haha. Took me a little bit of time to catch that I did that too

[2016-01-20 06:05] gbeaty opened #321 "Undocumented performance advantages of rowMetadata.key"
My app frequently updates its tables, so performance has been a real issue, especially on mobile. I created some crude benchmarks to evaluate the viability of grid systems:

https://github.com/gbeaty/gridbench.js

I noticed griddle kept updating data-reactid on every row every time setProps was called, and reasoned this might be slowing things down. I then found the rowMetadata.key setting, and st

[2016-01-20 14:06] blkmutt commented on #321
Just saying thanks -- we'll leave the issue open if anyone wants to take a stab at it before we get to it.

Also 1.0 is coming -- sounds awesome that you have these benchmarks. We'd love to get some metrics on the 1.0 stuff once we get some more of the performance stuff tuned.

[2016-01-20 17:40] blkmutt opened #322 "Use Lodash Instead of Underscore"
Just use necessary modules from lodash instead of including underscore. See this issue for details.
https://github.com/meteor/react-packages/issues/168

[2016-01-20 18:12] ryanlanciaux commented on #322
Yea we should do this :+1: We will need to include just the methods from lodash that we want to use just like we are in 1.0.

If anyone wants to take a stab at this that'd be good -- Otherwise, I'll try to get to it soon. Basically we want to do something like this:

[code]

Anywhere that we were using `_.debounce` it should use the newly imported module instead (I don't think we're using debounce

[2016-01-21 06:33] yorchv commented on #322
I will do this change. Seems great.

[2016-01-21 09:36] artin-phares opened #323 "'selected' column appears when selecting first row"
Hi, I've noticed strange 'selected' column appears when I select first row in my grid.
It hides on focus out.
Started appear as soon as I've moved to `useExternal: true`

normal:
![no-selected](https://cloud.githubusercontent.com/assets/671082/12476556/3ac42058-c03b-11e5-8f3c-49be4fab3350.png)

select first row in the grid:
![selected](https://cloud.githubusercontent.com/assets/671082/12476560/3fc

[2016-01-21 11:45] ryanlanciaux commented on #322
Thank you! That would be awesome! :+1:

[2016-01-21 12:35] orangecoding opened #324 "onclick on row triggers event if I want to open a subgrid"
Hey,

I've start using subgrids which is nice. Well it would be much more awesome if I could add my own columns to parent and children, but I've seen that this is planed. (Is it planed for 1.0?)

Anyways, If I hook a onClick on a row, it also triggers if I try to open the subgrid. Then the subgrid won't open.

[2016-01-21 18:45] yorchv commented on #322
@ryanlanciaux I have been able to update the package successfully, the only problem is about the documentation. Should we make the lodash modules as dependencies instead of peerDeps? This removes the need to have underscore installed or available.

[2016-01-21 18:55] ryanlanciaux commented on #322
Awesome news! I think it's fine to make them actual dependencies and remove underscore entirely :+1:

[2016-01-21 19:02] yorchv commented on #322
Check https://github.com/GriddleGriddle/Griddle/pull/325

[2016-01-21 19:04] ryanlanciaux commented on #322
Thanks so much -- I'll try to get that merged in the next day or so here and publish this out.

[2016-01-22 00:30] aaronucsd opened #326 "Long strings overflow to other columns"
How to prevent the values that are too long from not overflowing to another columns? Also can we make the width of the cell adjust according to it's value?
![screen shot 2016-01-21 at 4 29 14 pm](https://cloud.githubusercontent.com/assets/8840761/12499085/41294574-c05c-11e5-992f-0b06cccae4fb.png)

[2016-01-24 04:40] vkbrad commented on #308
+1

[2016-01-25 12:10] artin-phares commented on #323
UPDATE:

Names of strange columns are equal to classes added to first row element.

![c45ae2cd36f00a4b4f0708107bcf731d](https://cloud.githubusercontent.com/assets/671082/12550447/dcde53d6-c374-11e5-9e28-279c9b4c9620.png)

More custom classes I add through `rowMetadata` - more strange columns appear.
No such issue when classes added to second or any other row.

Any idea?

[2016-01-25 14:16] artin-phares commented on #323
UPDATE:

Not reproduced if explicitly pass `columns` prop.

[2016-01-25 15:17] ryanlanciaux commented on #323
Thanks for tracking this down. It sounds like there may be a bug in Griddle where it's showing the selected state of the column (which is used when the selection stuff is enabled).

This should be fixed in 1.0 but if anyone wants to take on a PR now that would be awesome.

[2016-01-25 20:03] willpracht opened #328 "Scrollbars knock columns out of alignment"
In Chrome, FireFox, and Internet Explorer (tested with 11), the Windows scrollbar widget takes up space.

This doesn't seem to be much of a problem if you aren't using a fixed header, but when you do, the columns are misaligned between the head and body.

##### Examples

###### Chrome (Windows 7)

<img width="245" alt="win7-chrome" src="https://cloud.githubusercontent.com/assets/652925/12562560/7c

[2016-01-25 23:33] willpracht opened #329 "Removed columns never force redraw"
In Internet Explorer (tested on IE11) on Windows 7, when a column is removed via the settings pane, the header fills the width of the table correctly, but the body does not, leaving you with a gap.

It seems like a table redraw will fix the problem:

[code]

However, that is incredibly hacky and will cause troubles down the line with large datasets.

**Example**
http://screencast.com/t/dPlL8cNX

[2016-01-26 13:26] orangecoding commented on #326
+1

[2016-01-27 05:20] ryanhend opened #330 "RowMetadata setting not passed down to SubGrid"
Looks like the rowMetaData is not passed down in gridRowContainer when creating the children.
Similar to Issue 163. https://github.com/GriddleGriddle/Griddle/issues/163
I want to use a custom class name on the subgrid rows, but I cannot as RowMetaData is not passed to the children.

**Note**: In the latest commit RowMetaData is set on the child grid, but no attributes from the parent grid's RowMet

[2016-01-27 18:28] yorchv commented on #322
plans on merging this?

[2016-01-27 18:34] ryanlanciaux commented on #322
Yes -- sorry about the delay. I was going to try to rebase it on top of master but if you want to do that also that would be good -- it's finding conflicts (which is odd because I don't think we merged anything between start and finish of this task)

Thanks a ton for checking in on this -- it's an awesome thing and def. something that should be merged in.

[2016-01-27 18:52] yorchv commented on #322
Done

[2016-01-28 17:08] zeeshank-nrift opened #332 "Subgrid span not appearing when 'columnMetadata' is specified explicitly"
I have a react griddle which consists of subgrid. If I am not specifying any columnMetaData explicitly then two corresponding span elements are appearing inside each 'td' element with the first span element consisting of the "parentRowCollapsedComponent", but if I specify anything at all inside a explicit columnMetaData then the 'td' element is not having any child span elements and hence the coll

[2016-01-29 08:51] zeeshank-nrift commented on #332
I am providing here two fiddles, the first one has columnMetadata mentioned and hence the expand-collapse icon is not appearing. In the second one there is no mention of columnMetadata and the expand collapse icon is appearing

https://jsfiddle.net/zeeskhanonline/oy0rabo8/

https://jsfiddle.net/zeeskhanonline/whqctz3x/

[2016-01-29 12:50] aadrian commented on #129
Any news on the column re-sizing feature? Any real world use case of grids requires the possibility of resizing :( .

Thank you.

[2016-01-29 13:36] ryanlanciaux commented on #332
Thanks for providing these examples!

[2016-01-29 14:12] zeeshank-nrift commented on #332
You are welcome. Can you please suggest some workaround this issue?

[2016-01-30 14:50] jetaix opened #333 "Open by default the settings row"

[2016-02-01 16:11] theo07 opened #334 "Griddle table add Hover effect to rows !Crucial why is not there?"

[2016-02-02 13:14] amitsharma2705 opened #335 "Unable to render Bool value"
I don't its a bug from griddle side or react but I am unable to render bool value (false) got from webapi.

Change : coldata = coldata.toString() in gridRow.jsx.js render function
after this seems to working for me

[2016-02-02 13:16] amitsharma2705 opened #336 "Unable to render null in col value"

[2016-02-02 16:25] ShankarSangoli opened #337 "Custom sorting on a specific column with useExternal set to false"
I think griddle should allow customizing the sorting logic for a specific column if required irrespective of `useExternal` flag.

Sometimes the data is not flat enough that reversing the data will sort it as needed. In such cases we can give the control to consumer to sort and provide the sorted data.

[2016-02-03 15:00] ssauer78 commented on #318
Hi,
I have the same issue with the loading component not being centered when useGriddleStyles is set to false.
Having the defaultColSpan set outside the if statement also works for me (in gridTable.jsx:231).

Thanks for the great work!

Sajoscha

[2016-02-05 11:58] #334 closed

[2016-02-05 22:00] DanRoeSparks opened #338 "Row numbers in first column?"
Hi folks,

enjoying Griddle so far.

Request for an enhancement: I'd love to be able to add row numbers to Griddle that aren't attached to the data I pass in - so no matter what sorting is applied, the first row is always #1, and so on, ideally turned on/off by something like showRowNumbers=true.

Similar functionality here: https://datatables.net/examples/api/counter_columns.html

[2016-02-05 22:24] ryanlanciaux commented on #338
Thanks -- very glad to hear that! This sounds like a great suggestion and would be a perfect candidate for a [1.0 plugin](http://griddlegriddle.github.io/Griddle/next/docs/plugins/creatingPlugins/). If someone wants to take a stab at it, I can help get that going -- otherwise I can add it to the 1.0 roadmap if that's good :)

[2016-02-05 23:31] DanRoeSparks commented on #338
I could definitely take a stab at a plugin, I had a quick look at the docs now, so if you're up for providing a bit of support, I'm down.

[2016-02-06 03:50] ryanlanciaux commented on #338
Yea, that would be **awesome** -- I'd love to help too!

How I'm currently imagining this is a higher order component a little like the [subgrid row component](https://github.com/GriddleGriddle/griddle-subgrid-plugin/blob/master/src/components/row.js#L15). The HoC should return the `RowComponent` it receives but it should extend the rowData prop to contain the rowNumber (there should be an [absolu

[2016-02-06 23:45] jjstrat3 commented on #276
@ryanlanciaux I was wondering where I could start digging in to help contribute with the 1.0 release?  I use Griddle a lot(including with a production app for work), and I'd love to be able to give back by contributing towards this release!  I've been more of a Github consumer in the past, and I'm looking to change that. :)

[2016-02-07 01:48] ryanlanciaux commented on #276
That would be incredible! We're trying to start triaging anything that's ready here https://waffle.io/GriddleGriddle/griddle and I'm "trying" to do a better job at adding notes in there so they are more clear to others (and sometimes myself a couple weeks after I create an issue for the new stuff :confused:  haha). If there's anything in there that looks to be of particular interest and isn't well

[2016-02-07 19:58] liorbentov commented on #306
Doesn't sortDefaultComponent work for you?

[2016-02-07 22:14] kire62 commented on #317
If anyone else comes across this the correction was:

`import Griddle from 'griddle-react';`

without the brackets around `Griddle`. Goodbye 2 hours of my life :(

[2016-02-08 03:39] mihirsoni commented on #192
Yup it seems the counter is not reseting while refreshing the page so it turns out to be invalid checksum. Any work around for this ?

[2016-02-08 19:24] tpianta commented on #306
sortDefaultComponent allows me to change the icon that is displayed by default.

I need the ability to control the default sort order on any give column so that the first time it is clicked, it orders desc instead of asc like it does now for all columns.

[2016-02-08 21:59] Janekk commented on #276
Thanks for that neat update with using lodash modules instead of underscore dep.

[2016-02-09 10:54] mohak1990 opened #341 "How can I create event on DblClick?"
Is this functionality not yet implemented?

[2016-02-12 21:36] roessera opened #342 "Grid does not sort properly for the 10th+ rows"
To be brief, here's some data:

{"visible": true, "order":"1" },
{"visible": true, "order":"3" },
{"visible": true, "order":"4" },
{"visible": true, "order":"5" },
{"visible": true, "order":"6" },
{"visible": true, "order":"7" },
{"visible": true, "order":"8" },
{"visible": true, "order":"9" },
{"visible": true, "order":"10"},
{"visible": true, "order":"11"}

Upon rendering, column #11 gets render

[2016-02-13 13:47] blkmutt commented on #342
Since you have quotes around those, JavaScript sees them as a string. Could you try to take off the quotes from the numeric values to see if that resolves the issue?

[2016-02-16 12:42] Guria opened #343 "griddle 1.0: DefaultModules is not available"
[1.0 documentation states](http://griddlegriddle.github.io/Griddle/next/docs/customization/override/):

But [DefaultModules is not exported](https://github.com/GriddleGriddle/Griddle/blob/1.0/index.js)

[2016-02-16 14:49] Guria opened #344 "griddle 1.0: horizontal scrollbar"
Adding griddle with default styles causes to appear page horizontal scrollbar. It seems like is just about 1-2px that causes it.

[2016-02-16 14:51] Guria commented on #344
Looks like it is `Pagination` component who responsible for it

[2016-02-16 14:52] Guria commented on #344
unchecking `width: 100%` in devtools on `Pagination` component fixes issue

[2016-02-16 14:53] ryanlanciaux commented on #344
Thanks for tracking that down. We'll adjust that so that doesn't occur

[2016-02-17 17:40] roessera commented on #249
wrapping <tbody>arr[0]</tbody> does not fix the issue when using a grid containing both rows and rows with subgrids (children). I receive the following error upon load:

Warning: validateDOMNesting(...): <tbody> cannot appear as a child of <tbody>. See GridTable > tbody > GridRowContainer > tbody.

Using React 0.14.5

[2016-02-19 19:47] roessera commented on #342
Thanks, works.

Not sure if this is overkill, but would it possible to add a parseInt(x) / Number(x)  upon sorting?

[2016-02-19 19:47] #342 closed

[2016-02-19 21:25] ryanlanciaux commented on #342
The [new Griddle](http://griddlegriddle.github.io/Griddle/next/) lets you define sort types on the columns and provide custom sort functions as well.

I could totally be mistaken but necessarily sure that we want that baked in by default but may be useful to some as a plugin. :+1:

[2016-02-22 03:27] standino commented on #290
we have the some problem. Please help to add sort column numerically feature. Thanks very much.

[2016-02-25 18:09] FherUnity opened #346 "displayName empty."
I'm having an issue when I try to set two columns without 'displayName', when the table is displayed then chrome throw this warning: `Warning: flattenChildren(...): Encountered two children with the same key, `.$`. Child keys must be unique; when two children share a key, only the first child will be used.`

this is my code:
![screenshot from 2016-02-25 11 57 43](https://cloud.githubusercontent.co

[2016-02-25 22:25] aaronucsd commented on #346
Why do you need to set displayName if the value is the same as the columnName? The Display name i usually set it something else. Say my columnName is `firstname` my displayName can be `First Name`? What is your goal here? If you want to not show the column or not have a display name ?

[2016-02-25 22:50] FherUnity commented on #346
hi @aaronucsd I don't want to show the title for those columns but when I set an empty string for two o more columns (displayName) the above issue is thrown.

I need something like this:
![screenshot from 2016-02-25 16 45 40](https://cloud.githubusercontent.com/assets/2280194/13337099/43a65712-dbdf-11e5-9172-3dbb18fc1e4f.png)

if you can see, the first and the last column don't have a title but to

[2016-02-25 23:01] aaronucsd commented on #346
You sure this is giving you the error or the CustomComponents? React requires that his nodes has unique keys (for his dirty checks). Try to remove the customComponents and see if you get the same errors.

example my customComponent
[code]

[2016-02-26 00:17] richardry opened #347 ""showSetPageSize" prop should be consistent with "showPager" prop, not "useCustomGridComponent" prop"
I can turn off the pagination by setting showPager= false, however, under Settings, the configuration for the pagination still there. The problem is "showSetPageSize" prop is controlled by "useCustomGridComponent" as the following code in Griddle.jsx:
               showSetPageSize={!this.props.useCustomGridComponent}

It seems to me this is incorrect, instead it should be consistent with "showPag

[2016-03-01 05:35] jitchavan opened #348 "can we use "External Data" and "Custom Row Format" together"
Hi,

i trying to use **"External Data**" and "**Custom Row Format**"  together but with no success yet.
so i m trying to "Custom Row Format"  only and use state to update results from external source.

any thoughts on this.

Thanks.

[2016-03-01 06:00] ryanlanciaux commented on #348
Sorry that's not working out for you! Could you please post how you're defining your Griddle component? Thanks!

[2016-03-03 14:08] blandflakes opened #349 "If objects passed in as results property have a "length" property, Griddle treats the data differently"
I suspect that Griddle is trying to do something intelligent based on the attributes of the data - if I pass in an array of objects where each object has a "length", the resulting table is mangled and not representative of the data. If I remove or rename the "length" attribute, everything proceeds as shown in the demos.

For example:

    <Griddle results={[{"Name": "Brian", "length": 23}]} />

[2016-03-04 00:01] aaronucsd commented on #326
this works for me for now. I added a style to my css for this. It will do ellipsis for long strings. And add title to your element will show it up the original value on mouse hover.

[code]

[2016-03-04 00:25] aaronucsd commented on #282
Any progress on this? THe problem i'm facing is the table is 100% and inside a grid layout that is auto width base (bootstrap's md-10). So how can you set a fixed with for selected columns when the others are not fixed? Or the table is not fixed?

[2016-03-04 00:35] aaronucsd commented on #282
So the _table-layout: auto_ is inline style. Where do we override this to turn it so it works for using _ cssClassName_?

```<table class="" style="width:100%;table-layout: auto;" ```

[2016-03-04 00:56] aaronucsd commented on #282
Seems like the issue was i had *useFixedHeader*. Took that out and now my  * cssClassName* works

[2016-03-04 01:03] aaronucsd commented on #282
It be nice if we can drag and set the width like Microsoft's Excel spreadsheets.

[2016-03-04 02:24] ryanlanciaux commented on #282
@aaronucsd I'm glad you found a workaround for the time being. We do plan on adding the ability to drag column widths as a [plugin in 1.0](http://griddlegriddle.github.io/Griddle/next/docs/plugins/usingPlugins/)

[2016-03-04 02:26] aaronucsd commented on #282
Sweet!
On Mar 3, 2016 6:24 PM, "Ryan Lanciaux" <notifications@github.com> wrote:

[2016-03-04 16:32] MrTact opened #351 "Columns that are not sortable should not display a sorting indicator"
Currently, if you set the sortDefaultComponent property, that element is rendered in all columns that are not the currently sorted column, including columns that are flagged "not sortable."

[2016-03-04 16:35] #351 closed

[2016-03-04 16:35] MrTact commented on #351
And as I was putting together a pull request, it appears this is fixed in the most recent version of Griddle.

[2016-03-06 03:19] mihirsoni opened #352 "Column metadata never changes."
Well, I am able to pass down the extra properties to the customComponent of column. However if the state changes the value of extra properties , it never reflects to the Grid row while rendering.

Example How I am using it.

[code]

While looking through the code I see [here](https://github.com/GriddleGriddle/Griddle/blob/master/scripts/griddle.jsx#L284-L317) That we never reassign the columnMeta

[2016-03-07 11:09] oskareke commented on #114
Did anyone come up with an elegant solution for when you need the data of a column (for example user id) for use in another column (username that links to '/userId') but don't want the user id column to show up?

[2016-03-07 12:13] nlien commented on #114
I believe it's just a matter of using a custom component, and use this.props.rowData.userId in that component for whatever you want.

[2016-03-07 13:05] oskareke commented on #114
That's what I'm currently doing but I'd like the userId column to be hidden. Like @slangeberg described, excluding fields from the columns list also appears to exclude them from the rowData object.

So, the question is how to get access to the this.props.rowData.userId property (or an alias thereof) in the custom component without having a userId column?

[2016-03-07 13:57] lecler-i opened #354 "CustomComponent for TH"
Hello !

Is it possible to add custom component for rendering of TH? For enabling translation for example...
It can work as the same as "displayName" but you just have to allow component (check if its a string or a component then render as needed).

I can do the improve and do a PR later when i have time.

Thomas

[2016-03-08 10:37] nlien commented on #114
I've made a fiddle for demonstrating what I mean. I don't see the problem by accessing the userId prop from the rowData object, even when excluding it from the columns list.
[https://jsfiddle.net/inillie/m374gnxd/](url)

[2016-03-08 12:08] jitchavan commented on #348
Hi,

for those who are trying to do this like me, i got it working by below defination.

[code]

still i have one problem left about Settings where page size is changeable. it is breaking somewhere, i am looking into it.

[2016-03-09 06:04] jitchavan commented on #348
Hi,

finally resolved  the  "Settings" page size break issue.

Examples for externalData (http://griddlegriddle.github.io/Griddle/externalData.html)
uses **Math.round** everywhere to calculate maxPages  e.g. ` maxPages: Math.round(data.count/10)` .
it should be **Math.ceil** (https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Global_Objects/Math/ceil)

e.g. `maxPages: Math.round(11/

[2016-03-09 09:59] rajatppn commented on #352
Having the same problem. Any fix for this or will we have to manually change the installed package?

[2016-03-09 14:22] ryanlanciaux commented on #348
You are right -- it should use math.ceil everywhere. If possible, would you like to make that change and submit a PR? :)

If not we'll keep this issue open and try to address it. It should be using ceil everywhere in 1.0.

[2016-03-09 14:26] ryanlanciaux commented on #352
Sorry that you're encountering this also! There is a PR open that we need to merge in. We need to make a 4.0 release soon and that should make it as part of that.

[2016-03-09 14:32] mihirsoni commented on #352
@ryanlanciaux  Okay thanks, currently my prod pacakge.json uses my froked repo. The way I have made changes are correct or it may impact to other things.

Would appreciate your feedback on a line change.

Thank you for your reply.

[2016-03-09 14:33] ryanlanciaux commented on #352
Cool - I will give it a more detailed look soon. From a high-level it looked good but I'll double check the other areas as well and let you know. Thanks again for taking that on :)

[2016-03-09 14:39] mihirsoni commented on #352
@ryanlanciaux  Sure Thank you for your time.

The only one more way I could think of it iterate through values and check if change is there then assign it. But it seems that is useless at it shouldn't be matter.

[2016-03-11 13:00] eddiekampe opened #355 "Misleading documentation - CustomRowComponent"
Hello.

I was experimenting with Griddle 0.3.1 and tried adding a custom row component. The documentation [here](http://griddlegriddle.github.io/Griddle/customization.html#custom-row-format) suggests the usage of **useCustomRowComponent** and **customRowComponent**.

While these properties are valid - and actually work to some extent, there is a mismatch in what gets sent down to the provided **cu

[2016-03-11 15:59] jamesmulcahy opened #356 "Columns unselected in settings are reset when table data is updated"
I'm using Griddle as a component in my React application.  The Griddle table's data is coming from the state in one of my own components. This component is set to refresh its state every two seconds, and when it does, any columns which I have un-selected in the Griddle settings are reset to selected.

It seems that that the Griddle settings for filtering columns aren't suitable for tables which ha

[2016-03-14 12:00] garciasa opened #358 "Css selected row"
Hi,
I'm trying to apply a css for a selected row (no multiselect) but I'm not able to do that. With the rowMetaData, I'm able to change the css, but it depends on the value cell, but how can I change the css for selected row??

I would like users could know what row was selected, is it possible?? or I'm doing something wrong??

Regards,

[2016-03-14 17:09] ruchigoyal2005 opened #359 "Horizontal scrolling with first column fixed"
Is there anyway to fix 1st column while doing horizontal scroll? I am looking for this kind of functionality:

https://facebook.github.io/fixed-data-table/example-object-data.html

[2016-03-14 17:14] ryanlanciaux commented on #359
Hey there! I really like this idea and agree that it's something that will be an important feature of a datagrid.

This is on the roadmap for a plugin that will come out after 1.0. I'm going to close this issue for now but it's definitely something on our radar. :+1:

[2016-03-14 17:14] #359 closed

[2016-03-15 13:31] ryanlanciaux commented on #322
This is in 0.4.0 - thanks again @yorchv and sorry about the delay in making it a released version!

[2016-03-15 13:31] #322 closed

[2016-03-15 13:36] felixhagspiel opened #360 "allow setting of a action-column without data"
First, thanks for the awesome plugin!

I want to display a column, where different actions can be taken (delete, edit, etc...). Is it possible to display a column which has no related entry in the JSON-data object? or is the only way to do that by adding a "action"-value inside the column metadata and in all JSON-data-objects?

[2016-03-15 13:47] ryanlanciaux commented on #360
Thanks for the kind words! This is something that we wish we would have had in Griddle from the start.

This functionality is in 1.0 by default but there isn't a great way to do this in the current version off-hand (1.0 is still in active development). I wonder if someone would want to investigate adding a column to the columns array and allowing it to render as a custom component even if there is

[2016-03-15 15:53] felixhagspiel commented on #360
Yes, sounds good! Then I will wait for 1.0.  Another approach would be to add an attribute `customColumn` to `columMetadata`, where I can pass the components for the header & the rows. It would force the column to always render & the attribute  `customRowComponent` receives the row-data as props.

Sth. like this:

        var columnMeta = [
           ...
            {
                "columnName"

[2016-03-15 16:17] ryanlanciaux commented on #86
This is in 0.4.0 and will be making its way to griddle-core (for the 1.0 stuff) very soon as well. See http://griddlegriddle.github.io/Griddle/customization.html#custom-columns for more info on how to use.

[2016-03-15 16:21] felixhagspiel commented on #360
If I would go with the 1.0.0-alpha.29 - how would I create `RowDefinition` and  `ColumnDefinition ` components?

[2016-03-15 16:25] ryanlanciaux commented on #360
Right now the path for that is by

1. `npm install --save griddle-render`
1. `import { DefaultModules } from 'griddle-render';`
1. `const { RowDefinition, ColumnDefinition } = DefaultModules`

We are going to make it so that the main Griddle library that most people interact with will have those components as an export.

[2016-03-15 19:35] Sburke0708 commented on #232
I am still having this issue.. getDOMNode is deprecated.. please use ReactDOM.findDOMNode().

[2016-03-16 08:49] amrut-bawane commented on #324
Facing a similar issue. Did you find anything to resolve this?

[2016-03-16 23:21] luisrudge commented on #347
Yeah.. I too was bitten by this :|

[2016-03-17 00:51] ryanlanciaux commented on #347
It sounds like a good fix. If someone wants to create a PR that would be fantastic! :+1:

[2016-03-17 03:06] ruchigoyal2005 commented on #225
@prycejs @eriknyk : I do see locked:true property for columns. Does it lock the column while scrolling?

[2016-03-17 07:58] ADanilychevJr commented on #250
@ragebiswas Could you elaborate more on how you did this? My Custom Components are not sorting correctly, instead they sort on another column when the header is clicked, for some reason.

[2016-03-17 10:33] orangecoding commented on #121
:+1:

[2016-03-17 13:23] ruchigoyal2005 opened #361 "Griddle locked property"
What is locaked=true does if I pass it in columnMetaData ?

[2016-03-17 13:25] #361 closed

[2016-03-17 19:39] adamgruber commented on #248
:+1:

[2016-03-17 19:56] ryanlanciaux commented on #248
This is on the roadmap for 1.0 (or very shortly there after) :+1:

[2016-03-18 01:34] hodavidhara opened #362 "underscore still used even though no longer listed as peer dependency"
I just tried grabbing the latest release (0.4.0) and removed our dependency on underscore, but ran into some errors in our tests because gridTable.jsx and gridTitle.jsx still require underscore.

[2016-03-18 04:13] ryanlanciaux commented on #362
Agh, sorry! We've patched this as 0.4.1 -- Please let us know if you encounter any other trouble.

[2016-03-18 04:13] #362 closed

[2016-03-18 05:24] ragebiswas commented on #250
@ADanilychevJr Suppose you want to sort on column foo, but wish to modify the logic to something other than the default alphanumeric sort offered by griddle. What you have to do is:
1. use a custom renderer that shows the data that you want
2. map each value of your column to a "sortable" string/number.

For example, if you want to sort by a field called status, where the values should be sorted a

[2016-03-18 07:45] thangaduraicse opened #363 "Select all checkbox not working."
Cannot read property '_updateSelectedRowIds' of undefined.

`<Griddle results={fakeData} columnMetadata={columnMeta} rowMetadata={rowMeta} tableClassName="responsive-table" useGriddleStyles={false} resultsPerPage="10" isMultipleSelection={true} uniqueIdentifier="id" />`

If i click select all, It  'll always through the same error.

[2016-03-18 14:51] felixhagspiel commented on #360
Unfortunately I am using typescript, which throws errors because of a missing type-definition file. I tried to write a basic one myself but failed greatly :)

[code]

 I think I just have to wait. Thanks anyway!

[2016-03-18 14:56] ryanlanciaux commented on #360
I would love to get type-definitions around the new stuff (probably would want to wait on that a little bit until we start calling it a beta and the individual parts are a bit more stable). That seems like it would be pretty helpful.

I know almost nothing about TypeScript though so I may have to ping some others when we get to that point :)

[2016-03-18 16:58] hodavidhara commented on #362
Thanks for the quick turnaround!

[2016-03-18 18:13] aditigoel23 commented on #248
Awesome! thanks!

[2016-03-18 22:21] cnshenj opened #364 "Build/Griddle.js is not valid JavaScript file"
It contains diff markers, for example, line 85 - 104:
[code]

I also tried to build it from source, but gruntfile.js is not in NPM module (version 0.4.1)

[2016-03-19 05:11] ryanlanciaux commented on #364
This should be all cleared up now. Please let us know if you encounter any additional problems :+1:

[2016-03-19 05:11] #364 closed

[2016-03-19 11:39] thangaduraicse commented on #363
https://github.com/GriddleGriddle/Griddle/commit/0593c92fef66121d0a8e17df983b502bcbfaa308

[2016-03-19 11:39] #363 closed

[2016-03-19 12:36] felixhagspiel commented on #360
alright, I got it to work by just putting 'declare module "griddle-render" {}' inside my created `griddle.d.ts` file. Typescript shows error on the console, but it works! I can create a custom component now.
Thanks!

[2016-03-19 12:36] #360 closed

[2016-03-19 14:07] ryanlanciaux commented on #360
Oh awesome. Please let me know if there's anything we can do to make this process nicer :) Eventually I would really like to get to the place where there are typescript definitions (but I need to research more)

I did notice that there are some for current version of Griddle. https://github.com/hodavidhara/griddle-react-typings

[2016-03-19 14:11] felixhagspiel commented on #360
Is there already any documentation for the alpha? I struggle atm with defining settings like `tableClassNames`, as they seem to get ignored (or are they just not implemented yet?)

[2016-03-19 14:37] felixhagspiel commented on #360
Okay, I looked up the node-module and figured it out :)

[2016-03-19 14:55] ryanlanciaux commented on #360
Oh cool. We do have some documentation available http://griddlegriddle.github.io/Griddle/next/ -- the big thing we are changing is we have the concept of `helpers`. They are getting switched to Selectors in a WIP PR.

[2016-03-19 14:58] felixhagspiel commented on #360
awesome! exactly what I was looking for. Thanks a lot!

[2016-03-22 12:34] prayerslayer commented on #283
Same problem here. External wrapper component for custom data fetching logic. `setPageSize` correctly updates the page size, but the select box just stays the same at its initial value.

[2016-03-22 12:54] ryanlanciaux commented on #283
Ahh sorry you're encountering this -- sounds like a bug. @morinted I know you mentioned this awhile ago but a PR would be fantastic.

If not available I'll try to get to it but also working on getting 1.0 a bit more solid.

[2016-03-23 20:15] gregvenech commented on #171
I'm having the same issue...

@astrism's css did help. The issue seems to be caused by updating the existing rows instead of adding rows? Is there any way to turn this off?

I'm on version 0.4.1 installed via `npm`. (thanks for the lib btw it's great)

[2016-03-23 23:22] luisrudge commented on #161
@fabrichaky doesn't work because you didn't do what he told you.

[2016-03-24 11:41] yoursdearboy opened #368 "Builds and case-insensitive filesystems"
Please, do something with files:

[code]

On OS X and probably Windows they are pointing to the same file and one overrides another. So, you always have uncommited changes. It isn't a problem on OS X since you can use disk image with case-sensitive file-system, but it is if you use npm to install git repo on case-insensitive fs, because it should first checkout master and then switch to specified

[2016-03-24 17:34] ryanlanciaux commented on #368
Thank you for reporting this -- we need to remove the uppercase one.

[2016-03-28 17:47] stevesuh opened #369 "TD styling is always hardwired if useGriddleStyles is true"
The styling is always inlined if useGriddleStyles is true:
`<td style="margin:0px;padding:5px 5px 5px 5px;height:15px;background-color:#FFF;border-top-color:#DDD;color:#222;" data-reactid=".0.2.0.0.0.1.$grid_row1-container.$0">(470) 809-6581</td>`

This means that even if you set the tableClassName that <td> elements are always hardwired by the code.
`<table class="griddle-customized table table-b

[2016-03-29 09:50] sharontomer opened #370 "Disabling auto-sorting of columns"
Hey,

I am using custom input components inside my grid and every time i change a value in my sorted column it re-sorts the grid.
Is there a way to disable this automatic-sorting feature and make it so that the column will be resorted only upon clicking on the sorting button? I'd love to see this feature in future versions.

Thank you.

[2016-03-29 10:21] #370 closed

[2016-03-29 10:24] sharontomer commented on #370
Just figured out this happens because I use setState without disabling re-rendering on every onBlur event... my bad. If anyone faces similar problem, shouldComponentUpdate() should help you prevent the re-rendering that causes the grid to re-sort itself.

[2016-03-30 09:08] atapatel opened #371 "Question: Submit Button based Filter Grid"
Hi ,
i wants to customize the Filter Component by adding extra filter inputs, how can i achieve it?

[2016-03-31 13:21] orangecoding commented on #324
No. obviously the creators of Griddle don't care about this..

[2016-03-31 13:23] orangecoding opened #372 "Griddle shows children column when using subgrids"
Normally I would expect the column not to be shown.

https://jsfiddle.net/zeeskhanonline/whqctz3x/

[2016-03-31 14:08] emombay commented on #82
Any way we could get an update of the bower package? It's currently pointing to v0.2.15

[2016-03-31 15:43] ryanlanciaux commented on #324
Sorry that you're encountering a bug in Griddle and that we've been a bit delayed in getting to this. We are spending a lot of our free-time working on 1.0 which takes care of this issue.

In the meantime, if this is something that's really tripping you up, we would love a PR that resolves. :+1:

[2016-03-31 16:08] emombay commented on #82
Not sure that worked... this is what I get after clearing bower cache:
[code]
I do have the latest bower version.

[2016-03-31 16:16] hagabaka commented on #82
@ryanlanciaux needs to add the v0.4.1 git tag, using the commands I included in #373. I can't do that in a pull request.

[2016-04-01 10:07] omaks opened #374 "Griddle renders wrong when "displayName" is not unique."

[2016-04-01 10:10] omaks commented on #374
What should I do when I need 2 different columns("columnName" is different) but with same title("displayName" is the same)?

Now one column title doesn't appear.

[2016-04-01 15:01] BesatZardosht opened #375 "How is row selection?"
I need to control onRowSelection, But it the documentation it is not clear how.
I would appreciate any help

[2016-04-04 12:51] ThePainnn commented on #159
+1 any updates? Or is there a way to do it that I don't know?

[2016-04-04 17:33] michaelhartmayer commented on #257
Has there been any new development on this?

[2016-04-04 19:39] ThePainnn commented on #141
![image](https://cloud.githubusercontent.com/assets/12285830/14260807/47b7dbae-fa7b-11e5-9977-b5be98d8b5a4.png)

Seems like there are 2 <table> generated is you put useFixedHeader to true. Which cause the miss alignement, since on of them has no data just the header.

Are there any progress on this?

[2016-04-05 13:56] ljack commented on #358
I had similar problems and I had to  useGriddleStyles={false} in order for my CSS to actually work.

[2016-04-05 14:27] karthikiyengar commented on #352
I think I am having the same issue on 4.0. Could you please confirm if the pull request was merged?

[2016-04-05 14:51] stevesuh opened #376 "Option to hide rows per page setting"
In my app, I'm actually managing all the paging outside of Griddle but I still want to be use the settings for enabling/disabling columns but hide the rows per setting.

[2016-04-05 23:27] jump23 commented on #332
Any progress on this?

[2016-04-06 04:32] ADanilychevJr commented on #250
@ragebiswas Thanks so much! That was exactly the solution I was looking for. I didn't realize that columnName was what the table sorted on for custom Components (thought it was the plaintext in your custom render)

[2016-04-06 06:28] rajatppn commented on #352
https://github.com/GriddleGriddle/Griddle/pull/353 This is the pull request. It hasn't been merged yet.

[2016-04-07 08:38] karthikiyengar commented on #153
Know it's a bit late, but thanks for the suggestion @mikestopcontinues. Works for me.

[2016-04-07 21:01] crazyUI opened #377 "Row grouping based on column value"
Hi

Does Griddle currently support grouping of rows based on a column value...

Thank you

[2016-04-08 08:38] orangecoding opened #378 "Support React 15"
Griddle does not support React 15 as npm install fails.

see```Peer griddle-react@0.4.1 wants react@^0.14.3```

[2016-04-08 14:48] Dem0n3D commented on #346
This is a special case of #374.

[2016-04-08 15:29] Dem0n3D commented on #290
This is "natural sort" problem, take a look to my PR.

[2016-04-08 15:30] Dem0n3D commented on #116
This is "natural sort" problem, take a look to my PR #382.

[2016-04-08 17:22] Dem0n3D opened #383 "React 15 - a numeric string value for CSS property"
React 15 shows 4 warnings:

- Warning: a `td` tag (owner: `GridTable`) was passed a numeric string value for CSS property `padding` (value: `0`) which will be treated as a unitless number in a future version of React.
- Warning: a `td` tag (owner: `GridTable`) was passed a numeric string value for CSS property `border` (value: `0`) which will be treated as a unitless number in a future version of

[2016-04-08 23:37] Surreal9 commented on #106
Is this still an issue? Is GriddleWithCallback the only way to use infinite scroll with external data? Does this mean sorting/filtering with infinite scroll is broken?

[2016-04-09 00:36] killerswan commented on #106
Yeah, go look at the example.

[2016-04-11 16:14] gidili commented on #114
@nlien thanks this helped! 👍

[2016-04-11 16:28] oskareke commented on #114
@nlien Helped me too, thanks! :+1:

[2016-04-11 17:16] ruchigoyal2005 commented on #359
@ryanlanciaux : Is there any timeline for this issue? Are you guys planning to do it near future or is it very far away right now?

[2016-04-11 17:18] ryanlanciaux commented on #359
I don't have a definitive timeline BUT I feel like we are pretty close. Probably a month or two out, though..

Someone could make this for the 0.x version but I feel like it would be a lot of work for something that will be a lot easier once 1.0 arrives.

[2016-04-11 17:25] ruchigoyal2005 commented on #248
@ryanlanciaux: Hi- is there any timeline for this feature? and when is the release date for 1.0? thanks !

[2016-04-11 20:05] ruchigoyal2005 opened #385 "Custom Scrolling"
Is it possible to horizontal scroll the griddle table on click of arrow buttons? I am going to have 2 button in the header (possibly prev and next) and when I click on those I want to scroll the table. I tried to implement it with `order` prop in columnMetaData and updating this order when click on prev/next. But somehow griddle doesn't update dynamically. Is there any workaround for this?

[2016-04-13 03:28] #228 closed

[2016-04-13 03:41] #383 closed

[2016-04-13 04:16] ryanlanciaux commented on #378
Thanks for bringing this up!

https://github.com/GriddleGriddle/Griddle/pull/386 - Going to let others double check this but hope to have this version merged and on npm in the next day or two!

[2016-04-14 09:25] #374 closed

[2016-04-14 19:35] orangecoding commented on #378
what's the status here?

[2016-04-14 20:17] ryanlanciaux commented on #378
Just waiting on another review on the PR. If you would like to pull down the branch from the PR and try it out a little as an additional check, that would be great. :+1:

[2016-04-15 12:54] atapatel commented on #213
i am also facing this issue.

[2016-04-15 21:46] byteme980 commented on #220
+1

[2016-04-15 21:47] byteme980 commented on #220
+1

[2016-04-16 15:12] morinted commented on #283
Yeah,I built my own component and handle it separately, too.

[2016-04-17 06:57] DeimonDB commented on #338
Hi @ryanlanciaux @DanRoeSparks

How's the progress of this?
May I take a stab on this? But I never do open source contribution, so I will need additional help on how things work.

[2016-04-17 07:52] DeimonDB commented on #338
Hi @ryanlanciaux

I want to confirm, is this what I am supposed to do?
- Fork the griddle project
- Branch the master
- Commit changes to the new branch
- Submit pull request

[2016-04-17 07:58] matdehaast commented on #338
I could be wrong but I would not fork the project. Just pull master and branch off that locally. Then you push that branch back to github and then submit a pull request. Please make sure you understand the coding and styling conventions.

[2016-04-17 09:24] DeimonDB commented on #338
Thanks @matdehaast. But for assurance, I think I'll wait for @ryanlanciaux's reply until tomorrow. If there's still no reply, then I'll start working on it with my approach.

[2016-04-17 16:02] ryanlanciaux commented on #338
@DeimonDB : Hi there -- thanks for looking to take this on. I generally take the steps you described:

1. Fork the project and clone my fork of the repo
2. Create a branch `git checkout -b fixThisThing`
3. Make my changes across a number of commits.
4. Push to my remote `git push {remoteName} fixThisThing`
5. Submit the PR through GitHub's UI

Please let me know if you have any questions :+1:

[2016-04-18 12:47] hwillson opened #388 "Version 0.5.0 `npm install` issue with missing `modules` directory"
Hi guys - thanks for pushing the 0.5.0 changes up! One thing I just noticed - `package.json` has the following:
[code]
It looks like the modules directory and contents don't exist in `node_modules/griddle-react` after a fresh `npm install`. I can create them by triggering a build myself, but they aren't included by default. Since `modules/griddle.jsx.js` is listed as the `package.json` module ID,

[2016-04-18 13:30] ivag opened #389 "Edit grid cells"
Is it possible to enable editing of the grid cells?

[2016-04-18 14:19] ryanlanciaux commented on #388
Hey @hwillson! Thanks for posting this and so sorry you encountering any issues with this! That would not be intentional and I am a little confused as to why that modules directory didn't make it (I will have to look through our build process and make sure nothing is missing).

0.5.1 is available and  seems to include the modules directory upon clearing griddle-react from npm cache and fresh insta

[2016-04-18 14:24] orangecoding opened #390 "Column resize"
Isn't it possible to resize the columns?

[2016-04-18 14:44] hwillson commented on #388
Awesome @ryanlanciaux - 0.5.1 did the trick (`modules` directory is showing up properly). Thanks!

[2016-04-18 14:44] #388 closed

[2016-04-18 14:46] ryanlanciaux commented on #388
Awesome - glad that took care of it :+1:

[2016-04-18 14:56] barnaby commented on #257
+1

[2016-04-18 17:09] biclon commented on #358
I had a similar issue as well. There were a couple things that I had to do. 1) I had to use flux and set up an action that is used when a user selects a row. 2) I had to add a property to my array objects that said whether or not each row was selected. I used a bool named isSelected and added that to my list of objects. 3) I had to create a custom component for the rowMetaData that checks the valu

[2016-04-18 20:54] ryanlanciaux commented on #378
This should be all set as of griddle-react@0.5.1 -- Please follow-up if you encounter any issues with React 15.

[2016-04-18 20:54] #378 closed

[2016-04-19 02:24] DeimonDB commented on #338
Thanks, @ryanlanciaux, I'll start working on it.

[2016-04-20 11:52] kay-is commented on #161
@fabrichaky This worked for me. Needs a little pimping for the sort arrows.

    const CenteredHeader = ({displayName}) =>
      <div style={{textAlign: 'center'}}>{displayName}</div>
    ...
    customHeaderComponent: CenteredHeader

[2016-04-20 13:10] jonifen opened #391 "Additional columns in Griddle 0.5.1 - data below not showing"
I don't know if this was originally an unintended piece of functionality, or if it's broken now, but adding extra columns to an instance of Griddle no longer works in the current new version (0.5.1).
I get a JSON response from an API which contains 5 fields, all of which are set to be displayed in the grid. However, I also need an extra column to be shown to include some other information, so I ad

[2016-04-20 13:27] jbuck79 commented on #369
Yeah, I was just dealing with this yesterday. You can throw an !important on your css styles and they'll override. But I've always been taught that !important was a hack that should be avoided. But as long as the grid is the only thing using that css, it should be okay.

[2016-04-21 08:57] orangecoding commented on #389
+1

[2016-04-21 16:10] DanRoeSparks commented on #338
Thanks guys, sorry - a job search is taking up my time right now. Looking forward to seeing what comes out of this, and I'll make it up by contributing elsewhere!

[2016-04-21 18:17] glifchits commented on #391
I'm also running into this. After upgrading to 0.5.1, a column is not rendering. Where there were 4 `<th>`s and 4 `<td>`s in each row before, now there are just 3 `<td>`s.

[2016-04-21 18:48] ryanlanciaux commented on #391
Thank you for reporting this issue. I thought I understood what was going on but I think it may require slightly more digging to figure this out. Would it be possible for someone to make a rudimentary version of this on jsfiddle/codepen/jsbin etc?

@glifchits I want to make sure I understand this correctly -- in your table, you're using custom components with backing data for each column or do thr

[2016-04-21 19:07] glifchits commented on #391
@ryanlanciaux that's correct, the `results` prop looks like
[code]
and my columns are `[ 'buttons', 'name', 'size', 'active' ]`. Buttons is not rendering. Each of these columns is rendered with a custom component.

[2016-04-21 19:14] glifchits commented on #389
You can achieve this with a combination of [RIEK](https://github.com/kaivi/riek) and customComponent in column metadata

[2016-04-21 20:39] ryanlanciaux commented on #389
Very cool - when we get to the point where we are making the plugin for editable rows we may have to use this library.

[2016-04-22 07:50] jonifen commented on #391
@ryanlanciaux I've created a jsbin here: [http://jsbin.com/buyaduqeji/1/edit?html,js,output](http://jsbin.com/buyaduqeji/1/edit?html,js,output)

[2016-04-22 12:46] ryanlanciaux commented on #391
Thank you -- I'll try to get this resolved and released this weekend! Sorry about any problems that is causing.

[2016-04-22 22:41] flgarrid commented on #352
Any idea when this is planned to be merged?

[2016-04-22 23:16] #352 closed

[2016-04-26 14:30] daveashworth opened #393 "Griddle seems to ignore the 'order' property on columnMetadata"
When upgrading to 0.5.1 from 0.3 (in order to use React 15.0.1), when I pass in an array of `columnMetadata`, the `order` property is ignored. Columns appear to be sorted in alphabetical order now regardless of the order specified in the metadata array.

Here is a simple example:

[code]

which results in the following table displayed:

<img width="1045" alt="screen shot 2016-04-26 at 9 29 04 am"

[2016-04-26 14:32] firen opened #394 "Action buttons in separate column"
Hi,
My data json looks like that:

[code]

And my metadata is:

[code]

When I try to render Griddle I get empty 'actions' column. It looks like Griddle ignores column rendering when no json data is provided. I have moved LinkComponent to 'comment' column and it renders correctly.

Can you please confirm if that is expected behaviour? If yes how can I add action buttons like 'edit' or 'delete' nex

[2016-04-27 16:52] annyhe commented on #391
I am also getting the same issue: data in the custom column is not rendered. A fix would be appreciated.

[2016-04-28 02:04] revokin commented on #220
Same here.  Using react dev tools I can see the <Griddle> 'results' prop updates but <GridTable> 'data' prop is not updating. I'm using Meteor 1.3 and React 15

[2016-04-28 06:20] ankushtiwari-atyantik opened #395 "Displaying the range of items displayed along with total total number of items."
At present the custom pagination returns

maxPage={this.props.maxPage} nextText={this.props.nextText} previousText={this.props.previousText} currentPage={this.props.currentPage} setPage={this.props.setPage} previous={this.props.previous} next={this.props.next}

This is fine for for the normal pagination but it does not allow us to display range and the total items. I would like to have another ele

[2016-04-28 13:42] ryanlanciaux commented on #395
We are making this component a lot more customizable in 1.0. That sounds like a perfect use-case.

[2016-04-28 14:50] atapatel commented on #395
@ryanlanciaux  Well we are eagerly waiting for new release.

[2016-04-28 19:18] Martynas-P opened #396 "Controlling column sorting programmatically"
Is there an API (e.g. through props) or a way to programmatically to change which columns are being sorted in the table? Thanks

[2016-04-28 23:04] renier commented on #163
@shanedosch Was this fixed in HEAD or is it waiting for a PR?

[2016-04-28 23:07] shanedosch commented on #163
It was fixed in HEAD.

On Thu, Apr 28, 2016 at 4:04 PM, Renier Morales <notifications@github.com>
wrote:

[2016-04-28 23:18] renier commented on #163
Ok, this issue can be closed then.

[2016-04-29 11:22] iyel opened #397 "Is there any way to enable multiple sorting?"
Can I have multiple sorting (for e.g. state and county), so that next table

| State &#65516; | County |
| --- | --- |
| Alabama | Montgomery |
| Alabama | Monroeville |
| Alabama | Mobile |

will become this:

| State &#65516; | County |
| --- | --- |
| Alabama | Mobile |
| Alabama | Monroeville |
| Alabama | Montgomery |

@Dem0n3D any thoughts?

[2016-04-29 14:52] adamgruber opened #398 "Rows are not rendering after upgrading from 0.3.1 to 0.5"
I think the switch from underscore to lodash may have caused some issues. For example, in `gridRow.jsx` I noticed in the render method [line 81](https://github.com/GriddleGriddle/Griddle/blob/master/scripts/gridRow.jsx#L81) `_.object` was changed to `fromPairs`. These methods do not work the same and so it causes issues like the one below:

[code]

I think [zipObject](https://lodash.com/docs#zipOb

[2016-04-29 16:02] ryanlanciaux commented on #398
Thanks for reporting this -- any way to get a PR to fix :smile: :+1:

[2016-04-29 16:27] adamgruber commented on #398
Is `columns` always expected to be a flat array or are there times when it is something else?

[2016-04-29 16:39] atapatel commented on #398
@adamgruber i don't think so zipObject will work in this situations.
@ryanlanciaux hey i try to fix those nested data display issue. can u please have a look. https://github.com/GriddleGriddle/Griddle/pull/392

[2016-04-29 16:39] atapatel commented on #398
@ryanlanciaux sorry to bother you :(

[2016-04-29 17:18] adamgruber commented on #398
@atapatel Can you give some more details why you think it will not work? Maybe an example?

[2016-04-29 21:44] Dem0n3D commented on #397
I will take a look tomorrow, but it seems to be pretty hard to implement for now. Look at #190.

[2016-04-29 23:19] snario opened #399 "Retrieve formatted result as array"
Hey there, I use Griddle as a data formatter as much as a table.

I might put in as data something like

[code]

and using a `customComponent` (which references other things) I will translate that into:

| Name (aka id0) | Pretty Name for id1 | Pretty Name for id2 |
| --- | --- | --- |
| John | $34.00 | 32.2K |
| Terry | $23.21 | 3.2K |

I would be very nice if there was a method that returned thi

[2016-04-30 00:26] ryanlanciaux commented on #399
That would be pretty cool to support excel exporting like that. I will think on this for a little bit - could this be something where you specify a callback to generate this? The reason I ask is 1.0 is going to have plugins and I'm trying to think of the best way that this could be designed as a plugin :)

[2016-04-30 00:28] ryanlanciaux commented on #397
We are planning on making this a lot easier in 1.0. See [here](https://github.com/GriddleGriddle/griddle-core/blob/master/js/initialStates/local-state.js#L7) (that's not an implementation but just some more of the groundwork)

[2016-04-30 07:47] iyel commented on #397
Maybe there is any way to provide onSort function callback? So I will be able to write my own sort function?

[2016-04-30 07:55] Dem0n3D commented on #397
The main problem is in the state control, not in the sort function.

[2016-04-30 14:06] Dem0n3D commented on #397
Good news, everyone: nested sorting is almost done! :)

[2016-04-30 14:17] ryanlanciaux commented on #397
Whoa awesome!

[2016-04-30 15:08] Dem0n3D commented on #397
This is a working draft: https://github.com/Dem0n3D/Griddle/tree/iss-397
You can try it right on docs/html/index.html
![64](https://cloud.githubusercontent.com/assets/393279/14936817/2130d73a-0f0f-11e6-8103-9269425df37c.png)
![65](https://cloud.githubusercontent.com/assets/393279/14936818/2443a4f2-0f0f-11e6-8aad-6a1f4284020b.png)

[2016-04-30 20:41] snario commented on #352
For anyone who wants this and won't upgrade, you can force `columnMetadata` to refresh by causing the component to re-mount when a specific condition happens. For example

[code]

in my case, I needed to add a new column, so my key is `columnMetadata.length`.

[2016-05-01 04:35] mihirsoni commented on #352
@snario You can do that , but in large table it will be expensive to do I guess.

[2016-05-01 15:17] snario commented on #352
@mihirsoni yeah it will be, but before this update it is the only way to get it working as expected.

[2016-05-02 06:57] kaushik143 opened #400 "Custom scroll component in infinite scrolling."
Hey, recently I have been exploring griddle and I must say it support every fetaure for table, but I am not able to find the way by which I can inject custom scroll component into it.

[2016-05-02 08:55] ankushtiwari-atyantik commented on #395
@ryanlanciaux Thanks. We will be waiting for 1.0

[2016-05-02 18:49] austinfox opened #401 "Filtered results are not updated when griddle results are updated."
Context: When a query is used with a custom griddle filter to filter griddle results
What: The griddle results list is updated (a result is removed and a modified copy is inserted in the same location)
Expected result: The filtered results are recalculated and displayed
Actual result: The filtered list is not updated until the query is modified

[2016-05-03 04:49] atapatel commented on #398
@adamgruber Well instead of zipObject we can use transform one.

see this snippet here. http://codepen.io/ajaypatel/pen/eZQLjv

[2016-05-03 08:30] ayozebarrera commented on #159
I need this feature aswell

[2016-05-03 16:00] iyel opened #402 "Can I programmatically show or hide columns?"
I know I can turn on settings. But can I do same from code?

[2016-05-03 16:20] hughlomas commented on #155
In your custom component, just use `<tr onClick={this.handleClick}>{stuff}</tr>`. Doesn't have to be <tr> of course, just an example. Your click handler just needs to call the onRowClick prop.

`
handleClick: function(e){
    this.props.onRowClick( this, e );
  },
`

[2016-05-04 15:58] adamgruber commented on #398
@atapatel From what I can see, `columns` should always be a flat array of strings. So, `zipObject` will work just fine

http://codepen.io/adamgruber/pen/yOGVbX?editors=0012

[2016-05-04 22:32] piush-gupta commented on #35
@ryanlanciaux , hi, i got stuck in a problem where i am passing a function declared in react component , to another custom component.

following is my column meta for 'Batch' component:

var columnMeta = [
{
	"columnName":"id",
	"displayName":"Select",
	"customComponent":BatchID,
	"customComponentProps": {myFunc : this.getExternalData}
}
]

here for column "id" i am using a customComponent "BatchI

[2016-05-04 22:36] piush-gupta opened #404 "passing function as property of a custom component via columnMeta"
@ryanlanciaux  , hi, i got stuck in a problem where i am passing a function declared in react component , to another custom component.

following is my column meta for 'Batch' component:

var columnMeta = [
{
"columnName":"id",
"displayName":"Select",
"customComponent":BatchID,
"customComponentProps": {myFunc : this.getExternalData}
}
]

here for column "id" i am using a customComponent "BatchID"

[2016-05-06 03:16] daveashworth opened #406 "Is it possible to have dynamic columnMetadata?"
Currently, if I have something like this:
[code]
where `columnName` and `columnDisplayName` are passed as `props` to the component, when I pass `columnMeta` to the Griddle component:
[code]
`columnMetadata` is _always_ composed of the _initial_ values of `columnName` and `columnDisplayName`, regardless of props changing.

For example, if the initial state has `columnName` defined as "cats" and `co

[2016-05-06 04:33] daveashworth commented on #406
nevermind, i'm using an older version of griddle where this doesn't work. it looks like the latest code addresses this.

[2016-05-06 04:33] #406 closed

[2016-05-06 10:54] ayozebarrera commented on #104
Hi

I'm having problems aswell... I have infinite scrolling enabled + rowMetadata key but each time I update s tate of my component its requesting the page 0 again and inserting to the grid.

I have 10 rows per page and each row has an index from 1 - 10. So when I update state of my component griddle is inserting again those rows so I have 1,2,3........8,9,10,1,2,3...

So at the moment I don't kno

[2016-05-06 13:06] ayozebarrera commented on #161
@kay-is use a span instead div and you won't have problems with the sort arrows

[2016-05-06 19:23] gidili opened #407 "Changing columnMetadata prop has no effect"
I am on 0.3 and I am not sure if this is by design or not or if it got fixed in later versions, but here's what I am experiencing.

I am generating columnMetadata based on what I need to display, and if I render with a given value for columnMetadata but then add a column in to columnMetadata and trigger a re-render from my parent component passing down the updated prop this has no effect on the gr

[2016-05-06 19:23] gidili commented on #407
Possibly related? https://github.com/GriddleGriddle/Griddle/issues/391

[2016-05-10 09:18] catdevnull commented on #391
I'm also experiencing this issue with 0.5.1! @ryanlanciaux any update on when this might be resolved? It's currently preventing me from updating to React 15 as I'm having to stay with Griddle 0.3.1 which requires React 14!

Cheers!

[2016-05-10 09:32] jonifen commented on #407
I've also encountered this in version 0.3.1.
I was able to work around it by including everything in the columnMetadata, and then change the columns array to toggle the column visibility at runtime.
This may not help if you're changing the customComponent for a column in the metadata or something like that though.

[2016-05-10 10:11] gidili commented on #407
@jonifen thanks - glad to hear it's not just me and thanks for sharing your work-around :)

Yes, that's exactly what I am doing, I am building a generic grid component on top of griddle that my app is going to reuse in a variety of scenarios so as a requirement I need to be able to change columns completely, including custom components.

I am basically unmounting and re-mounting griddle when that

[2016-05-10 17:09] tony-kerz opened #409 "build/Griddle.js shows modified immediately after clone...?"
so i was trying to fork/clone/change/submit-pr and i started by forking this repo,
then i cloned my fork locally, but immediately after the clone was finished,
git is telling me that build/Griddle.js has been modified and it doesn't look a
typical line-endings issue, these are "real" changes:

<img width="501" alt="screen shot 2016-05-10 at 1 04 16 pm" src="https://cloud.githubusercontent.com/asse

[2016-05-10 17:18] tony-kerz commented on #409
ok, a little more info, it looks like it has something to do with case-sensitivity and `build/Griddle.js` and `build/griddle.js` files,
not sure what the fix is yet (i'm sure some obscure git config settings), but the symptoms are perplexing for sure ;)

[2016-05-10 18:57] daveashworth commented on #393
There is definitely some conflict between the `lodash` used internally by Griddle and the `lodash` we're using in our project. The function passed to `sortBy` in the `orderColumns` function in the `columnProperties.js` file _never gets called_, so the default sort order is returned instead. I'm working to re-produce the problem in a simplified project w/o including our proprietary company code.

O

[2016-05-10 21:41] sehcheese commented on #115
Any progress here? This issue still exists for me.

[2016-05-11 12:58] ryanlanciaux commented on #409
Yea :| this is something we need to fix. It's really annoying and I think we may have messed up something in our build config to cause this.

[2016-05-11 14:22] lotar commented on #213
@hiitsu @atapatel or anyone else facing same issue until fix is released here's a dirty workaround:

Given data in format:
[code]

[code]

you'll render `here`...

P.S. shown above is principle, I haven't tested it ;)

[2016-05-12 02:17] smfleung commented on #401
I'm seeing this even with the default griddle filter. Would very much like to have a fix for this.

[2016-05-12 11:29] iyel commented on #409
I've fixed this in my PR https://github.com/GriddleGriddle/Griddle/pull/403

[2016-05-13 10:23] ayozebarrera opened #413 "NoData message"
Hi, nice job btw

Trying to improve your component..., would be great render NoData cell with colspan prop equal as columns!

[2016-05-13 22:17] aaronucsd opened #414 "Expand the row"
Is there a way to expand the row on click of that row? I need something like subgrid, but it will be just showing a whole row expanded not sub items like subgrid. Kind of like showing a summary view once a user click on a row or 'read more' view. Like i want to do a Custom Row Format but for the children rows only maybe.

I need to be able to expand like this demo:
http://react-component.github.io

[2016-05-15 20:58] iyel commented on #409
Fixed in master

[2016-05-15 20:58] #409 closed

[2016-05-16 05:37] rahul1059 opened #416 "Default sorting icons"
It there any way to display default sorting icons to hint user about sorting availability. I am expecting something like this as default
![image](https://cloud.githubusercontent.com/assets/5712189/15281174/4e420a3e-1b56-11e6-8cf0-e19de343cd56.png)
and on sort display
![image](https://cloud.githubusercontent.com/assets/5712189/15281184/62fcdd0a-1b56-11e6-8cfa-d1d1fda368ba.png)

[2016-05-16 08:47] vyadav12 commented on #282
Any example for horizontal scroll ?

[2016-05-17 07:39] chenrozenes commented on #192
+1

[2016-05-17 16:35] darklilium opened #419 "Grid title"
I want to know if theres a way to set up the grid title before the filter, cuz i only did it with a css function.
Like [this](http://i1090.photobucket.com/albums/i365/helenkreuz/issue_griddlegrid_zpsskkyyjam.png)

[2016-05-17 17:03] daveashworth commented on #393
Was an issue with babel-eslint 6.0.2. Upgrading to 6.0.4 solved this issue...

[2016-05-17 17:03] #393 closed

[2016-05-17 17:10] daveashworth commented on #407
is #406 what you're talking about? It looks like this _is_ fixed in later versions, but if you can't upgrade for some reason, one workaround is adding a `key={somekey}` property to the Griddle component that changes when you update your `columnMetadata`. This will force Griddle to reload the `columnMetadata` and re-render correctly. Not ideal, but it works...

[2016-05-17 17:35] gidili commented on #407
@daveashworth yes that's exactly it. I will try to upgrade to 0.5 and hope there's not too many breaking changes.

Just in case, do you mean set `key={somekey}` when rendering and then reach into the DOM and manually change the value of that attribute when my column metadata gets updated to force a full re-render?

Thanks for the tip!

[2016-05-17 18:29] daveashworth commented on #407
Well, for example I had something like this:
[code]
where that `outerGroupBy` was being passed into the component as a prop. That worked in my case just due to the data we were grouping by, but any key that changes whenever you need the Griddle component to re-render should work. Make sense? But yeah, hopefully you can just upgrade to `0.5.1` and be good!

[2016-05-18 23:07] rfviolato commented on #402
I don't think so, but it would be nice if this was possible.

Another thing that would be nice is keep track of columns add/remove so i could save the user preferences. Every re-render makes the Griddle component to go back to its initial column setting.

[2016-05-19 04:41] lal2k3 opened #420 "Column metadata won't update with new props"
Got it to work by adding the following code to componentWillReceiveProps mehod:
        if (nextProps.columnMetadata !== this.columnSettings.columnMetadata) {
            this.columnSettings.columnMetadata = nextProps.columnMetadata;
        }

[2016-05-19 11:14] mohak1990 commented on #344
Thanks Guria..

[2016-05-19 14:21] modomodo commented on #245
@bazo What was the solution that you figured out? I'm also facing the same problem

[2016-05-20 12:17] modomodo commented on #391
+1

[2016-05-20 13:16] modomodo commented on #407
This problem stills persists with Griddle v0.5.1

[2016-05-20 13:23] orangecoding commented on #276
is there any timeline when griddle 1 will come out?

[2016-05-21 08:48] orangecoding commented on #114
this bug is being open over a year now. What about a fix?

[2016-05-21 18:13] ryanlanciaux commented on #114
@orangecoding please feel free to submit a PR and we will get if merged. Thanks

[2016-05-21 18:47] orangecoding commented on #114
@ryanlanciaux
Sorry i thought this project is actively maintained ;)

[2016-05-24 08:04] karthikiyengar commented on #138
Facing this issue as well. The externalLoadingComponent occupies a single td (instead of the entire row).

[2016-05-24 15:21] bommels commented on #401
Need fix for this

[2016-05-24 15:57] bommels commented on #220
+1

[2016-05-24 18:38] yarulan commented on #394
Same thing. I ended up adding dummy field to my data.

[2016-05-24 22:25] darklilium commented on #175
I still dont understand how to implement the selected row css for the row selected by user.
Can u help me on that?

[2016-05-25 16:41] yarulan opened #423 "Griddle empty table when objects in fields"
Why does this

[code]

show an empty table? I have a custom component to render the cell but the table is just empty.

[2016-05-31 08:16] THPubs commented on #110
Hi, I'm facing this same issue. Any idea what's happening?

[2016-05-31 08:45] SachaG commented on #391
Just ran into the same issue, downgrading to 0.3.1 for now.

[2016-05-31 09:41] modomodo commented on #391
@SachaG Let  me know if the downgrade works. I tried downgrading too but to no avail

[2016-05-31 09:56] SachaG commented on #391
Yes, downgrading worked for me.

[2016-06-01 20:20] daveashworth commented on #407
This is fixed in the current codebase: https://github.com/GriddleGriddle/Griddle/blob/master/scripts/griddle.jsx#L368
I was under the assumption that codebase existed in the current release, but it doesn't...
When are the current changes going to be released to npm?

[2016-06-02 06:12] Mohit05niec opened #425 "Html formatted data, is rendered as raw data."
When Json data is html encoded it is rendered as raw data.
eg. if Name if formated as <a href="url">Mohit</a>
then instead of rendering as Link it is rendered as it is

[2016-06-02 06:19] Somrita opened #426 "Do not render Html Data"
var fakeData =  [
  {
    "id": 0,
    "name": "Mayer Leonard",
    "city": "<a href=\"jj\" >Kapowsin</a>",
    "state": "Hawaii",
    "country": "United Kingdom",
    "company": "Ovolo",
    "favoriteNumber": 7
  },
 suppose my data is already formatted like city is linked it is showing as raw data in the grid

[2016-06-02 09:38] #426 closed

[2016-06-06 17:29] ryanlanciaux opened #429 "Help maintain the 0.x version"
Hey all -- I have not been doing the greatest job keeping the current 0.x version in the best shape it could be. Would love if anyone else would be willing to help out merging PRs and getting releases going, etc. I'll still try to help in this but a big part of my focus is on 1.0 right now (as I'm using that on my projects -- its still a bit too early for where I would recommend others to be using

[2016-06-06 19:37] marc314 commented on #420
This fixed an issue I had as well. This fix should probably be rolled in to the main source. Thanks @lal2k3 !

[2016-06-07 08:25] iyel commented on #420
@marc314 RR appreciated

[2016-06-07 08:28] iyel commented on #429
@ryanlanciaux I can keep 0.x up to date. Need access on npm to publish it there I guess

[2016-06-07 09:35] modomodo commented on #395
:+1: This would be a really useful feature

[2016-06-07 10:11] wadahiro commented on #395
@ankushtiwari-atyantik I created [a custom pager component](http://wadahiro.github.io/griddle-react-bootstrap/) for griddle 0.x. It can display like `Display 1 - 5. (Total: 19 / Filtered from 93)`. The trick is [using `ref` attribute on <Griddle> tag](https://github.com/wadahiro/griddle-react-bootstrap/blob/master/src/GriddleBootstrap.tsx#L142). You can save your Griddle instance and handle the pr

[2016-06-07 13:39] ryanlanciaux commented on #429
Cool -- is your npm username the same? Eventually, I'd love to get this to where travis or something else does all the publishing. It's a bit manual atm 👎 but that's an item for a future day, I think :)

[2016-06-07 21:12] daveashworth commented on #429
This is pretty nice for auto publishing and incrementing versions :)
https://github.com/ericclemmons/github-semantic-version

[2016-06-07 21:21] daveashworth commented on #407
Just FYI, after yesterday's commit adding the build... it works to add this to your package.json file and install griddle from github at that commit vs from npm (until a newer version of griddle is published).

`"griddle-react": "https://github.com/GriddleGriddle/Griddle/tarball/07542a565d7f7f4f84ae5a95da5d466f57933292"`

[2016-06-08 01:29] doubledherin commented on #64
I'm confused -- the Properties documentation shows onRowClick, but it seems like it's not actually implemented yet. What's the scoop?

[2016-06-08 09:33] ayozebarrera opened #431 "UglifyJS warnings"
Hi

There are some warnings in your code!

[code]

[2016-06-09 13:48] bellatrix1001 commented on #249
Has anyone been able to come up with a solution for this?

[2016-06-09 17:16] daveashworth commented on #420
It _is_ already fixed in the current source, just not released to npm:

You can install the latest source from github in the meantime until it's published. See the last comment on #407.

[2016-06-11 09:15] andycaramba commented on #429
Please, upload 0.6 version to npm.

[2016-06-12 21:05] utkuturunc commented on #192
+1

Any ideas on solutions/workarounds?

[2016-06-12 22:05] utkuturunc commented on #192
`const rowMetadata = {
  key: 'id'
};`

`        <Griddle
          ...
          rowMetadata={rowMetadata}
          ...
        />`

[2016-06-12 22:12] utkuturunc commented on #107
This happens when a column is set to locked for me.

[2016-06-15 11:15] paulbarr opened #433 "Using infitneScroll and noStyles together"
Hey,
I have a scenario where I want to use Infinite scroll and also apply all my own styles. What is the best way to go about doing this?
(1) Is it to override all the existing styles?
(2) Alternatively I could take a look to see what changes are required to try to get those two working together and possibly submit my work back.
Please comment on the best approach here and how much work you might

[2016-06-15 16:16] paulbarr commented on #390
Did you get an answer back on this? It looks like some related column width issues have been closed but I'm struggling to find how to actually set the column width

[2016-06-15 16:37] paulbarr opened #434 "Difference between 'useExternalData' and GriddleWithCallback"
What is the difference between using external data that is collected via and API and using GriddlewithCallback? I have a scenario where the data is always going to be gather via a series of API calls. These calls will use the paging information along with filtering information.

Which is the better option for me to use, standard griddle with external data and a component that makes the remote call

[2016-06-16 13:04] ryanlanciaux commented on #434
Hi there! Use external allows specifying that you are controlling the Griddle component. GriddleWithCallback is a helper that is a pattern that we were using to wrap up external data. As far as what you should use, that is up to you a bit depending on whether or not the griddle with callback add-on fits your needs.

Please let feel free to ping us if you have any additional questions or would like

[2016-06-16 13:04] #434 closed

[2016-06-16 13:04] ryanlanciaux commented on #429
@iyel Could you please give me your npm username and I'll add you? 👍

[2016-06-16 18:39] karthikiyengar commented on #66
I would love to take a crack at this if this is still relevant (and if it falls within my capabilities :smile:). Please let me know if there is anything I should know before I get started on this.

[2016-06-16 19:24] ryanlanciaux commented on #66
That would be awesome. I _think_ the operation should mostly be in here https://github.com/GriddleGriddle/Griddle/blob/master/scripts/griddle.jsx#L148. I think right before checking the column against the filter string, we would want to make sure that the column is not `filterable={false}`. Please let me know if that helps.

[2016-06-17 10:10] iyel commented on #429
@ryanlanciaux same :)

[2016-06-17 16:10] idris commented on #397
Is this now implemented in the 1.0 alpha?

Any idea when 1.0 will be released or even go to beta?

[2016-06-17 18:21] karthikiyengar commented on #66
Thanks for the pointer, Ryan - certainly was helpful. Please let me know my changes are not adequate.

[2016-06-17 18:46] ryanlanciaux commented on #429
@iyel awesome -- Added you. When doing an npm publish we run `grunt build` before `npm publish`. Again this is a bit more manual than ideal but has worked out.

[2016-06-19 05:55] adobeflex1 opened #437 "Is there a way to show row "detail-view" ?"
I want to get the functionality of, when i click on a row, it should expand and display some detail information (detail view) just below that clicked row.

Is there a way to get that functionality?

[2016-06-20 13:34] ryanlanciaux commented on #437
That sounds like cool functionality and unfortunately, it's not built in to Griddle. In a future version it will be possible to override the table row (this is a bit different than the custom row component) to where this functionality could be added.

I'm closing this for now because it's something that is on the roadmap. Thanks!

[2016-06-20 13:34] #437 closed

[2016-06-20 21:56] wishwasgm opened #438 "Custom settings"
Is there a way to have a custom setting in the settings component (eg: Change language in the table)? If yes, can someone point me to a proper example ? I have added a component outside of the griddle component now. But was trying to bring that inside settings. - Thanks !

[2016-06-21 10:22] paulbarr opened #439 "Infintescroll and external data"
Hey,
I got griddle going with external data using the sample wrapper that you provided.
However when I turn on infinite scroll it immediate goes and asks for all the pages and scrolls down to the very last one.
I have set the rowMetaData to use a key and this seems to add a 'key' column,  but does not resolve my issue.
In your example of infinite scroll and external data you use the GriggleWithCal

[2016-06-21 12:30] paulbarr commented on #106
Hey,
Just to clarify: Is GriddleWithCallback the only way to use infinite scroll with external data?

[2016-06-21 14:55] jgutta commented on #390
I am in the same boat, it doesn't seem to be in any of their documentation. I wish someone would respond to this post....

[2016-06-22 15:43] wizhippo opened #440 "customComponent only rendered if column exists in data"
Defining a calculated column using a custom component does not render if no column is in the row.

For example I have added an "Action"column that has edit/view links.

[code]

  The custom `ActionComponent` does not render if there is no action column in the row data.

[2016-06-23 04:34] andrewmclagan commented on #391
Also experiencing this problem can we have this reopened

[2016-06-23 04:36] andrewmclagan commented on #440
This is a known bug

[2016-06-23 04:43] andrewmclagan commented on #276
YAY!

[2016-06-23 04:53] wizhippo commented on #440
see https://github.com/GriddleGriddle/Griddle/issues/391

[2016-06-23 04:53] #440 closed

[2016-06-23 05:06] estaub opened #441 "GridSettings lost on any Griddle props change"
This may be a duplicate of a couple of other reports of lost settings, but their specifics are quite different.  The symptom I see is that anything that triggers `componentWillReceiveProps` on Griddle causes the column selection from GridSettings to be ignored.

The changes made by GridSettings are ignored in componentWillReceiveProps, which gets the old stale columns from the Griddle props:

[2016-06-23 07:17] andrewmclagan commented on #440
:-)

[2016-06-23 10:55] shraddhacse commented on #269
+1. Settings is a great feature, but need a way to hide/remove Rows per page as I don't need to use Griddle pagination.

[2016-06-23 11:04] mwtorkowski commented on #394
Yeah, same here. It would be cool to be able use children to pass columns definition instead of relying on columnMeta prop. E.g.

    <Griddle ..>
        <GriddleColumn displayName="Foo" columnName="id" customComponent={SomeCustomComp}/>
        <GriddleColumn displayName="Actions">
            Anything I want in here... <Link to={...} />
        </GriddleColumn
    </Griddle>

[2016-06-23 16:00] ryanlanciaux commented on #394
Thanks for the ideas here! In 1.0 we are using ColumnDefinition components to define what columns are available rather than the metadata for this very scenario. Still churning on a couple things in the API (so trying to get that straightened out before officially releasing / pushing to beta) but it's working well on some projects where I'm using it.

The use is similar to what you described.Kind o

[2016-06-23 18:43] bkrall commented on #196
👍

[2016-06-25 09:44] THPubs opened #442 "How about adding an option to download a PDF from the table?"
I just wanted to let users download a printable pdf from the table. Spent a lot of time meddling with different plugins. Finally I made it but it would be really great if `Griddle` have that option built in. Then we can even download the filtered content only!

[2016-06-25 09:53] iyel commented on #442
Great. Waiting for your PR

[2016-06-26 15:26] ryanlanciaux commented on #442
This sounds like it would be a cool option for a [plugin for 1.0](http://griddlegriddle.github.io/Griddle/next/docs/plugins/creatingPlugins/)!

[2016-06-27 09:20] M3lkior commented on #182
Hi, like @CrisLi , is  there a way to render the pagination component outside of table ?

[2016-06-27 10:09] M3lkior opened #443 "Publish 0.6 to NPM"
Hi ,

I need the new customPagerComponentOptions feature presents on 0.6 but this version is not on NPM repository

Is it possible to publish the 0.6 to npm ?

[2016-06-27 12:55] M3lkior commented on #391
Same problem/needs here

[2016-06-27 15:42] M3lkior commented on #439
:+1:

[2016-06-27 15:52] paulbarr commented on #439
From my own investigation on this I came to the following conclusion:
You can use Griddle with infinite scroll if you amend the wrapper to handle it. Basically a very similar implementation to GriddleWithCallback.
I did this because GriddleWithCallback does not work with the version of React i am using

[2016-06-28 03:39] ryanlanciaux commented on #439
@paulbarr Would you be able to add a PR to griddle with callback?

[2016-06-28 10:09] lewis617 opened #444 "Warning: This browser doesn't support the `onScroll` event"
I use the Universal render ,In the server-side,it show the warning:

[code]

In the browser, that's no problem.

why and how to avoid this?

[2016-06-28 10:42] paulbarr commented on #439
Someone else beat me to it
[https://github.com/GriddleGriddle/GriddleWithCallback/issues/8](https://github.com/GriddleGriddle/GriddleWithCallback/issues/8)

[2016-06-29 07:26] orangecoding opened #445 "initialSortAscending doesn't seem to work anymore"
Hey.

Hopefully it is not just me, but it seems the field initialSortAscending doesn't work anymore. It previously took care of the sorting direction. Now it doesn't have any effect anymore. Either I switch it to true or false, it still sorts it asc... This problem appears in Griddle 0.6.0. In 0.5.1 it works correctly.
I've now switched back to v 0.5.1..

[2016-06-29 07:32] orangecoding commented on #443
As it already is present on npm, I vote for closing this issue..

[2016-06-29 08:15] M3lkior commented on #443
Published Yesterday, Thanks :)

[2016-06-29 15:09] ryanlanciaux commented on #445
Thanks for letting us know and sorry about that. We'll look into this.

[2016-06-29 20:26] anaximander commented on #398
Just opened a PR to fix this... I think there was a bit of a communication breakdown between @adamgruber and @atapatel.  When @atapatel said "i don't think so zipObject will work in this situations.", he meant "I don't think so.  zipObject will work in this situation" which appeared to have been interpreted by @adamgruber as "I don't think zipObject will work in this situation".

Let me know if th

[2016-06-30 09:11] M3lkior commented on #443
Strange, v0.6 have missing customPagerComponentOptions feature

customPaginationContainer.jsx.js does not contains customPagerComponentOptions  default props for example.

Any idea ?

[2016-06-30 11:32] mharrisweb opened #447 "Pager not showing"
Pager not showing using version `griddle-react": "^0.3.0,`

`<Griddle results={this.state.contacts}
                                 showFilter={true}
                                 showSettings={false}
                                 resultsPerPage={1}
                                 showPager={true}
                                 useGriddleStyles={false}
                                 co

[2016-06-30 11:49] andrewmclagan opened #448 "Contributing guide 1.x.x"
Would be great to have a contributing guide for 1.x.x.

[2016-06-30 20:23] DmitryAuine commented on #407
@daveashworth Hey! Thx for fixing this bug, but after update to 0.6.0 the triangle that responds on sorting is not showing!
Here is the video: https://monosnap.com/file/URAPMI8G3ARcvQLYlJ38ycCL78GFcO

[2016-06-30 20:34] daveashworth commented on #407
Hi @DmitryAuine, I'm not the author (or a contributor to Griddle) of any of the bug fixes here, just commenting on how you could get your hands on the 0.6.0 version before they released it the other day.

I'd create another issue pointing out the problem you're experiencing. But it looks like this current issue can be closed now since the release of 0.6.0 to npm.

[2016-07-01 01:03] ryanlanciaux commented on #407
Thanks - @daveashworth.

@gidili -- if you get the chance to confirm that this is looking good, we would appreciate getting it closed :+1:

@DmitryAuine Sorry that you're encountering some problems with sorting -- if you could open a new issue with what you're seeing, that would be great!

[2016-07-01 05:33] DmitryAuine opened #449 "Sorting indicator is broken 0.6.0"
After update from 0.5.1 to 0.6.0 the triangle that indicates the sort direction is broken

Here is the video with some sort of e2e test :) https://monosnap.com/file/URAPMI8G3ARcvQLYlJ38ycCL78GFcO

[2016-07-01 14:57] eisenbergrobin commented on #368
+1 - any news on this?

[2016-07-03 14:17] adamgruber commented on #398
@anaximander Thanks for the PR and clarification. Glad this was resolved.

[2016-07-03 19:43] DmitryAuine commented on #449
@ryanlanciaux Sorry for distraction but could you look at it ASAP ? :)

[2016-07-03 21:05] #449 closed

[2016-07-03 21:12] ryanlanciaux commented on #449
Hey there - thanks for reporting this. This _should_ be fixed in 0.6.1 -- Please let me know if you are still seeing this! :+1:

[2016-07-04 05:25] DmitryAuine commented on #449
Thx 👍  But seems that everything still the same :) Do you tested it?

[2016-07-04 12:35] tuliglowicz opened #451 "Expanding all children by default"
Is there a way to start with all children expanded? Thank you!

[2016-07-04 16:11] ryanlanciaux commented on #449
Yes I tested it :) We'll have to figure out what's going on here.

[2016-07-06 21:11] giantyellowrobot opened #452 "Updating `resultsPerPage` prop doesn't update table without external data"
If I create a Griddle component that doesn't use external data, and pass in a value for the `resultsPerPage` prop, the Griddle component renders as expected with the specified number of results per page.  However, if I then update the value of that prop, the number of results per page in the Griddle component doesn't change.  I've tried using `React.cloneElement` to clone the Griddle component eve

[2016-07-07 07:27] pankajJS commented on #452
Hey giantyellowwbot may you show your piece of code. I am stuck at same issue.How you are maintaining the showTable in this ?

[2016-07-07 11:56] mwtorkowski opened #453 "Using external sort is broken in 0.6.1"
In 0.6.1, when using external data and sorting capabilities, the sort ascending / descending component never renders as the checks rely on comparing `that.state.sortSettings.sortDirection` to 'asc' or 'desc'.
Problem is, the sortDirection key is internal value, normally set by griddle when NOT using external sorting. There's no way to set it from the outside, hence sorting component never renders

[2016-07-11 17:42] yarinass commented on #276
What are the chances of getting Griddle 1.0 this year ?

[2016-07-12 09:26] gidili commented on #407
@ryanlanciaux @daveashworth yes - all good for me now! 👍

[2016-07-12 09:26] #407 closed

[2016-07-12 09:53] DmitryAuine commented on #453
Yeap i have the same issue here

[2016-07-12 14:15] ryanlanciaux commented on #453
Sorry your encountering this -- in regard to #449, is this only happening with External sorting?

[2016-07-18 04:56] pankajJS commented on #168
Hey jazayerim ,i am facing the same issue.Did you find any solution for this ??

[2016-07-18 11:57] h0x91b commented on #391
I fount a workaround, need manually add on first element of `results` a missing field...

In my case columnName "actions" not exists in `results`, so

`this.state.users[0].actions = 'something';`

`<Griddle
	results={this.state.users}
	columnMetadata={columnMeta}
	showFilter={true}
	showSettings={true}
	useFixedHeader={true}
	columns={columns}
	onRowClick={this.onRowClick.bind(this)}
/>`

[2016-07-18 12:47] kutagh commented on #404
@piush-gupta Why not create a higher order component, such that you can do:
{
   customComponent: withCustomProps(MyComponentThatNeedsMyFunc, { myFunc: this.getExternalData })
}

[2016-07-20 13:54] jonifen commented on #391
Thanks for the workaround h0x91b. I did think of this initially, but wanted to avoid changing the data to avoid potential problems further down the line.
However, it looks like it might have been fixed as part of PR #454 - I expect it'll be in the next version made available on npm.

[2016-07-21 01:20] kevinmuller1220 opened #457 "Sorting direction icon doesn't show up when useExternal is set"
Using Griddle, I'm loading data externally by setting useExternal to true, and I found that it doesn't render the sorting direction icon when header cell is clicked for sorting.
The data sorting works with externalChangeSort but the icon doesn't just show up.

I found some related code on line 80 in /modules/gridTitle.jsx.js
[code]
Here the sortDirection is always null when useExternal is set to t

[2016-07-21 11:39] akashpatni opened #458 "No header with custom row format option"
Hi,

I am using the Griddle react module for implementing data grid in my project. And in this I am using Custom row format setting like useCustomRowComponent={true} customRowComponent={OtherComponent}, after this I am able to see the custom row grid but there is no header because of that I am not able to do the sorting. I can also see in your documentation that there is no header when you are usi

[2016-07-22 15:50] jonifen commented on #445
I'm also encountering this issue with the latest version after upgrading following the fix for #391
It looks like the initialSortAscending property has been removed from the code entirely? Is there an alternative way to handle the initial sort order in the newer versions that isn't in the documentation?

[2016-07-26 13:53] lucidlemon opened #459 "Localization?"
how are the plans for localization? For example giving our own strings for Settings, Filtering and such?

[2016-07-26 14:16] ryanlanciaux commented on #459
My apologies that this is not documented better -- we do have some props that allow for customization / localization of the text https://github.com/GriddleGriddle/Griddle/blob/master/scripts/griddle.jsx#L63. Please try overriding those props and let us know if there is something (besides documentation :shame: that we're missing on that). Thanks! 👍

[2016-07-26 14:16] #459 closed

[2016-07-26 18:26] dlong500 opened #460 "Browser back button resets current page with external data"
Let's say I have a Griddle component loading external data with 100 pages of data and a user navigates to the 3rd page of data, then clicks on a link to some other part of the website and then presses the browser back button.  The way it is right now the Griddle component will load page 1 of the data again instead of staying at page 3.  Am I doing something wrong?  On your external data example pa

[2016-07-27 06:39] hemnysingh commented on #375
I am facing the same problem. onRowClick function is triggering if I use onRowClick with subgrids.

[2016-07-27 12:54] ryanlanciaux commented on #375
Sorry that this is happening! I will have to look into this a bit more but it sounds like we're not passing the event around in Griddle, perhaps? If anyone has some spare cycles to figure this out, would be super appreciated but I will try to get to it if not. :+1:

[2016-07-27 14:39] harrisgeo commented on #445
Experiencing the same problem here. Solved it by switching back to version 0.3.0 I was using before updating to 0.6.0

[2016-08-02 17:56] BrandKNY commented on #457
@kevinmuller1220 I was suffering from the same issue as well. Clearly the Griddle library should be implemented to work with the sort icon features working whether it be a documented external implementation provided by users or through existing default internal implementation. However, my workaround for now was to implement a custom SortableHeaderComponent class (I'm using material-ui svg icons):

[2016-08-02 18:41] adamboduch commented on #457
@BrandKNY nice. I had no luck myself trying to fix it with custom header components. I'll try this. Hopefully this fix makes it's way into Griddle soon.

[2016-08-02 18:50] ryanlanciaux commented on #457
Could someone please make a PR for this functionality in the 0.x version. When 1.0 is done it should work out of the box but trying to finalize the API so we're not saying "here's 1.0 ... nevermind here's 2.0 with a better API" a month or two later :)

[2016-08-04 11:23] fechy commented on #453
+1

I did some digging:

Because of the return in here:
[code]

This other part is never reached:
[code]

Therefore, sortDirection is always undefined, so this part in gridTitle.jdx fails:
[code]

Hope this helps

[2016-08-07 06:14] KushnirAndrew commented on #445
Hey,
According to Griddle v0.6.0 code, the `initialSortAscending` parameter was removed and you can use `columnMetadata.sortDirectionCycle` instead to define the initial sorting order (first element in an array) as well as the order in which the column order should be changed in case a user clicks on a column header. Note: you still need to use `initialSort` Griddle prop to define which column sho

[2016-08-07 14:31] ryanlanciaux commented on #445
Thanks for calling this out -- would it be helpful if a property was added that set the new property when someone was using the previous property (and toss a debug note to console saying that it's going away in future)? Would it be better to keep things as they are currently?

[2016-08-07 19:37] KushnirAndrew commented on #445
Thanks for the reply @ryanlanciaux! There is a couple things that might be helpful:

1. I think it'd be great to update Griddle documentation: add information about `sortDirectionCycle` into regular docs (it's currently mentioned in release notes only afaik) and remove `initialSortAscending ` prop (or mark it as deprecated since v0.5 and add a reference to the newly added `sortDirectionCycle` opti

[2016-08-07 19:42] KushnirAndrew commented on #452
It looks like I had the same problem (changing `resultsPerPage` didn't change the # of items displayed). Upgrading to v0.6.1 resolved the problem for me. Which version do you currently use?

[2016-08-08 11:57] ayozebarrera commented on #458
18 days and no answer? :\

[2016-08-08 12:45] DmitryAuine commented on #457
Please do something :)

[2016-08-08 21:59] jonifen commented on #445
Well don't I feel daft for not reading the release notes!
Thanks @KushnirAndrew for spotting this out. I've tried the sortDirectionCycle parameter in the columnMetadata in my test project and it works a dream - I set it to ['desc', 'asc'] to get initial sort as descending and vice-versa.

Having a one-place initial sort setting is useful, especially as you're already setting the column to sort on

[2016-08-09 14:13] goooseman commented on #106
@paulbarr https://github.com/GriddleGriddle/Griddle/issues/55
here there is fiddle, which is using infinite scroll without GriddleWithCallback

[2016-08-11 16:22] ghotiphud opened #463 "Callback on Grid update"
I have a use case where I'm attempting to load a grid in an iframe.  Due to this, I'll need to postMessage to the parent page every time the grid updates to have it resize the iframe.  I can't figure out a clean way to react to pageChange and filterChange.  Maybe I'm missing something.

[2016-08-12 19:56] morinted commented on #271
@tony-kerz if you are after brevity, definitely take advantage of arrow function features:

[code]

In my work I'd format that maybe something like:

[code]

[2016-08-15 22:10] Jhawins commented on #267
Also trying to do this today. Resorted to duplicating the column in the data

[2016-08-16 21:14] jonifen commented on #267
@msmicker Once the next version is released (next version after 0.6.1), you will be able to create a dummy column (call it something that isn't present in your data), and use the rowData prop inside the custom component to get the column you're after duplicating.

(Issue #391 may assist - the code I posted there is what I'm attempting to explain)

[2016-08-17 12:15] ayozebarrera opened #464 "CustomRowComponent + Loading"
Hi

When I use CustomRowComponent, the Loading text/component is not appearing more. Why? Is there any way to achieve this?

see you and thanks

[2016-08-17 13:32] java99 commented on #332
+1

[2016-08-19 13:56] slashwhatever commented on #394
+1

[2016-08-19 14:21] slashwhatever opened #465 "Using custom components in grid cells"
Here's a brief snippet of code from a test I'm running up:

[code]

Given that this doesn't work in the browser, am I right in saying there's no way of including an existing component in a column?

[2016-08-23 17:53] matias-piin opened #466 "Sorting is case sensitive"
Hi,

I'm having an issue with the column sorting feature. It seems to be case sensitive, without an option to make it case insensitive.

Example:
![image](https://cloud.githubusercontent.com/assets/15108415/17903297/03c245d8-6939-11e6-89bc-543fdb8b06fd.png)

_I've read through the docs and other issues and could not find a mention of this. Please let me know if this has already been addressed and

[2016-08-23 18:50] mlubovac commented on #465
If you take a look at Custom Columns section http://griddlegriddle.github.io/Griddle/customization.html you will clearly see that you can include custom components. However I've run into similar issues as you've described when it comes to external data.
1. get rid of the column property on the griddle and add column names as displayName to objects you've defined under columnMeta.
2. If it still be

[2016-08-23 18:55] mlubovac commented on #458
Don't use customRowComponent as I've experienced same issue. Way I got around it is to render custom components through columnMetadata as demonstrated under Custom Columns on http://griddlegriddle.github.io/Griddle/customization.html.

[2016-08-24 10:17] slashwhatever commented on #465
Thanks for the update.

However (and this is meant more as a note to other readers who come up against this issue):

If I get rid of the column property on the griddle, I get this: https://puu.sh/qMtYU/f40c59efdb.png.

Assuming this is because our api returns more than we need and the Griddle _doesn't_ use columnMetadata as a definition of the _only_ columns it should render, if I manipulate the r

[2016-08-24 13:00] ryanlanciaux commented on #465
Thanks for documenting this! This is something that is going to be a lot nicer in 1.0 (unfortunately I've been a bit delayed in releasing this newer version)

[2016-08-24 13:03] slashwhatever commented on #465
Looking forward to 1.0 .....soon....? :)

[2016-08-24 13:12] ryanlanciaux commented on #465
Well :) I'm trying -- Just moved and getting ready to welcome a new baby into the world. We will see -- it's fairly close BUT trying to get the API solidified a bit more so we're not recommending basing plugins on an API that we later decide is not going to work. Also we'd like to give time for people to work with the beta a bit (when that's available) to get more eyes on everything.

[2016-08-26 06:01] pankajJS opened #467 "getCurrentPage Issue while passing externalCurrentPage 0"
If someone pass externalCurrentPage 0 it is taking this.state.page .this.state.page can be changed by many external functions so it can be anything. .That's why getCurrentPage function should be :
[code]

[2016-08-26 14:49] thj-dk commented on #276
@ryanlanciaux any news on this?

[2016-08-26 17:06] ryanlanciaux commented on #276
I'm using 1.0 on several projects BUT we are trying to make sure the API is solid before we start promoting it more heavily / calling it something more concrete than alpha. I don't have any specific timeline regarding when it will be released -- currently churning on some parts of the API around plugins.

[2016-08-27 16:05] DmitryAuine commented on #453
@ryanlanciaux Could you pls fix it?

[2016-08-28 01:43] joelleibow commented on #401
Anybody find a fix or workaround for this? Always willing to PR but as of right now I need an urgent fix before doing that leg work.

[2016-08-28 15:40] joelleibow commented on #401
Hack of a workaround I created, for anyone interested. It assumes you aren't using a `customFilterer`.

[code]

[2016-08-29 12:49] ayozebarrera commented on #458
Right, but I need to use customRowComponent in this case because I don't want cells...

I don't know what is the problem here... I need a customHeaderComponent + customRowComponent, so the Header will be rendered ONCE before the rows.

At this moment I have my header OUT of griddle and a customRowComponent but I have a problem with this: when I have a lot of rows, a scroll will appear but won't on

[2016-08-29 19:54] gregvenech commented on #341
Is there a recommended workaround for something like `onRowDblClick`? Is this coming in 1.x.x?

[2016-08-29 21:00] ryanlanciaux commented on #341
It will be possible in 1.0. If someone wanted to add it for 0.x, would love that but I've mostly been focusing on 1.0 right now. 👍

[2016-08-29 21:11] gregvenech commented on #341
Thanks for the quick response! Not sure if I'll have time to contribute but here's my new workaround...

[code]

That's the method I use in my `GriddleWrapper` and I bind it to the `dblclick` event for each row in `componentDidMount` and `componentDidUpdate`. (Don't forget to unbind in `componentWillUnmount`.

Prior to this I was accessing data I need through the DOM which was really miserable. Gl

[2016-08-30 15:38] tselishev-semen commented on #390
+1

[2016-08-30 17:51] albert-tse commented on #453
someone please make a pull request for this fix

[2016-08-31 19:37] umchee commented on #453
+1

[2016-09-01 10:06] Sridharan05 opened #469 "CustomComponent adding junk columns to Grid rowdata"
I have a custom component that I show as part of a column along with results data, in the grid. For example, I show a button, to delete that row, as a CustomComponent that is rendered in each row.
I see that when the grid is loaded, the custom component is called since its part of each row. The delete button is rendered as part of each row of the grid.
Griddle passes the rowdata as a parameter to

[2016-09-01 12:13] muralimurugan commented on #283
anyone tell me to fetch external data with callback for griddlejs

[2016-09-02 09:10] QRCharlie commented on #69
It seems the GridNoData class does not receive the className prop at all.
No class reference appears in modules/gridNoData.jsx.js file.

Version 0.6.1

[2016-09-02 16:51] artiestie opened #470 "Position filter"
Starting by saying, this library is awesome, can't wait for the 1.0 release!

So my question, is there a method to change the filter position? (Like if I want to make a filter component that is a column and wanted it to be positioned left of the table rather than on top.)

[2016-09-02 19:17] Jhawins commented on #75
This was never documented, users are unaware of the customTableRowComponent .

[2016-09-03 01:47] artiestie commented on #470
Ended up using a custom function to call, nevermind!

[2016-09-03 01:47] #470 closed

[2016-09-04 05:34] brigand opened #471 "numeric string value for CSS property `MsFlexGrow`"
I'm getting this warning in react@15.3.1.

I haven't tested any other 15.x versions but I imagine it's the same.

I think a unitless number is correct there, and I don't get warnings for the Webkit prefix.

Aside: is it MS or Ms (case)?

Edit: also occurs for MSFlexShrink.

[2016-09-05 00:30] brigand commented on #471
Oh damn, just noticed this was the wrong repo.

[2016-09-05 00:30] #471 closed

[2016-09-05 13:25] M3lkior commented on #443
Resolves in 0.6.1

[2016-09-05 13:25] #443 closed

[2016-09-05 13:34] M3lkior opened #472 "customPagerComponentOptions / no effect when setting previousText & nextText values"
Hi,

[code]

on Griddle Component has no effect when using custom Pager component (using `this.props.previousText` for example)

But, it works when using `previousText` and `nextText` directly on Griddle component :

[code]

[2016-09-05 18:16] juhope commented on #349
I got bitten by this on the first day of trying to use Griddle... When data looks like this `[{"id":2,"length":2642853},{"id":3,"length":1969133},{"id":4,"length":623958}]`, griddle apparently tries to create a table with 3M columns. Browser will freeze/crash, so without useful feedback it took me some time to understand where the problem is...

[2016-09-06 15:33] vnikolova commented on #372
Same happens to me :(
does anyone have a solution for this?

[2016-09-07 13:57] vnikolova commented on #451
I would like to know as well ...

[2016-09-07 14:34] M3lkior commented on #457
Same issue here ...

[2016-09-07 14:35] M3lkior commented on #453
+1

[2016-09-09 06:38] theptrk commented on #172
I have my filters sourced from the url but its kind of hacky.
Just like https://github.com/GriddleGriddle/Griddle/issues/231 I attached a ref

`<Griddle ref='Griddle' results={results} ... />`

and on both "componentDidMount" and "componentShouldUpdate"

`this.refs.Griddle.setFilter(this.props.params.filter);`

The original filter does not update the text visually though. It would be great if you

[2016-09-09 17:04] Kownt opened #473 "customFilterContainer cannot be passed custom options."
Hi,

I noticed a few of the customContainers provide ways to pass custom options to them but others do not.

eg: customPaginationContainer is able to be passed customPagerComponentOptions but customFilterContainer provides no such option.

[2016-09-12 08:03] alvestjo opened #475 "inputbox in customFilterComponent lose focus"
Hi,

I am trying to use a customFilterComponent but the search-textbox lose focus on every letter i type.

I am quite new to react but I think this is caused by the properties results and currentResults that are passed to the CustomFilterContainer (and then to the customFilterCompnent) that trigger a rerender of the component.

Maybe I am doing something wrong?

//Jonas

[2016-09-13 13:02] NeRo2pt0 opened #476 "Infinite scroll skips row with different height"
When enabling infinite scroll if a row has a massive height it skips this row entirely.  Anyone else run into an issue like this before?

[2016-09-14 04:50] blueboxjesse commented on #213
Any more thoughts on this one?

[2016-09-14 15:14] mrn3 commented on #276
Can you release the alpha version for early adopters to try out?

[2016-09-14 15:32] blkmutt commented on #276
@mrn3 - this is on NPM as alpha and if you go to http://griddlegriddle.github.io/Griddle/next docs are there.

[2016-09-15 14:29] ochervak commented on #466
+1

[2016-09-16 19:57] Wilfred opened #478 "Quickstart docs mention a nonexistent CSS file"
Maybe I'm being stupid, but http://griddlegriddle.github.io/Griddle/quickstart.html mentions:

[code]

However, I can't see this file anywhere. Is there a default stylesheet for Griddle?

[2016-09-20 02:55] jinxac opened #479 "Using custom column component with external data in react-griddle?"
Hi,

I was looking forward to use custom griddle component( Link per se) for one of the columns. My data is coming from external store which I am storing in my redux store. So do I need to add custom component to each object? Little confused here..

[2016-09-20 15:47] apalanki commented on #249
To tag along with what @lukasjsk proposed, adding

`return that.props.hasChildren === false ? React.createElement('tbody', null, arr[0]) : React.createElement('tbody', null, that.state.showChildren ? arr.concat(children) : arr);`

fixed this issue for me without breaking anything on React 15.3.1.

[2016-09-23 14:45] johnolos opened #480 "Best way to access filteredColumns."
Hi, I'm trying to access filtered columns.
I noticed that you have a setColumns(), but not a getColumns().

The underlying problem I'm trying to solve is to save filtering settings for next time the user visits the site. Event-handling might be a better way to archive this?

[2016-09-23 19:41] aclowes commented on #453
I worked around this with a subclass and patch hack. I'm sure there are better ways but might be useful for someone.
[code]

[2016-09-23 21:21] apalanki commented on #115
I know this is an year old but if some one is still looking for answer, this is how I implemented it.

 1. In `griddle.jsx.js`, while creating `GridTable`, add this prop to
    that list on line 836

 2. In `gridTable.jsx.js`, add `"resultsFromFilter": false` to default pass down `resultFromFilter` prop while creating `GridRowContainer` on line 180.

 3. In `gridRowContainer.jsx.js`, add `resultsF

[2016-09-24 05:32] mlubovac commented on #479
Take a look at how LinkComponent is being set up under Custom Columns section http://griddlegriddle.github.io/Griddle/customization.html. It should get you started.

[2016-09-24 05:35] mlubovac commented on #478
Check out http://griddlegriddle.github.io/Griddle/styling.html
Here's a link to the file you're asking. http://griddlegriddle.github.io/Griddle/styles/griddle.css

[2016-09-27 13:22] M3lkior commented on #453
thanks @aclowes , it works.

[2016-09-29 07:21] YacheLee commented on #335
I have the same problem, too.

[2016-09-29 21:05] oakley808 opened #482 "Can I use a custom filterByColumn() in a custom header component?"
I'm trying to use the functionality from PR #357
I have a custom header component that contains checkboxes. I'll like to check the boxes for, say, "apples", "bananas", and "cherries" and filter the column for values that are any of those. Is it possible to override the way individual columns are filtered?
I see I can pass `filterByColumn()` as a prop to my header component, but that seems to break

[2016-09-30 01:48] babenzele opened #483 "Griddle doesn't refresh when item is added / removed during search"
When the user has entered a search term in the search box and they add or remove an item from the results prop, the item doesn't show up / stays in the grid until the user performs another search.

In the meantime, is there a way to trigger a refresh / redraw of the table?

[2016-10-07 22:35] tatethurston commented on #457
Fixed [486](https://github.com/GriddleGriddle/Griddle/pull/486)

[2016-10-09 04:36] babenzele opened #487 "Access embedded document in results"
I have data like the following:

[code]

I've come up with the following workaround:

[code]

But is there a way to access the fields in the embedded subdocument via columnMetadata without the `forEach`?

[2016-10-09 14:38] Sandeep3005 opened #488 "Insert Material UI Popover"
How to include material ui popover inside the griddle column ?
When I am trying to implement ui popover - even though value of anchor

    <Popover
          open={true}
          anchorEl={anchorEl'}
          anchorOrigin={{horizontal: 'left', vertical: 'bottom'}}
          targetOrigin={{horizontal: 'right', vertical: 'top'}}
          onRequestClose={this.hideMemberEmails}

          <Menu >

[2016-10-10 12:21] abzfarah opened #489 "How exactly do you remove a row from a table?"
I've been stumped on this for a couple days..

I created a custom action column with a remove button. Once clicked this handler in griddle.js  fires.

`_columnClick = (columnId, columnValue, rowIndex, rowData) `

Now how do I remove the row and make the dom re-render?

I tried passing down all the data to this handler and splicing the array at the rowIndex but nothing changes. I am using the alpha

[2016-10-10 22:44] abzfarah commented on #489
bump

[2016-10-11 02:42] #457 closed

[2016-10-11 09:02] m4m4m4 opened #490 "Column filtering can't handle types other than string"
Column filtering in PR #357 cant handle types other than string
For instance; the "filterByColumnFilters" function tries to toString() a null type which obviously fails.

It would be great if you can override the column filter function with your own as it works in the general filter, i don't see that it's possible right now.

[2016-10-12 12:58] nalumachurakesh opened #491 "How to get selected items from grid using checkbox"
Hi,

I'm using isMultipleSelection and uniqueIdentifier properties to select items. But, I couldn't find how to get those selected items.

Could you please provide me how to get selected items ids from grid using checkbox.

Thanks,
Rakesh

[2016-10-13 17:37] nalumachurakesh commented on #234
I have used isMultipleSelection and uniqueIdentifier. But, I couldn't get those selected values. Could someone help me out to get selected values of checkbox values from gird.

[2016-10-14 02:15] robbiereynolds commented on #479
What if we want to use a custom column component, but the column doesn't exist in data object? Can we somehow inject a new column into Griddle and render a custom component? I'd like to add buttons like DELETE/EDIT

Example:

Table Header Columns: {ID, First Name, Last Name } + { Custom Column Component Buttons }

[2016-10-14 02:43] mlubovac commented on #479
You can do that. On data object that you are passing to grid add new properties.. one for Edit one for Delete. You'll also need to specify those properties on the grid headers and assign custom columns to those. Griddle will render it from there.

This is how I manage to get it to render buttons to grid columns that I can trigger actions from.

If i'm not describing this well let me know and I'll

[2016-10-14 13:54] M3lkior opened #492 "Json Results with sub-datas ?"
Hi, i try to use `results` prop with this JSON sample :

![2016-10-14 15-51-51](https://cloud.githubusercontent.com/assets/5501911/19389923/2a520f24-9226-11e6-9686-24697c7d648a.png)

My columns definition :

[code]
Its seems that Griddle can not process datas with sub-object. Here is a way to do this ?

[2016-10-14 17:31] robbiereynolds commented on #479
I think I understand what you're saying. My data object is coming from a MongoDB subscription, so I don't have access to modify the returned data object. An example of what you're referring to would be helpful. Thanks :)

[2016-10-14 20:45] cniesen commented on #213
There is a workaround using customComponent.  See my stackoverflow answer: http://stackoverflow.com/a/40051633/1824669

[2016-10-14 20:48] cniesen commented on #492
There is a workaround using customComponent.  See my stackoverflow answer: http://stackoverflow.com/a/40051633/1824669

[2016-10-14 20:49] cniesen commented on #492
Duplicates issue #213

[2016-10-14 21:01] mlubovac commented on #479
Well, once you receive data from mongo you can transfer it however you want. You can "morph" object by adding additional properties, etc.
I'll put an example for you over the weekend.

[2016-10-17 03:27] kevinhughes27 commented on #234
I've solved this in the past by using a `Store` object. The setup looks like this - Griddle renders all the items in the store and the first column is this custom select component:

[code]

Then it is pretty straight forward to implement a method on your store that returns the selected items to you or a method that updates the state of all objects to be selected.

[2016-10-17 07:41] M3lkior commented on #492
Thanks @cniesen . This is a basic use case, Do you plan to solve in 1.0.0 ?

[2016-10-17 07:41] #492 closed

[2016-10-17 13:23] cniesen commented on #492
I'm not a griddle developer.  Like you I ran into the same issue with Griddle 0.6 and needed a solution.

[2016-10-18 05:46] robbiereynolds commented on #479
Did you get a chance to put together an example?

[2016-10-18 22:06] mlubovac commented on #479
Yes. Here's a link to repo.
https://github.com/mlubovac/react-griddle-example

[2016-10-18 22:11] mlubovac commented on #479
In "mockdata" directory you'll find sample data that would be received from server or wherever. Once data is received I'm transforming headers by adding two more objects and I'm transforming results by adding two more properties to each result object. Transforming methods are at "utils" directory.

[2016-10-20 11:40] poisonaby commented on #282
It worked for me

[2016-10-20 21:12] mlubovac commented on #489
You need to remove data from "fakeData" and the griddle will re-render.

[2016-10-21 22:17] luisrudge opened #498 "remove console.log entries"
https://github.com/GriddleGriddle/Griddle/search?utf8=%E2%9C%93&q=console.log

[2016-10-22 23:44] #489 closed

[2016-10-22 23:44] abzfarah commented on #489
@mlubovac  thanks!

[2016-10-24 23:41] dgreuel commented on #458
I would like to see this feature as well...

[2016-10-25 20:20] babenzele commented on #276
I added Griddle 1.0 to a test project using `npm install --save griddle-react@alpha`. Griddle renders to the browser with the text "No results found." and gives the following error in the console:

`Uncaught Invariant Violation: addComponentAsRefTo(...): Only a ReactOwner can have refs. You might be adding a ref to a component that was not created inside a component's `render` method, or you have

[2016-10-26 04:34] kakariko-village opened #502 "Display image from string"
Hi, from the data i want to show on table, there're column that display image. I read the document but don't know how to do that. My data:
{
    name: "abc",
    photo: "<img src='photo.jpg' />"
}

or:
{
    name: "abc",
    photo: "photo.jpg"
}

[2016-10-26 14:32] ryanlanciaux commented on #502
Hi there! I think you could achieve this with a custom component for the column that has the image url. http://griddlegriddle.github.io/Griddle/customization.html#custom-columns

You will want to make a component that takes `data` as a prop. The data would be what would be rendered in the column if it was not a customComponent.

Thinking something like this : `const ImageComponent = ({data}) => (<

[2016-10-27 03:16] babenzele commented on #487
@mlubovac I mean I have objects in my results (like `location` in my example above), and columnMetadata only seems to take a string for the columnName property.

[2016-10-27 10:33] ryanlanciaux commented on #502
Closing this one for now but please let us know if you have any trouble with this strategy!

[2016-10-27 10:33] #502 closed

[2016-10-27 10:41] ryanlanciaux commented on #488
I'm sorry I'm not super familiar with Material UI. If I had to guess, it would be something with CSS positioning. You may have to make a custom column component that has position relative or something and the popover exist inside this custom component with positioning.

Thanks so much for your question and please let us know how you solve this! Closing this one for now :+1:

[2016-10-27 10:41] #488 closed

[2016-10-27 22:00] rgstephens opened #504 "Bootstrap Grid Example"
Can anyone point me to an example customization of Griddle using a Bootstrap Grid.  The [Custom Row Format](http://griddlegriddle.github.io/Griddle/customization.html#custom-row-format) example is helpful for the row but a complete example would be very useful.

My questions is a duplicate of #278 which I just found. An example would be great.

[2016-10-28 16:37] mrn3 commented on #276
@babenzele - this is usually because two versions of React are being loaded (usually one from an npm module, and one from your main project that is including the npm module).  I am wondering if it is because the peer dependencies are set up correctly on griddle-react@alpha npm module.  Also, it could be that another npm module you are including is including React incorrectly and needs to switch to

[2016-10-31 19:47] babenzele commented on #276
@mrn3, I ran `npm ls react` as [suggested](https://facebook.github.io/react/warnings/refs-must-have-owner.html#multiple-copies-of-react) in the react docs and only one reference to react is listed for my project:

[code]

Maybe something else is going on inside react-create-app.

[2016-10-31 19:54] babenzele opened #507 "Which files to commit?"
When contributing, which files should I commit?

Just `scripts/*.jsx`?
`scripts/*.jsx` and `modules/*.js`?
`build/griddle.js`?

[2016-10-31 20:50] ryanlanciaux commented on #507
build, scripts, and modules for 0.x -- scripts is the code, modules is what's referenced in npm as index, and build is for bower.

As we move closer to 1.0, this is changing to where ideally the build files will not be checked in and our CI stuff will handle all of that. (PS the 1.0-combined branch is the one we're moving forward with -- but it's not quite ready)

[2016-10-31 20:51] ryanlanciaux commented on #507
Thanks a ton for asking this. I know it's not very clear and it's kind of confusing (we should probably update the contributing guidelines to make this more clear). Do you think we should close this one for now?

[2016-10-31 20:59] ryanlanciaux commented on #276
@babenzele Sorry that's not working out so well for you. I will try to get create-react-app going with it and see if I have diff results. Interacting with Griddle should mostly be the same as the current alpha (except plugins) but we are going to be merging the 1.0-combined branch into 1.0 (the current alpha) as soon as we get the base Griddle plugins converted over.

The 1.0-combined branch remov

[2016-10-31 22:13] babenzele commented on #507
Thanks for clarifying. It's ok that the build file will have tons of changes?

Closing this issue

[2016-10-31 22:13] #507 closed

[2016-11-01 01:09] nlokare commented on #282
@aaronucsd I wanted to keep the fixed header since we have infinite scroll enabled so I did unthinkable and mixed jQuery and React. I did something like this to override the inline styling applied to the body `<table>`

[code]
Alongside using a custom CSS class for the columns. Super hacky, but hey it works.

Is there a better solution than what I'm doing while keeping the fixed header?

Thanks

[2016-11-01 03:53] babenzele commented on #507
@ryanlanciaux I see some recent commits with only the `.js` files included:

https://github.com/GriddleGriddle/Griddle/commit/6945ced276104958221bff1dd7284782263aac6f
https://github.com/GriddleGriddle/Griddle/commit/08750a89f2505ab2f00800e394140ded8b6a6205

What's going on there?

[2016-11-03 23:31] babenzele commented on #276
@ryanlanciaux I tried loading `griddle-react@1.0.0-alpha.43` using just webpack and babel and get the same error.

`npm ls react` still just shows the one reference to react in `griddle-test`.

[2016-11-08 17:52] twolfe2 commented on #453
I got the sort icon working by using #486

[2016-11-08 21:13] mlubovac commented on #504
This is how I go about it.
                    <Griddle
                        columnMetadata={this.props.headers}
                        results={this.props.data}
                        tableClassName="table"
                        useGriddleStyles={false}
                    />

You'll have to take care of the pager manually or you can just use
https://github.com/wadahiro/griddle-react-boots

[2016-11-08 21:15] mlubovac commented on #491
Hi,

Can't seem to find any documentation on isMultipleSelection and uniqueIdentifier properties. Can you point me in direction of where these properties are documented?

[2016-11-09 00:34] babenzele commented on #276
@ryanlanciaux Would you mind describing how I would get `1.0-combined` installed in a project?

[2016-11-09 00:53] nalumachurakesh commented on #491
@mlubovac I too couldn't find any documentation on isMultipleSelection and uniqueIdentifier properties.
But, I have implemented functionality using those properties and it worked as per my needs.

[2016-11-09 00:53] nalumachurakesh commented on #491
@mlubovac I too couldn't find any documentation on isMultipleSelection and uniqueIdentifier properties.
But, I have implemented functionality using those properties and it worked as per my needs.

[2016-11-09 04:23] mlubovac commented on #491
Can you provide an example of how to use such properties?

[2016-11-09 11:55] ryanlanciaux commented on #504
Thanks a ton for answering this -- I am going to close this one for now.

Replacing Griddle styles with bootstrap class names is how I've used bootstrap with Griddle on projects in the past. :)

[2016-11-09 11:55] #504 closed

[2016-11-09 11:56] ryanlanciaux commented on #453
Has anyone had more success with 0.7.0?

[2016-11-09 15:02] nalumachurakesh commented on #491
Following is the code to create grid with isMultipleSelection and uniqueIdentifier properties

<GriddleDataGrid
      ref='griddleGrid'
      showFilter={true}
      results={datasource}
      resultsPerPage={5}
      columnMetadata={this.columnMetadataDialog}
      columns={this.columnIdentitiesDialog}
      useGriddleStyles={false}
      tableClassName='table table-striped'
      useCustomPagerC

[2016-11-09 20:15] twolfe2 commented on #404
Check [this](https://medium.com/@franleplant/react-higher-order-components-in-depth-cf9032ee6c3e#.569v0kmfu) article out for more information about high order components (HOCs).

Here's what I did:
Created the file `withCustomProps.jsx`
[code]
Then in the file with `columnMeta` did the following:
[code]

[2016-11-10 21:44] twolfe2 commented on #452
Instead of unmounting and remounting I use the custom `externalSetPageSize={yourSetPageSizeFunc}`when creating my Griddle table. Then whenever the page size is changed `yourSetPageSizeFunc(newPageSize)` will be called.

Within `yourSetPageSizeFunc` I make an API call for my data using the newPageSize.

I keep track of the table size in my Redux store and updated that as well.

[2016-11-11 00:39] babenzele commented on #491
Also, you can store selectedRowIds in your own state and pass them into the `selectedRowIds` prop. `onSelectionChange` props can be used to pass a selection change handler. I use that to set my state.

[2016-11-11 08:27] orangecoding opened #510 "update changelog"
You've just released 0.7.0. The changelog is still at 0.6.0 even though 0.6.1 was the latest release. Most open source projects have a changelog.md within their repo to track changes. why not doing the same here and keep up with the version you release?

[2016-11-11 10:20] garretfick commented on #276
@babenzele @ryanlanciaux I suspect the issue is not related to react-create-app. I was able to reproduce the same problem with [react-starter-kit](https://github.com/kriasoft/react-starter-kit/).

[2016-11-11 14:11] ryanlanciaux commented on #276
@babenzele This is some uncharted territory right now as it's our most in-flight branch :) but ultimately it most closely matches the direction we want to go with 1.0. That said, I would imagine that if the package.json file points to src/index as the entry point, that you could reference the package this way.

Traditionally, we build the project with webpack before pushing to npm and have package

[2016-11-11 14:12] ryanlanciaux commented on #276
@garretfick Thanks for calling this out -- we will have to look into this a bit more as we may have something misconfigured with our externals.

[2016-11-11 14:44] ryanlanciaux commented on #239
Thanks so much for calling this out -- we've updated the documentation (sorry about the delay in getting back on this one!)

[2016-11-11 14:44] #239 closed

[2016-11-11 15:22] ryanlanciaux commented on #510
You're right -- sorry about that. Would you recommend something like http://keepachangelog.com/en/0.3.0/ or is there a different example that you'd recommend following here?

[2016-11-11 16:14] orangecoding commented on #510
I was about to post exactly the same example:)

[2016-11-11 19:00] ryanlanciaux commented on #510
haha okay cool - I'll try to model the changelog here after that :+1:

[2016-11-11 23:21] babenzele commented on #487
This does work for me, the problem is with Meteor-Griddle. Apologies for the noise.

[2016-11-11 23:21] #487 closed

[2016-11-11 23:43] ryanlanciaux commented on #487
No worries at all :+1:

[2016-11-14 09:30] umgupta opened #512 "OnClickRow and Checkbox"
I am trying to use a checkbox on the row. Also my row is clickable that is it triggers some action on clicking. I m using onRowClick for this.

However, when I click on the checkbox, the action on row should not trigger.
I have used
`e.preventDefault();
  e.stopPropagation();`
in onChange and onClick of Checkbox. But the action still triggers on row. Is there way to not trigger the action on row.

[2016-11-14 22:16] kevinhughes27 commented on #438
Came across a need for this as well. @ryanlanciaux thoughts?

[2016-11-15 17:08] jhabdas commented on #276
Does this thing output semantic tabular markup?

[2016-11-15 17:11] ryanlanciaux commented on #276
We use `table` elements by default instead of `divs` or other elements. With the customization coming in 1.0 it should be relatively straight-forward to write a plugin that uses `divs` and other elements instead.

[2016-11-15 17:15] jhabdas commented on #276
@ryanlanciaux thanks, Ryan. Here's my top resource for planning accessible tables, if you haven't read it yet: http://www.456bereastreet.com/archive/200410/bring_on_the_tables/

[2016-11-15 18:07] ryanlanciaux commented on #276
This is a great read, thanks!

[2016-11-16 00:26] gregsantos commented on #335
@amitsharma2705 coldata?

[2016-11-19 15:40] greenais opened #514 "Empty results data for one column in the first row = entire column doesn't render"
If results= contains no value (undefined) for particular column in the first row - entire column doesn't render, despite the column data for other rows exists.
Is that expected Griddle behavour or there is something to look for in approach?

[2016-11-22 11:16] frankbolviken commented on #189
Anyone having accomplished this?
Material-UI adds all the styles as in the styles= section, instead of as a class as far as I can see.

[2016-11-23 20:30] flanamacca commented on #453
Confirming - upgrading to 7 fixed this for me

[2016-11-23 21:13] ryanlanciaux commented on #453
Thanks for checking -- Will close this out for now then :)

[2016-11-23 21:13] #453 closed

[2016-11-25 21:48] juampick commented on #394
+1

[2016-11-25 21:48] juampick commented on #458
+1

[2016-11-27 10:17] Sandeep3005 opened #517 "Replace Settings Button with Materila UI Button"
Hi

Trying to implement above used following propertirs

settingsText={''}
settingsIconComponent={
<Raised Button
    style={{marginTop: 22, float: 'right' }}
    label='Send'
    primary={true}
    icon={<SubmitIcon />} />
}

Able to achieve new setting button with this raised button inside it.
Can we replace settings button with this new button?

Guide me if anybody on this

[2016-11-28 01:58] ryanlanciaux commented on #458
This is coming in 1.0 -- if someone has time to PR for 0.x stuff would really love that! :)

[2016-11-28 02:00] ryanlanciaux commented on #517
Hi there -- This is something that will be supported in 1.0. Unfortunately, we don't have the component overriding quite as fluid as we'd like in the current version.

[2016-11-28 04:09] Sandeep3005 commented on #517
Ok, Thanks @ryanlanciaux

[2016-11-28 04:09] #517 closed

[2016-11-28 17:07] Sandeep3005 opened #518 "How to use 'settingsToggleClassName'"
As settingsToggleClassName requires string input.
I am implementing this in the following way
[code]
and using this style in here

[code]
No Although settings button having this class griddleBtnStyle - But no changes occured when I implemented in this way.As per eg here button should be red but none has occred.
`<button type="button" class="griddleBtnStyle">`

Can you tell me the right way to impl

[2016-11-28 17:42] Aldizh commented on #310
If you don't need the filters simple set useExternal to false as follows: `useExternal={ false }`
and you shouldn't get any errors. I am using version '0.7.0'

[2016-11-28 20:17] windgaucho opened #519 "How to order by a date column"
Hello I want to know how can I sort by a date metadata column? I had readed all issues about sort by date but I can get it to work. Can somebody tell me how to sort by a date column? May be an example? Thanks

[2016-11-28 23:03] greenais commented on #107
The same here.
Even one column locked triggers this waning for Settings

[2016-11-29 20:30] dlong500 opened #520 "Null values not sorting correctly in v0.7.0"
Something changed in the sort logic for v0.7.0 from previous versions that breaks the sorting of null values (at least for external data).  If I sort by a field ascending that contains null values, the data comes from the database in the correct order but the Griddle component displays the null values at the end of the results.  Likewise, if I sort descending the null values show up at the top.  I

[2016-11-29 21:22] dlong500 commented on #520
Upon further examination it looks like the changes to fix #453 may be causing the external data to be re-sorted by the internal sort functions which most likely causes the bug I'm seeing.  This seems really wrong.  If we are using external data there should never be any actual sorting being done within Griddle.  Only the info to display the sort field and direction should be tracked, but the data

[2016-12-02 14:30] Jony546 commented on #414
that will be great, i have the same situation here.

[2016-12-06 05:16] babenzele commented on #448
This would be great, would love to help.

[2016-12-06 07:29] babenzele commented on #514
@greenais Can you try supplying a `columnMetadata` prop and see if this fixes things?

The code branches here which may be causing your problem:
https://github.com/GriddleGriddle/Griddle/blob/master/scripts/griddle.jsx#L915-L925

[2016-12-06 07:53] babenzele commented on #519
Your date object will sort just fine by default, it's the rendering that needs to be custom. You can create a [customComponent](https://griddlegriddle.github.io/Griddle/customization.html) to render your date object using [moment](http://momentjs.com/) or something similar.

[code]

[2016-12-06 10:26] ryanlanciaux commented on #448
I really appreciate that - I will be working on this very soon. Thanks!

[2016-12-06 10:31] greenais commented on #514
@babenzele Hi, `columnMetadata ` is in use already.

[2016-12-06 10:39] babenzele commented on #514
Well, that stumps me. I added that code to fix the same problem.

[2016-12-07 14:22] thj-dk opened #526 "Change page size from customPagerComponent?"
We have a custom pager component and would like to change page size from within that component. Is there any way to pass in the externalSetPageSize function so it can be invoked from within the custom pager?

And access to the current page size?

[2016-12-08 12:38] tarnacious commented on #65
Hi, #524 implements this feature and adds tests for it.

It would be great to get feedback on this as I would like to contribute a few other fixes and features if this can be merged in.

Thanks

[2016-12-09 01:45] babenzele commented on #519
I've been poking around on date sorting and @windgaucho is right, dates do not sort correctly.

[2016-12-09 05:01] #65 closed

[2016-12-09 07:51] Ahmtdnz commented on #333
Hi @jetaix , can you solve this problem ?

[2016-12-09 09:42] dlong500 commented on #520
Any comments on this?  I've had several users complain about this.  I could try to make a PR, but I'd like someone else to confirm my analysis first.

[2016-12-09 10:13] gidili commented on #401
This is causing even bigger problems when instead of just updating results, also columns and column metadata is updated (I have a grid that displays different kinds of records):

- load results
- filter with some text
- update columns, column metadata, results

Expected: New results / new columns are loaded and filtered
Or in alternative: The filter is wiped and new results are calculated

What ha

[2016-12-09 10:22] ekros opened #528 "Infinite scrolling with variable bodyHeight"
I have infinite scrolling enabled and a **variable bodyHeight** prop which is modified on window resize (it makes the table grow to fill the space available). The problem is that new data is loaded only on scroll, so I had to add a resize listener to the window and trigger the scroll manually.
I know this is a concrete use case, but it would be great to consider this variable bodyHeight option and

[2016-12-09 11:47] Ahmtdnz opened #529 "Open by default the settings row"
Hello Open by default the settings row on page ?

Thanks for help.

[2016-12-12 08:30] orangecoding commented on #510
@ryanlanciaux you'Ve updated to 0.7.1 and still no changelog. I am quit aware that this is an opensource project and I really appreciate your work, but for those who are using you grid within a live product, it is needed to have a changelog to foresee problems.

[2016-12-12 12:21] windgaucho commented on #519
@babenzele thanks for your response and example!!

I finally made it work using the number representation fo a date value.
My java rest service was returning a date column using the dd/mm/yyyy format, but like I say previously I can not sort by date using this format. So I change the format of my java rest service to return the date values using number representations (like this: http://stackoverf

[2016-12-13 09:05] Sandeep3005 opened #530 "Custom Page Component is not showing"
This is my Griddle section of page
[code]

But when I am setting useCustomPagerComponent={true} , it is not showing custom component attach below also basic griddles componenet for paging showing 1,2,3 pages stop appearing in page

Error in console - customPaginationContainer.jsx.js:39 --- Couldn't find valid template.

Also tried this one as a custom component
[code]
Whats issue here

[2016-12-13 16:25] cdmcmahon commented on #530
The value passed to `customPagerComponent` should be a React class, not simply jsx. To take your first example you would probably want to do this:

[code]

Then in your Griddle jsx you would want to do:

[code]

[2016-12-14 07:56] Sandeep3005 commented on #530
@cdmcmahon  Thanks , :+1:  but if we create this component I think we also need to create next previous button in this custom component as they are the part of Pagination team Right ?

[2016-12-14 15:55] #530 closed

[2016-12-14 16:00] java99 opened #531 "Warning - React.createElement: type should not be null, undefined, boolean, or number - griddle-react@1.0.0-alpha.43"
Hello,

I have a warning using griddle-react@1.0.0-alpha.43

Code looks like this.. no matter if I have ColumnDefinitions inside or not it returns with the following warning.

<ContactsGriddle>
    <RowDefinition keyColumn="_id">
</ContactsGriddle>

warning.js:36 Warning: React.createElement: type should not be null, undefined, boolean, or number. It should be a string (for DOM elements) or a Reac

[2016-12-14 16:04] cdmcmahon commented on #530
Glad to help! I assume you figured out your now-deleted followup question regarding next/previous buttons, but yes, if you want such buttons, you will need to add them to your custom paging component. [An example that includes this can be found on the docs.](http://griddlegriddle.github.io/Griddle/customization.html#custom-paging-component)

[2016-12-14 17:20] Sandeep3005 commented on #518
This was incorrect implementation. What was required is to use a css class name within settingsToggleClassName and not a variable name

[2016-12-14 17:20] #518 closed

[2016-12-14 17:31] Sandeep3005 opened #532 "Can we just replace input field of filter component to a material UI text field"
I am trying to replace filter components input field with text field from materialUI text field.
I am able to display input field by creating a new component, but its not filtering contents.

I don't want different **filter function** just wanted to replace input field with material UI text field

Current Griddle section is
[code]

Filteration Component

[code]

@cdmcmahon  - If you could also tak

[2016-12-14 17:40] cdmcmahon commented on #532
I'm not sure if Griddle allows using a custom filter component without using a custom filter; that would be a question for a maintainer. That being said, a simple one could be written to match on title if you wanted:

[code]

Code could obviously be altered to allow fuzzy search, etc. if desired.

[2016-12-14 18:11] Sandeep3005 commented on #532
@cdmcmahon We can solve this by using following...
This is working perfectly, Thanks for you input
[code]

[2016-12-14 18:11] #532 closed

[2016-12-14 21:32] nalumachurakesh opened #533 ""Key" prop warning while rendering grid"
warning.js:36Warning: Each child in an array or iterator should have a unique "key" prop. Check the render method of `GridTitle`. See https://fb.me/react-warning-keys for more information.
    in th (created by GridTitle)
    in GridTitle (created by GridTable)
    in table (created by GridTable)
    in div (created by GridTable)
    in GridTable (created by Griddle)
    in div (created by Griddle

[2016-12-15 15:52] gidili opened #534 "Filter blocks grid updates when changing column metadata / data"
This would never be an issue working with static columns and data, but I am working a lot with dynamic columns (resetting columns metadata to display different kinds of data) and noticed the following:

**If the filter is in use and the column metadata + data changes, it seems that the filter blocks griddle from displaying the new data / new columns. Griddle doesn't update at all, new columns are

[2016-12-15 21:22] babenzele commented on #519
Ok, so I got this working as well.

I created a `customCompareFn` for the date column and referenced the function in `columnMetadata`.

For the function, you can either supply two arguments so that you can compare them yourself, or you can supply one argument (shown here), which you can modify and return so that `orderBy` from the lodash library can properly sort the dates.

[code]

[code]

https:

[2016-12-16 07:56] idanwe commented on #142
Now there is `customCompareFn` option that you can use in two formats [source code](https://github.com/GriddleGriddle/Griddle/blob/master/scripts/griddle.jsx#L558-L571)

[code]
or
[code]

[2016-12-16 12:53] #533 closed

[2016-12-17 20:19] briantoth commented on #534
I'm seeing this behavior as well when trying to remove rows.  Version 0.7.1

[2016-12-18 19:41] Sandeep3005 opened #536 "How to set settingsIconComponent, getting warning - warning.js:36 Warning: validateDOMNesting(...)"
Hii

This is my code
[code]
To get settingsIcon, I am using this function
[code]
This is giving me following warning
**Warning: validateDOMNesting(...): <button> cannot appear as a descendant of <button>. See RoomsEditor > Griddle > button > ... > RaisedButton > EnhancedButton > button.**

Can you help me figure out what I am doing wrong, Code is working as expected but why this warning is coming

[2016-12-19 10:19] thj-dk commented on #526
Is this supported?

[2016-12-20 07:41] reznord commented on #75
@ryanlanciaux I would be happy to add an example of a customRowComponentExample in the docs of Griddle, since it will be a bit easy for all the people.

[2016-12-20 21:26] ryanlanciaux commented on #75
That would be really helpful!

[2016-12-22 15:24] darklilium opened #538 "How to add color to selected row."
Hello,
Im using ur griddle library and im searching here any example of how to add a custom color when the user clicked a row. (im not using multiple selection, just single).
I saw this example [right here](https://github.com/GriddleGriddle/Griddle/issues/175) but idk how to make it work. What am i missing?

My code is the following:

[code]

[2016-12-26 07:21] jariwalabhavesh commented on #394
+1

[2016-12-26 15:06] darklilium commented on #538
I found this and it helped me a lot.
http://stackoverflow.com/questions/39426819/selecting-a-row-in-react-griddle-and-changing-tr-background-color

[2016-12-26 15:06] #538 closed

[2016-12-29 01:47] rgstephens opened #539 "Help with customCompareFn"
I'm trying to use [customCompareFn](https://github.com/GriddleGriddle/Griddle/blob/825cf4e2ffc406bd6b45afece23071b0ff828593/docs/src/markdown/customization.md) along with customComponent and I can't get the current rowData passed into my function. This may be a duplicate of #142.

For example. In the following function, data is always null:

[code]
What am I doing wrong?

[2017-01-01 18:43] rgstephens commented on #539
User error.  For the field in question, my results object contained a reference to another object that contained the field, instead of the data itself and the customComponent was resolving the reference. Changed the logic so that the results object contains the actual value for this field.

[2017-01-01 18:43] #539 closed

[2017-01-03 23:10] emorling commented on #389
@glifchits do you happen to have example code using RIEK by any chance?

[2017-01-04 22:42] emorling opened #543 "Editing cells and changing the data passed in to a customComponent?"
This customComponent can edit the visual contents of a cell, however it does not change the underlying data. This becomes clear when using filters for example. The edited data has had no real impact.

So the question is: How to update the data passed in to a customComponent?

[code]

[2017-01-05 08:25] emorling commented on #543
I can pass a function to the customComponent, that in turn could update state.results... but in that case each component needs to have a reference to it's position in state.results. How are you guys solving this?

[code]

[2017-01-05 22:35] emorling commented on #543
Any help or pointers would be appreciated. Is customTableRowComponent the best way to accomplish this?

[2017-01-06 10:23] ankush86 commented on #256
I need the same, I want infinite scroll on windows scroll instead of Iframe ( don't need to set bodyHeight). Please suggest me to do so.

Thanks in advance!

[2017-01-06 11:06] emorling commented on #389
@glifchits any input on: https://github.com/GriddleGriddle/Griddle/issues/543 ?

[2017-01-06 14:51] ryanlanciaux commented on #256
This is something that will coming in 1.0. If someone wants to add to the current version as a PR we would take it but we've mostly been focusing on making 1.0.

[2017-01-06 14:55] #372 closed

[2017-01-06 14:57] ryanlanciaux commented on #543
This will be way easier in 1.0. I think you'll need to have something that updates your results above Griddle in the current version. (I'm using 1.0 on my projects right now so I cannot speak to this directly but I have seen others doing editable data with Griddle).

[2017-01-06 15:02] emorling commented on #543
Okay, who can I ask? I am stuck but happy to have an interim workaround while I wait for 1.0. Or can i use an early 1.0 for this now?

[2017-01-06 17:27] ankush86 commented on #256
Thanks Ryan!

I will use 1.0 alpha version, can you please suggest the property Or Griddle code which I used to achieve infinite scroll on window scroll. Also my all data coming from external API's.

Thanks

[2017-01-07 12:56] emorling commented on #543
Please throw mea bone :) Someone...

[2017-01-07 14:02] ryanlanciaux commented on #543
Could you do something to edit the data you're passing in to Griddle upon editing in a cell? Something like have an event at the container of Griddle that knows how to update the specific item and then pass that back through upon update.

You would probably want to make sure you debounce in this event so you're not constantly updating.

[2017-01-07 14:04] emorling commented on #543
Interesting... so I could use instances of a custom class in the data being passed into Griddle?

[2017-01-07 15:09] oluleci opened #544 "how to change row color conditionally?"
I have some data like;

[{"Id":"0","Code":"12","Text":"event 0","FColor":"green","BColor":"Red"},
{"Id":"1","Code":"12","Text":"event 1","FColor":"blue","BColor":"Red"},
{"Id":"2","Code":"12","Text":"event 2","FColor":"red","BColor":"Red"},
{"Id":"3","Code":"12","Text":"event 3","FColor":"green","BColor":"Red"},
{"Id":"4","Code":"12","Text":"event 4","FColor":"blue","BColor":"Red"},
{"Id":"5","Cod

[2017-01-07 15:32] emorling commented on #543
@ryanlanciaux is something like this possible? Or is it a dead path?

[code]

[2017-01-07 15:49] oluleci commented on #544
Found it.  Using useGriddleStyles = {false} had the trick.

[2017-01-07 15:49] #544 closed

[2017-01-07 16:09] emorling commented on #483
@babenzele how are you handling editing in Griddle? I am somewhat at loss here.

[2017-01-07 16:11] emorling commented on #394
@firen @yarulan @mwtorkowski how have you solved Editing cells in Griddle? Thanks

[2017-01-07 16:13] emorling commented on #543
@ryanlanciaux "that knows how to update the specific item". How would you solve that? The grid doesn't seem to have an ID or Position (x,y) that knows where it is in the data?

[2017-01-08 23:37] aikonplus commented on #114
guys, please fix this... :/

[2017-01-09 03:09] rosensama opened #545 "defaultColumnFilter throws when value is null"
It assumes it can call .toString() when the row's value for the filtered column is `null`.   Will submit pull request shortly.

[2017-01-09 05:22] rosensama opened #547 "Error running grunt - "xdg-mime: not found""
When I follow the README to build griddle from source, the grunt script `npm run grunt` fails as follows.   I'm not strong in npm and found no obvious source for xdg-open.

The error was:
[code]

[2017-01-11 14:45] stubar opened #548 "initialSortAscending"
Is this actually implemented?  I can only see this string in the readme, not in code.

Doesn't seem to make any difference when I set this prop anyhow.

[2017-01-12 09:51] ankush86 commented on #256
@ryanlanciaux Please reply to my last comment, I want that feature to integrate it in my app Or else please suggest me the changes I need to in package on my local.

Thanks

[2017-01-15 06:19] Sandeep3005 opened #550 "Griddle only showing columns in columnMeta array in setting after updating to version 0.7"
Just upgraded griddle and react packages to latest. Issue is griddle only showing columnMeta in setting after updating to version 0.7
    let columnMeta = [
      {
        columnName: 'actions',
        order: 1,
        displayName: 'Actions',
        customComponent: this.getActions,
      },
      {
        columnName: 'imgUrls',
        customComponent: this.getImageComponent,
      },

[2017-01-15 08:00] #536 closed

[2017-01-16 11:33] orangecoding commented on #172
Is this considered to be fixed by this prop? => customFilterComponent (http://griddlegriddle.github.io/Griddle/properties.html)

[2017-01-18 04:36] mlubovac commented on #543
The way I have accomplished this is by updating the array you are passing to results. Griddle provides you with rowData and from there you can get index or whatever you need to update the record.

[2017-01-18 04:39] mlubovac commented on #531
Your error has nothing to do with Griddle. Your "whatever" component is not rendering anything.

[2017-01-18 04:43] mlubovac commented on #534
@briantoth Griddle is receiving data as props and therefore it can't modify the source of data. When removing a row you must remove data object from data source that is passed to griddle.

@gidili Same goes for updating data in the Griddle. You must update source for changes to persist within Griddle.

[2017-01-18 19:44] hasGisete commented on #416
+1. Or at least the ability to assign a class to `th` when in an unsorted state.

[2017-01-19 17:50] aberkow opened #551 "Passing props to custom component?"
For reference, I'm using react@15.4.2 and griddle-react@0.7.1

I want to register a custom component for my table (`<DownloadLink />`). I'm modeling it after the custom link component in the docs. However no matter what I try, I keep getting the error **"Warning: Unknown props `rowData`, `metadata` on <DownloadLink> tag. Remove these props from the element."** Is the problem possibly related to th

[2017-01-19 20:06] #306 closed

[2017-01-19 20:07] tpianta commented on #306
Resolved by #427

[2017-01-19 20:16] ryanlanciaux commented on #306
Awesome - thanks for following up on this!

[2017-01-19 21:38] ericsvendsen opened #552 "Row metadata never changes unless a key is specified"
`rowMetadata` is evaluated every time a `dispatch` is fired from my `onRowClick` event, however as far as `rowMetadata` is concerned, the global state is permanently stuck in its initial state.  So even though I've saved the clicked row data as an object on the global state, when `rowMetadata` is re-evaluated it can't see the updated state.

While googling, I came upon issue #352 and when I specif

[2017-01-20 06:23] briantoth commented on #534
@mlubovac  - thanks for swinging by!

The problem isn't persisting the deletion - it's causing gradle to recognize that a deletion has happened if a filter is in place.  See:

https://github.com/GriddleGriddle/Griddle/issues/220
https://github.com/GriddleGriddle/Griddle/issues/401

[2017-01-20 09:19] akshayvenugopal commented on #466
+1

[2017-01-20 20:20] aberkow commented on #551
[This issue](https://github.com/Hacker0x01/react-datepicker/issues/517) on react-datepicker may shed some light on this. I'm not really sure how to go about figuring out how it would impact the griddle code though.

[2017-01-20 20:32] gaearon commented on #551
Does this help?

https://facebook.github.io/react/warnings/unknown-prop.html

I think it explains the strategies for fixing this warning.

[2017-01-21 10:55] ryanlanciaux commented on #552
Ahh -- yea. We experienced this when moving stuff to 1.0 also and it _should_ be fixed there but it's not quite ready. I realize that doesn't help in this situation -- I've been trying to get some more folks working on the current stuff because that'll still be around for awhile after 1.0 is released. I will try to look into this but a lot of my time has been going to 1.0 as it fixes a number of i

[2017-01-22 19:21] eebsie opened #554 "Sort column on property?"
Hello.  Firstly, Griddle is great!  Easy to use, good functionality and very quick.  Excellent.

However I have one problem which I am struggling to get working - column sorting!  The data I am attempting to render in Griddle contains objects such as this:

    [{
        Key: {
            display_value: 'key1',
            change: 'added'
       },
       Value: {
            display_value: 'val

[2017-01-22 19:59] aberkow commented on #551
@gaearon Thanks! I think this is the issue. When I get to work tomorrow I'll dig into it. Basically I think griddle is setting those props implicitly. Perhaps if I can figure out how to pass them explicitly the warning will go away.

[2017-01-23 14:05] corpix opened #555 "Nested keys rendering and custom components"
Hello.

I have some nested fields in data which I want to render with griddle custom cell component:

[code]

[code]

I was expecting `{bar: 'hello', baz: 'here we go'}` to be accesible in `FooCell` component as `this.props.data.foo` but it does not.
Griddle handles nested hash-maps(which is not a griddle responsibility, this is a duty for some data transformation function at user level) automatic

[2017-01-23 20:28] aberkow commented on #551
It turns out that there are a couple "rules" it's helpful to be aware of when working with custom components.

1. Custom components need to be in the same file as the Griddle table. They can't be imported or required.
2. They need to come _before_ the columnMetadata variable. If it's after, columnMetadata won't know what you're trying to render.
3. Don't put quotes around them in the columnMetadat

[2017-01-23 20:28] #551 closed

[2017-01-23 20:31] ryanlanciaux commented on #551
Thanks so much for digging into this a bit more @aberkow and thanks for the pointers @gaearon!

This gist is a pretty great demonstration of the current settings. We're hoping with the stuff we've been doing in 1.0 this sort of customization will be way easier and more inline with how people are used to doing things in the React ecosystem.

Really -- thanks again for tracking this down and writing

[2017-01-24 15:32] aberkow commented on #551
@ryanlanciaux You're welcome! I really like this component. The api is much easier for me to understand than a lot of the others. I'll be watching for v1.0 :-)

[2017-01-25 12:47] corpix commented on #555
While digging in the source code I have found no way to disable this and moved to [react-table](https://github.com/tannerlinsley/react-table). So this issue is not actual for me now.

[2017-01-25 16:17] ryanlanciaux commented on #555
This will be in 1.0. Thanks for checking out Griddle.

[2017-01-25 16:17] #555 closed

[2017-01-25 19:59] malucky opened #556 "When using externalChangeSort, griddle should not sort result set"
When `externalChangeSort` is set, the likely scenario is that a service outside of griddle is used to handle sorting the list. The sort algorithm can be different than the one used by griddle (i.e. case sensitive/insensitive, numeric value vs alphabetical, etc), so griddle should not resort the dataset. This issue appears to have been introduced between versions 0.6.1 and 0.7.0.

thanks for lookin

[2017-01-27 14:50] aberkow commented on #476
Is there any update on this? I'm noticing the same issue in my case. I have one column set for "Details" that admins can see which give all the details of a user's request. Obviously each request has a different height for this column and in Chrome it makes the table unusable. In Safari, the scroll works but starts and stops very badly.

[2017-01-27 15:47] ryanlanciaux commented on #476
Sorry for asking for additional info but any way to see this behavior?

[2017-01-28 12:57] tarelli opened #557 "Infinite scroll throws exception with latest chrome"
It used to work fine before updating Chrome to the latest, now with Version 56.0.2924.76 there is an error `Maximum Call stack exceeded`. Have other people encountered this? Thanks!

![screen shot 2017-01-28 at 12 55 19](https://cloud.githubusercontent.com/assets/81127/22396743/1203312e-e559-11e6-86cc-077b935ae6d0.png)

[2017-01-31 17:28] babenzele commented on #483
@emorling https://github.com/kaivi/riek

[2017-02-01 11:34] gidili commented on #557
Getting the same with latest chrome... the error seems to be gone with an upgrade to 0.7.1, but still when infinite scrolling through loads of items griddle gets stuck for a while then eventually recovers and no max stack calls in the console.

[2017-02-01 12:14] gidili opened #558 "After upgrading from 0.6 to 0.7 column metadata can no longer be set dynamically"
I had this problem in earlier versions, and when changing col meta with new columns and new custom controls etc I was nuking griddle with an unmount and then re-rendering from scratch.

This was gone in 0.6, albeit I had to introduce a little delay between setting col meta and passing the new data to griddle to make it work (otherwise the behaviour was the same, new columns not being rendered).

N

[2017-02-01 15:52] ryanlanciaux commented on #558
Ouch. Sorry for introducing what appears to be a bug. I will have to look into this a little bit more to see what's going on.

Not sure of any work-arounds currently but will update if anything jumps out.

[2017-02-01 16:24] gidili commented on #558
@ryanlanciaux appreciated! 👍

[2017-02-01 19:43] gidili opened #559 "After upgrading from 0.6 to 0.7 numerical sorting doesn't seem to be working anymore"
Sorting on numerical fields works fine in 0.6 but seems to sort numbers as strings in 0.7.

I wonder if there were any changes at the col meta level that would explain this.

[2017-02-03 12:38] aniketdd opened #560 "double horizontal scrollbars displayed when using allowFixedHeader."
While working with large number of columns (>15), when we set allowFixedHeader property to true and set a min-width to each column, dual scrollbars are displayed at the bottom, one each for header row and data rows.

[2017-02-03 18:54] dmcfarland930 opened #561 "Header column width not matching column td"
I have a table with many columns, but I can't get the headers width to align correctly with the table body... Screen shot below. Any help is appreciated.
![screenshot from 2017-02-03 13-48-37](https://cloud.githubusercontent.com/assets/12972303/22604149/362404b6-ea18-11e6-8b6e-481262e02f44.png)

[2017-02-03 19:49] NeRo2pt0 commented on #557
I seem to be experiencing same issue; even after updating to 0.7.1. Two things I noticed it seems to happen easily when there are a lot of columns and / or if the table cells are not equal in height.

[2017-02-06 07:27] jariwalabhavesh commented on #475
@alvestjo:
I am also facing same issue as well, It is happening beacuse each time we type in searchbox it will update grid based on search result so it will render the customFilterComponent and it lost focus

[2017-02-06 13:31] bjoe87 commented on #557
How many columns do you have during this? I seem to be running into the same issue with the upgrade to 0.7.1.

[2017-02-06 17:09] dmcfarland930 commented on #561
Here is a screenshot of the table after I removed the "useFixedHeader" property. The header width now matches the with of the items in the table body, but as you can see there is some terrible overlap in the text.

Any suggestions to help combat this?

![screenshot from 2017-02-06 12-04-51](https://cloud.githubusercontent.com/assets/12972303/22657526/cfe4332a-ec64-11e6-9a3f-216c2b7c9c80.png)

[2017-02-07 11:41] ryanlanciaux commented on #557
@joellanciaux Could you please look into this one?

[2017-02-07 21:21] dlong500 commented on #559
@ryanlanciaux I think this may be related to the earlier issue I filed #520

Please look into both of these issues as they are causing great headaches for my end users.

Thanks!

[2017-02-14 17:31] tpianta commented on #520
We're having the same issue.

[2017-02-14 18:52] chandu4a4 commented on #557
@gidili For me what you said is not working

[2017-02-15 12:55] mmakarin commented on #556
+1

[2017-02-17 19:16] abologna-r7 commented on #289
useCustomTableRow is not a thing yet :/

[2017-02-17 21:18] abologna-r7 commented on #257
still nothing on this?

[2017-02-19 18:10] pgilad commented on #558
Hey - this is a real killer for us, we change `columns` dynamically and in `0.6` got to immediately see the change, now `Griddle` doesn't propagate the change at all

[2017-02-19 20:53] avivr commented on #476
We're having the same problem.
You can see live demo of the problem here - http://codepen.io/rosentalaviv/full/ZLdLLq/

[2017-02-19 20:57] avivr commented on #557
We're having the same problem, you can see demo here - http://codepen.io/rosentalaviv/full/ZLdLLq/
It seems to be related to the variable rows height.
It does not occurs you specify rowHeight property and make sure all rows are set to this height.

[2017-02-20 02:22] ryanlanciaux commented on #23
All sorry about the super delayed response on this one! (last comment from 2015). I don't think we are going to target IE8 at this time so I'm going to close this issue. Thanks a ton and sorry if this causes any trouble.

[2017-02-20 02:22] #23 closed

[2017-02-20 02:27] ryanlanciaux commented on #82
Hi everyone - I think we're going to close this one for now. Please feel free to comment if you're encountering this trouble still and sorry about the extreme delay on this one!

[2017-02-20 02:27] #82 closed

[2017-02-20 02:31] ryanlanciaux commented on #96
Sorry about the really long delay here. This is now supported through container components and plugin/customizations. Please [take a look at the latest docs](http://griddlegriddle.github.io/Griddle) if you're interested  especially [the architecture section](http://griddlegriddle.github.io/Griddle/docs/architecture/) and [the customization section](http://griddlegriddle.github.io/Griddle/docs/cust

[2017-02-20 02:31] #96 closed

[2017-02-20 02:36] ryanlanciaux commented on #100
Okay so we were _a bit off_ on our original estimate this should now be possible. Please let us know if you run in to any issues.

[2017-02-20 02:36] #100 closed

[2017-02-20 02:39] ryanlanciaux commented on #103
Griddle now supports plugins that could wrap up this functionality. [Please check out the plugins docs](http://griddlegriddle.github.io/Griddle/docs/plugins/) and if this is still something you're looking to do (I realize some time has gone since this issue was posted 😄), please let us know if you have any trouble.

[2017-02-20 02:39] #103 closed

[2017-02-20 02:47] ryanlanciaux commented on #104
Thanks for the discussion in this issue! The component has [quite a different structure](http://griddlegriddle.github.io/Griddle/docs/architecture/) compared to when this issue was active and I think it may be best if a new issue is opened if problems are still encountered. 👍

[2017-02-20 02:47] #104 closed

[2017-02-20 02:49] ryanlanciaux commented on #115
Closing this one for now -- with the latest structure, expand / collapse should be handled [as a plugin](http://griddlegriddle.github.io/Griddle/docs/plugins/)

[2017-02-20 02:49] #115 closed

[2017-02-20 02:51] ryanlanciaux commented on #121
This is a great question and one of the reasons for the architecture that we've been working on for a while now. The functionality discussed here is a great candidate for a [plugin in the latest version](http://griddlegriddle.github.io/Griddle/docs/plugins/) and we'd love to see someone make something like this!

[2017-02-20 02:51] #121 closed

[2017-02-20 02:55] ryanlanciaux commented on #116
In addition to the previous response Griddle now supports custom sorting per column ([Check out the CustomColumns section of the new docs](http://griddlegriddle.github.io/Griddle/docs/api) for more information). Please open a new issue if this is a problem with the latest version. Thanks!

[2017-02-20 02:55] #116 closed

[2017-02-20 02:56] ryanlanciaux commented on #498
Thanks for posting this -- should be fixed in latest version. 👍

[2017-02-20 02:56] #498 closed

[2017-02-20 02:57] ryanlanciaux commented on #117
Thanks for submitting this issue and I realize it's been quite some time since you posted but with the new architecture, we recommend doing this sort of thing through [customization options](http://griddlegriddle.github.io/Griddle/docs/customization/) or [as a plugin](http://griddlegriddle.github.io/Griddle/docs/plugins/). 👍

[2017-02-20 02:57] #117 closed

[2017-02-20 03:00] ryanlanciaux commented on #129
This is not something that we've been able to tackle but we'd love to see this as a plugin in the new component architecture if anyone wants to give it a shot. Please see the [plugins section](http://griddlegriddle.github.io/Griddle/docs/plugins/) for more info on how this would work.

Going to close this one for now since it's a little outside the scope of what we want to add to Griddle at this p

[2017-02-20 03:00] #129 closed

[2017-02-20 03:05] ryanlanciaux commented on #138
Thanks for the discussion here! The new component architecture is a bit more flexible and this should no longer be an issue. Closing this one for now. 👍

[2017-02-20 03:05] #138 closed

[2017-02-20 03:08] ryanlanciaux commented on #139
This should be taken care of in the latest version. We've defaulted to providing less features out of the box and assume that more things should be happening through [user-customization](http://griddlegriddle.github.io/Griddle/docs/customization/) or [plugins](http://griddlegriddle.github.io/Griddle/docs/plugins/).

[2017-02-20 03:08] #139 closed

[2017-02-20 03:13] ryanlanciaux commented on #151
I realize that this issue is a bit older but we have released a new version of Griddle. We've defaulted to providing less features out of the box (like row selection) but added additional [customization options](http://griddlegriddle.github.io/Griddle/docs/customization/) and the ability for [user/community plugins](http://griddlegriddle.github.io/Griddle/docs/plugins/).

In addition to this, the

[2017-02-20 03:13] #151 closed

[2017-02-20 03:17] ryanlanciaux commented on #142
This is possible with the latest version, if nothing else, by providing a sortMethod on the `ColumnDefinition` for the column in question. Please see the [API documentation](http://griddlegriddle.github.io/Griddle/docs/api/) for more information.

[2017-02-20 03:17] #142 closed

[2017-02-20 03:19] ryanlanciaux commented on #144
With the latest version of Griddle, we're taking the approach that there are many things that would be best as plugins. Closing this one for now but please [see the plugin docs](http://griddlegriddle.github.io/Griddle/docs/plugins/) if anyone wants to add this functionality as a plugin 👍

[2017-02-20 03:19] #144 closed

[2017-02-20 03:22] ryanlanciaux commented on #148
I realize it's been a **long time** since we've followed up on this one but this is now possible. Please [see the Google map example on the new Griddle docs](http://griddlegriddle.github.io/Griddle/examples/asMap/) to see this in action (search for 'simpson' for instance).

[2017-02-20 03:22] #148 closed

[2017-02-20 03:27] ryanlanciaux commented on #152
I know it's been over a year but we have released a version of Griddle that allows this customization we've been working towards. Additionally, the state management is a lot more consistent.

Closing for now but please feel free to open a new issue if problems are encountered. 👍

[2017-02-20 03:27] #152 closed

[2017-02-20 03:31] ryanlanciaux commented on #153
Thank you all for this discussion! We have tried to make the core version of Griddle have less features but add a [customization](http://griddlegriddle.github.io/Griddle/docs/customization/) and [plugin](http://griddlegriddle.github.io/Griddle/docs/plugins/) architecture. We'd love to see this functionality exist as a plugin but this will not be part of core Griddle for now.

If anyone wants to ta

[2017-02-20 03:31] #153 closed

[2017-02-20 03:32] #163 closed

[2017-02-20 03:32] #154 closed

[2017-02-20 03:35] ryanlanciaux commented on #156
Sorry for the super long delay in this. We've made the decision to make the latest version of Griddle do less out-of-the box but provide extension points through [customization](http://griddlegriddle.github.io/Griddle/docs/customization/) or as [plugins](http://griddlegriddle.github.io/Griddle/docs/plugins/).

Closing for now but if anyone wants to take on writing a plugin -- we'd love to help.

[2017-02-20 03:35] #156 closed

[2017-02-20 03:36] ryanlanciaux commented on #157
Closing this one for now - Please see https://github.com/GriddleGriddle/Griddle/issues/156 for more info.

[2017-02-20 03:36] #157 closed

[2017-02-20 03:43] ryanlanciaux commented on #158
Closing this one for now -- in the latest version of Griddle, we've added a bit more [customization options](http://griddlegriddle.github.io/Griddle/docs/customization/) and we'd suggest adding this "fixed heading" functionality as a [customization](http://griddlegriddle.github.io/Griddle/docs/customization/) or [a plugin](http://griddlegriddle.github.io/Griddle/docs/plugins/)

[2017-02-20 03:43] #158 closed

[2017-02-20 03:44] ryanlanciaux commented on #160
Closing this one for now. Please open a new issue if additional problems are encountered. 👍

[2017-02-20 03:44] #160 closed

[2017-02-20 03:51] ryanlanciaux commented on #159
Version 1.0 supports changing the Grid layout.

See [customization guide](http://griddlegriddle.github.io/Griddle/docs/customization/) and [the api section](http://griddlegriddle.github.io/Griddle/docs/api/) for general information -- but the gist of this is as follows:

[code]

This is saying you want to create a custom `Layout` for use in Griddle. Griddle automatically passes `Table`, `SettingsW

[2017-02-20 03:51] #159 closed

[2017-02-20 03:53] ryanlanciaux commented on #161
Thanks for the discussion here -- closing for now but in addition to the recommendations here, we've added [customization options](http://griddlegriddle.github.io/Griddle/docs/customization/) that may be useful in this scenario as well.

[2017-02-20 03:53] #161 closed

[2017-02-20 03:57] ryanlanciaux commented on #167
We've released a new version of Griddle that is a lot more consistent. We are still working through quite a few linting issues but will make eslint part of our Travis build for PRs before too long. Thanks for this suggestion and sorry about the delay in getting back with you.

[2017-02-20 03:57] #167 closed

[2017-02-20 04:00] ryanlanciaux commented on #162
Hi there and sorry about the extreme delay in following up on this one! In the latest version of Griddle we've made it possible for just about every component to be passed in as a prop and would recommend that a Row component that overrides the default Griddle row be used instead of the `CustomRowComponent` from v0. The user defined Row component could handle events like onRowClick

Please [see th

[2017-02-20 04:00] #162 closed

[2017-02-20 04:03] ryanlanciaux commented on #174
Closing this one for now. We have tried to make Griddle more of a stable core for customizable datagrids and are trying to push features such as subgrids to exist as plugins. Subgrids are no longer part of core Griddle. Sorry for any problems this may cause.

[2017-02-20 04:03] #174 closed

[2017-02-20 04:06] CrossfireCurt commented on #148
Thanks Ryan!

[2017-02-20 04:06] ryanlanciaux commented on #175
In the latest version of Griddle, we've focused on building a customizable / "pluggable" architecture and have removed some features, such as Row / Cell selection.

This said, the intent is that these types of features could be created as [user/community plugins](http://griddlegriddle.github.io/Griddle/docs/plugins/).

Thanks for the discussion here but closing this one for now. 👍

[2017-02-20 04:06] #175 closed

[2017-02-20 04:10] ryanlanciaux commented on #183
Thanks for posting this issue -- This should be fixed in latest 1.0 version but please feel free to open a new issue if any problems are encountered.

[2017-02-20 04:10] #183 closed

[2017-02-20 04:15] ryanlanciaux commented on #182
I am sorry about the delay in response here but we have released a new version of Griddle that has quite a few changes. It is now possible to customize Griddle to change how the main components are positioned (see [this response to another, similar issue](https://github.com/GriddleGriddle/Griddle/issues/159#issuecomment-280982100)) or [change the components that are being rendered](http://griddleg

[2017-02-20 04:15] #182 closed

[2017-02-20 04:19] ryanlanciaux commented on #172
In the latest version of Griddle, we've changed things up quite a bit. It's now possible to override just about any of the components we use in the Grid and filter is no exception. Please [view the customization page](http://griddlegriddle.github.io/Griddle/docs/customization/) in the latest docs for an example of this ('Component Customization' section seems somewhat similar).

Closing this one f

[2017-02-20 04:19] #172 closed

[2017-02-20 04:23] ryanlanciaux commented on #178
I'm so incredibly sorry about the delay in getting back with you on this.

Griddle does use es imports / commonjs but with version 0 it is possible to include a script tag to use it as well (we're still working through the way forward with this in version 1).

We've changed things up a bit in the latest version of Griddle and the way to run it locally is clone the repo, followed by `npm install` a

[2017-02-20 04:23] #178 closed

[2017-02-20 04:27] ryanlanciaux commented on #179
Sorry about the extreme delay and thank you a ton for the feedback. We've released a new version of Griddle that changes things up quite a bit. To that end we've changed what can be customized in Griddle and the new version should support what you mention here (although in a different way than version 0).

Please [see the customization section of the latest docs](http://griddlegriddle.github.io/Gr

[2017-02-20 04:27] #179 closed

[2017-02-20 04:28] #165 closed

[2017-02-20 11:31] ryanlanciaux commented on #173
I realize some time has gone on here since this issue was active but we have released a new version of Griddle that introduces customization features that should make this quite a bit easier. Please see the [customization section](http://griddlegriddle.github.io/Griddle/docs/customization/) of the new docs for more info on how you could do this.

How I would approach this is to make a custom colum

[2017-02-20 11:31] #173 closed

[2017-02-20 11:34] ryanlanciaux commented on #114
We have changed the API a bit in the latest version but this should not be an issue. Thank you for the discussion here but closing this one for now -- please feel free to open a new issue if any problems are encountered 👍

[2017-02-20 11:34] #114 closed

[2017-02-20 11:36] ryanlanciaux commented on #169
We've changed the API in the latest version of Griddle and modified how column settings are being passed in to Griddle. This _should_ no longer be a problem in the new version but please feel free to open a new issue if any problems are encountered. 👍

[2017-02-20 11:36] #169 closed

[2017-02-20 11:39] ryanlanciaux commented on #184
This should be fixed. Please feel free to open a new issue if any problems are encountered. 👍

[2017-02-20 11:39] #184 closed

[2017-02-20 11:42] #185 closed

[2017-02-20 11:44] Cerberus commented on #552
I will make a PR to resolve this issue.

[2017-02-20 11:51] ryanlanciaux commented on #190
Multiple sort is supported in Griddle state management system ([see this test for more info](https://github.com/GriddleGriddle/Griddle/blob/master/src/plugins/local/selectors/__tests__/localSelectorsTest.js#L290)) but the direction we're taking with latest (and future versions) is to push functionality to [user / community plugins](http://griddlegriddle.github.io/Griddle/docs/plugins/) and try to

[2017-02-20 11:51] #190 closed

[2017-02-20 11:56] ryanlanciaux commented on #196
I know some time has gone on since this issue was opened but this should be possible with the latest Griddle as a [user / community plugin](http://griddlegriddle.github.io/Griddle/docs/plugins/). This sounds like it's great functionality but not something we're planning on shipping as part of the base Griddle component.

Thanks for the discussion on this but closing this one fore now 👍

[2017-02-20 11:56] #196 closed

[2017-02-20 12:02] ryanlanciaux commented on #192
I know it's been quite awhile since this issue is opened but this should no longer be an issue with the latest version of Griddle. We've changed things around quite a bit and if nothing else, there are [customization options](http://griddlegriddle.github.io/Griddle/docs/customization/) That would allow for changing out the Row component used in Griddle with a Row component you provide without fork

[2017-02-20 12:02] #192 closed

[2017-02-20 12:05] ryanlanciaux commented on #191
We've changed how Griddle handles this type of functionality in the latest version and are suggesting that most of this functionality exist as [user/community plugins](http://griddlegriddle.github.io/Griddle/docs/plugins/).

Closing this one for now but please feel free to open a new issue if any problems are encountered. 👍

[2017-02-20 12:05] #191 closed

[2017-02-20 12:09] ryanlanciaux commented on #202
Sorry about the extreme delay in responding to this one. We're not currently supporting bower in the latest version of Griddle. Sorry for any trouble that this causes.

Closing for now but please feel free to open a new issue if any problems are encountered. 👍

[2017-02-20 12:09] #202 closed

[2017-02-20 12:14] ryanlanciaux commented on #206
This should no longer be an problem with the latest version of Griddle but please feel free to open a new issue if any trouble is encountered. 👍

[2017-02-20 12:14] #206 closed

[2017-02-20 12:15] ryanlanciaux commented on #205
Sorry -- I realize that some time has gone on since this one was filed but I don't think this is applicable currently. I'm closing for now but please feel free to open a new issue if any problems are encountered.

[2017-02-20 12:15] #205 closed

[2017-02-20 12:20] ryanlanciaux commented on #209
Thanks for posting this and sorry about the extreme delay in responding. This should be possible with the latest version of Griddle to get the set of filtered rows. Please see [the customization section](http://griddlegriddle.github.io/Griddle/docs/customization/) of the latest docs for more information on how this might be accomplished.

[2017-02-20 12:20] #209 closed

[2017-02-20 14:05] leandrozapata opened #578 "Group By Example New Architecture"
In the previous web site, I could see an example of Group By,
How could you do the same with the new architecture?

Thanks, great plugin!

[2017-02-20 14:43] ryanlanciaux commented on #578
Thanks for the kind words. By group by, do you mean what we previously referred to as subgrid? If so, the thinking is that this will exist as a plugin and not shipped as part of the core Griddle in this new version.

[2017-02-21 15:34] mreishus opened #579 "Upgrade guide from 0.7 to 1.0?"
Is there an upgrade guide for 0.7 to 1.0?  I looked in the docs quickly but I couldn't find anything.

[2017-02-21 23:39] cdmcmahon opened #580 "Is there a changelog for past several releases"
In a project I collaborate on, we upgraded to 0.7.x without realizing that it broke dynamic columns (#558). Was looking to try and see what other features were added that we may be reliant on before deciding whether to find a workaround or revert to 0.6.x

I don't even see 0.7.x releases in the releases tab. Is there any changelog or feature list for those versions? Any help appreciated!

[2017-02-21 23:55] gidili commented on #580
Seconded! My team recently attempted an upgrade from 0.6 to 0.7 but had to revert because of a few issues introduced. Now  that it's out (btw congratz on the release @ryanlanciaux and team) it would be nice to switch to 1.0 but I am honestly afraid to attempt it 😂  It would be extremely useful to have a list of breaking changes from 0.6/0.7 to 1.0.

[2017-02-21 23:59] ryanlanciaux commented on #580
Thanks and sorry about the trouble! We've been working pretty fullsteam ahead on 1.0 and unfortunately have been not-so-great at keeping the change log up to speed.

The change log is currently here https://github.com/GriddleGriddle/Griddle/wiki/0.x-Changelog (a little out of date unfortunately) but we plan on updating it as changelog.md in the v0 branch soon.

We are still working on the 0.x to 1

[2017-02-22 01:30] ryanlanciaux commented on #343
Thanks for calling this out. This should now be fixed. Please feel free to follow up if you encounter any problems.

[2017-02-22 01:30] #343 closed

[2017-02-22 01:40] ryanlanciaux commented on #276
[1.0 is released](https://github.com/GriddleGriddle/Griddle/commit/2988f42dd4b3db027587694028783f6507e7848d)

Please check out the docs for more info http://griddlegriddle.github.io/Griddle/ -- We've taken the approach that the core library should mostly be just the core things that a datagrid needs (we do have a virtual scrolling plugin and local state management plugin that we ship currently) an

[2017-02-22 01:40] #276 closed

[2017-02-22 04:56] jariwalabhavesh opened #581 "Please provide documentation link for version 0.7.0"
After releasing version 1.0, i am not able to find documentation for older version 0.7.0
can any provide that link. beacuse previous link has been replaced wth new documentation for version 1.0

[2017-02-22 05:01] ryanlanciaux commented on #581
Hi there 👋 We've added the documentation for 0.x https://griddlegriddle.github.io/v0-docs/. Please let us know if that doesn't help 👍

[2017-02-22 05:01] #581 closed

[2017-02-22 05:02] jariwalabhavesh commented on #581
@ryanlanciaux : thank you very much for quick response

[2017-02-22 15:58] cdmcmahon commented on #580
👍 to @gidili's request of breaking changes to 1.0 but that seems like it will be solved by the guide mentioned by @ryanlanciaux. More pressing for me is if there are any (presumably minor) breaking changes between 0.6 and 0.7? Unfortunately, as mentioned the Changelog is out of date.

I think I've decided reverting to 0.6.1 is my course of action and will upgrade to 1.0.0 once it's ready and the g

[2017-02-22 17:50] ZachStoltz opened #582 "InfiniteScrolling in 1.0"
Hello Griddle Team!  Congrats on releasing 1.0.  Looking forward to using it.

Trying to migrate from 0.7.1 to 1.0 due to not being able to toggle column visibility out of the box and decided to just take the dive into 1.0.

Does Griddle still support Infinite Scrolling by setting a prop on the Griddle component, or is it possible now to integrate in a library like react-virtualized to handle rend

[2017-02-22 19:25] ryanlanciaux commented on #582
Thanks so much -- we're excited to have it released. If you're successfully using 0.7.1 I would wait a bit until we have the official upgrade guide complete. @joellanciaux is kind of taking point on that one but it likely won't be too far off. That said, with the architecture changes, some of the plugins are not baked in to core Griddle and will be coming shortly there-after as plugins (namely sub

[2017-02-22 19:39] ZachStoltz commented on #582
ahh nice!  That is what I am looking for.
Only place I didn't look to see about the virtual scrolling was in the stories dir! :smile:

Thanks for the speedy response!